<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">

<head>

    <link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>

    <script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>
    <script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>
</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Manage Bank </div>
                <div class="panel-body" >
                    <!--<form action="'/Customer/customerIndx/E/'+${pageId}+'/'+${temltId}"-->
                          <!--th:action="@{'/Customer/customerIndx/E/'+${pageId}+'/'+${temltId}}" th:object="${search}">-->

                    <form  th:if="${crt}=='N'" id="searchform" action="'/Bank/bankIndex/E/'+${pageId}+'/'+${temltId}"
                            th:action="@{'/Bank/bankIndex/E/'+${pageId}+'/'+${temltId}}" th:object="${search}">

                        <!--<div class="form-group" >-->
                            <!--<label for="inputname">Name</label>-->
                            <!--<input type="text" class="form-control" id="inputname" placeholder="Supplier Name" th:field="*{name}" name="name" />-->
                            <!--&lt;!&ndash;<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>&ndash;&gt;-->
                            <!--<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>-->
                        <!--</div>-->

                        <div class="form-group required col-sm-12" >

                            <label class="col-sm-3 control-label " for="bankname" >Bank Name</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control " required="required" placeholder="Bank Name" type="text" id="bankname"
                                             th:field="*{bankname}" name="Sname"/>
                                <input class="form-control "  placeholder="Bank Name" type="hidden" id="inputnameid"
                                       name="Bnameid"/>

                                <script th:inline="javascript">




                                    var urlval ='/AYE/ACRC/getBankList';
                                    var displayfield = '#bankname';
                                    var dbfield = '#inputnameid'
                                    var getvalue = 'bankName';
                                    var template='bankCode'
                                    //var temp='column.createdBy'


                                    autocomwithtemplate(urlval, getvalue, displayfield, dbfield,template);







                                </script>



                            </div>


                        </div>

                        <div class="form-group required col-sm-12" >

                            <label class="col-sm-3  " for="inputbankcode" >Bank code</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control "  placeholder="Bank Code" type="text" id="inputbankcode"
                                       th:field="*{bankcode}" name="bankcode"/>
                                <input class="form-control "  placeholder="Bank Code" type="hidden" id="inputbankcodeid"
                                        name="bankcodeid"/>
                                <span class="help-block" th:if="${#fields.hasErrors('bankcode')}"
                                      th:errors="*{bankcode}">address Error</span>
                                <script th:inline="javascript">



                                    var urlval ='/AYE/ACRC/getBankList';
                                    var displayfield = '#inputbankcode';
                                    var dbfield = '#inputbankcodeid'
                                    var getvalue = 'bankCode';
                                    autocom(urlval, getvalue, displayfield, dbfield);

                                </script>
                            </div>

                        </div>




                        <!--<div class="form-group">-->
                            <!--<label for="inputAddress">Address</label>-->
                            <!--<input type="text" class="form-control" id="inputAddress" placeholder="Supplier Address" th:field="*{address}" name="address" />-->
                            <!--&lt;!&ndash;<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>&ndash;&gt;-->
                            <!--<span class="help-block" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Name Error</span>-->
                        <!--</div>-->
                        <div class="text-right Padding10px" >
                            <!--commonCodesAdd/{mode}/{pageId}/{temltId}-->
                            <!--<a th:href="@{/Common/commonCodesAdd/}+'E/'+${pageId}+'/'+${temltId}" class="btn btn-default">Cancel</a>-->
                            <button type="submit" class="btn btn-primary" >Search</button>
                            <a th:href="@{/Bank/bankCrt/E/} + ${pageId}+'/'+${{temltId}}"
                               title="Edit Customer Informations" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true">Create</span></a>
                        </div>


                    </form>

                    <table th:if="${crt}=='N'" id="hdrlist" class="table table-bordered table-hover table-striped">

                        <thead>
                        <tr>
                            <th>Bank Name</th>
                            <th>Code</th>
                            <th>Account Show/hide</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        <div th:if="!${#lists.isEmpty(banks)}">
                            <div th:each="bank : ${banks}">
                                <tr>
                                    <td rowspan="2" th:text="*{bank.bankName}"></td>
                                    <td th:text="*{bank.bankCode}"></td>
                                    <td width="10px"><a href="#" th:id="${bank.id}" th:title="${bank.id}">Click</a></td>

                                    <td>
                                        <div class="btn-group" role="group" aria-label="...">


                                            <a  th:href="@{/Bank/bank/} + ${pageId}+'/'+${temltId}+'/'+${bank.id}"
                                                title="Edit Supplier Informations" class="btn btn-success">
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>

                                            <a th:href="@{/Bank/bankLine/E/} + ${pageId}+'/'+${{temltId}}+'/'+${bank.id}"
                                               title="Edit Supplier Informations" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>

                                        </div>
                                    </td>
                                    </tr>


                                <tr>
                                    <td colspan="3" >
                                        <div th:id="extra+${bank.id}" style="display: none; " th:if="!${#lists.isEmpty(bank.bankLines)}">
                                            <div class="col-sm-12 " style="padding-bottom: 20px; padding-left: 0px;">
                                                <div  colspan="6" style="text-align: left ; background-color:#D5DBDB; color: #222222;" class="colps_div_hdr col-sm-6">
                                                    Account Informations</div>
                                                <div class="col-sm-12 colps_div_hdr" th:each="bkl : ${bank.bankLines}" >
                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent" th:text="'Unit : '+*{bkl.orgHierarchy.code}"></div>
                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent" th:text="'A/C  : '+*{bkl.accountName}"></div>
                                                    <div class="col-sm-4 " style="border-right: 1px solid transparent"  th:text="'A/C No. : '+*{bkl.accountNumber}"></div>

                                                    <!--<div class="col-sm-3 " style="border-right: 1px solid transparent" th:text="*{bkl.branch}"></div>-->
                                                    <!--<div class="col-sm-3 " style="border-right: 1px solid transparent" th:text="*{bkl.address}"></div>-->
                                                    <!--<div class="col-sm-3 " style="border-right: 1px solid transparent"  th:text="*{bkl.accCodeCombinitions.segment2}"></div>-->
                                                    <div class=" col-sm-2 btn-group" role="group" aria-label="..." align="right">

                                                        <a th:href="@{/Bank/bankLine/E/} + ${pageId}+'/'+${temltId}+'/'+${bank.id}+'/'+${bkl.id}" title="Edit Site"
                                                           class="smbtn btn-success">
                                                            <span class="glyphicon glyphicon-edit" aria-hidden="true">Edit Site</span></a>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12 " style="padding-bottom: 20px; padding-left: 0px;">
                                                <div  colspan="6" style="text-align: left ; background-color:#D5DBDB; color: #222222;" class="colps_div_hdr col-sm-6">
                                                     Address</div>
                                                <div class="col-sm-12 colps_div_hdr" th:each="bkl : ${bank.bankLines}" >
                                                    <!--<div class="col-sm-3 " style="border-right: 1px solid transparent" th:text="*{bkl.orgHierarchy.code}"></div>-->
                                                    <!--<div class="col-sm-3 " style="border-right: 1px solid transparent" th:text="*{bkl.accountName}"></div>-->
                                                    <!--<div class="col-sm-3 " style="border-right: 1px solid transparent"  th:text="*{bkl.accountNumber}"></div>-->

                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent" th:text="'Branch : '+*{bkl.branch}"></div>
                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent"  th:text="'A/C. Code : '+*{bkl.accCodeCombinitions.segment2}"></div>
                                                    <div class="col-sm-4 " style="border-right: 1px solid transparent" th:text="'Address : '+*{bkl.address}"></div>
                                                    <div class=" col-sm-2 btn-group" role="group" aria-label="..." align="right">

                                                        <a th:href="@{/Bank/bankLine/E/} + ${pageId}+'/'+${temltId}+'/'+${bank.id}+'/'+${bkl.id}" title="Edit Site"
                                                           class="smbtn btn-success">
                                                            <span class="glyphicon glyphicon-edit" aria-hidden="true">Edit Site</span></a>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12 " style="padding-bottom: 20px; padding-left: 0px;">
                                                <div  colspan="6" style="text-align: left ; background-color:#D5DBDB; color: #222222;" class="colps_div_hdr col-sm-6">
                                                    Contract Informations</div>
                                                <div class="col-sm-12 colps_div_hdr" th:each="bkl : ${bank.bankLines}" >
                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent" th:text="'Moblie : '+*{bkl.phoneNumber}"></div>
                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent" th:text="'Fax : '+*{bkl.fax}"></div>
                                                    <div class="col-sm-4 " style="border-right: 1px solid transparent"  th:text="'Email : '+*{bkl.email}"></div>

                                                    <!--<div class="col-sm-3 " style="border-right: 1px solid transparent" th:text="*{bkl.branch}"></div>-->
                                                    <!--<div class="col-sm-3 " style="border-right: 1px solid transparent" th:text="*{bkl.address}"></div>-->
                                                    <!--<div class="col-sm-3 " style="border-right: 1px solid transparent"  th:text="*{bkl.accCodeCombinitions.segment2}"></div>-->
                                                    <div class=" col-sm-2 btn-group" role="group" aria-label="..." align="right">

                                                        <a th:href="@{/Bank/bankLine/E/} + ${pageId}+'/'+${temltId}+'/'+${bank.id}+'/'+${bkl.id}" title="Edit Site"
                                                           class="smbtn btn-success">
                                                            <span class="glyphicon glyphicon-edit" aria-hidden="true">Edit Site</span></a>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>

                                <script th:inline="javascript">
                                    var a='#'+[[${bank.id}]];
                                    //alert(a);
                                    $(a).click(function() {
                                        var dbfield = [[${bank.id}]];
                                        var df='#extra'+[[${bank.id}]];
                                        $(df + $(this).attr('id').substr(5)).slideToggle("slow");
                                        event.preventDefault();

                                    });
                                    //                        $("a[id^=show_]").click(function(event) {
                                    //                            $("#extra_" + $(this).attr('id').substr(5)).slideToggle("slow");
                                    //                            event.preventDefault();
                                    //                        })
                                </script>

                                <!--<tr>-->
                                <!--<td></td>-->
                                <!--<td colspan="6">-->
                                    <!--<div th:if="!${#lists.isEmpty(bank.bankLines)}" >-->
                                        <!--<table  class="table" style="margin-bottom: 0px;" >-->

                                            <!--<th colspan="4" style="line-height: 0px;text-align: center "  >Account Informations</th>-->
                                            <!--&lt;!&ndash;<th style="line-height: 0px ">Site Name</th>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<th  style="line-height: 0px ">Site Address</th>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<th  style="line-height: 0px "></th>&ndash;&gt;-->

                                            <!--<tr  th:each="bkl : ${bank.bankLines}">-->

                                                <!--<td th:text="*{bkl.orgHierarchy.code}"></td>-->
                                                <!--<td th:text="*{bkl.accountName}"></td>-->
                                                <!--<td th:text="*{bkl.accountNumber}"></td>-->
                                                <!--<td th:text="*{bkl.branch}"></td>-->
                                                <!--<td th:text="*{bkl.address}"></td>-->
                                                <!--<td th:text="*{bkl.accCodeCombinitions.segment2}"></td>-->
                                                <!--<td th:text="*{bkl.phoneNumber}"></td>-->
                                                <!--<td th:text="*{bkl.fax}"></td>-->
                                                <!--<td th:text="*{bkl.email}"></td>-->


                                                <!--<td>-->

                                                    <!--<div class="btn-group" role="group" aria-label="...">-->

                                                        <!--<a th:href="@{/Bank/bankLine/E/} + ${pageId}+'/'+${temltId}+'/'+${bank.id}+'/'+${bkl.id}"-->
                                                           <!--title="Edit Site"-->
                                                           <!--class="smbtn btn-success">-->
                                                            <!--<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>-->

                                                    <!--</div>-->
                                                <!--</td>-->
                                            <!--</tr>-->
                                        <!--</table>-->

                                    <!--</div>-->
                                <!--</td>-->
                            <!--</tr>-->

                                <!--</tr>-->
                            </div>
                        </div>
                        </tbody>

                    </table>















                    <form  th:if="${crt}==Y" id="crtform" action="'/Bank/bank/'+${mode}+'/'+${pageId}+'/'+${temltId}" th:action="@{'/Bank/bank/'+${mode}+'/'+${pageId}+'/'+${temltId}}"
                           th:object="${bank}" th:method="post">
                        <!--+${role.role}  +${role.role}-->
                        <span style="color: #ed1c24;font-weight: bold" th:text="${msg}"  ></span>

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputid" placeholder="Id" th:field="*{id}" name="id" />
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">User Name Error</span>
                        </div>

                        <div class="form-group required col-sm-12"  >
                            <label class="col-sm-3 control-label " for="inputbankName" >Bank Name</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control " required="required"  placeholder="Bank Name" type="text" id="inputbankName"
                                       th:field="*{bankName}" name="bankName"/>


                                <span class="help-block" th:if="${#fields.hasErrors('bankName')}" th:errors="*{bankName}">Bank Name Error</span>








                            </div>
                        </div>


                        <!--<div class="form-group">-->
                            <!--<label for="inputsupplierName">Name</label>-->
                            <!--<input type="text" class="form-control" id="inputsupplierName" placeholder="supplierName" th:field="*{supplierName}" name="supplierName" />-->
                            <!--&lt;!&ndash;<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>&ndash;&gt;-->
                            <!--<span class="help-block" th:if="${#fields.hasErrors('supplierName')}" th:errors="*{supplierName}">Customer Name Error</span>-->
                        <!--</div>-->

                        <div class="form-group required col-sm-12" >
                            <label class="col-sm-3 control-label " for="inputbankCode" >Bank Code</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control " required="required"  placeholder="Bank Code" type="text" id="inputsupplierName"
                                       th:field="*{bankCode}" name="bankCode"/>
                                <span class="help-block" th:if="${#fields.hasErrors('bankCode')}" th:errors="*{bankCode}">bankCode Error</span>
                            </div>
                        </div>



                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumn" placeholder="column" th:field="*{column.createdBy}" name="column" />
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('column.createdBy')}" th:errors="*{column.createdBy}">User Name Error</span>
                        </div>

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumnDate" placeholder="columnDate" th:field="*{column.creationDate}" name="columnDate" />
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('column.creationDate')}" th:errors="*{column.creationDate}">User Name Error</span>
                        </div>


                        <div class="text-right">
                            <!--commonCodesAdd/{mode}/{pageId}/{temltId}-->
                            <a th:href="@{'/Bank/bankIndex/E/'+${pageId}+'/'+${temltId}}" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>


                    </form>


                        <table th:if="${crt}==Y" class="table table-bordered table-hover table-striped" style="margin-bottom: 0px;" >
                            <tr>
                            <th>Bank Name</th>
                            <th>Bank Code</th>

                            <th>Action</th>
                            </tr>
                            <tr  th:each="newbank : ${banknew}">
                                <td th:text="*{newbank.bankName}"></td>
                                <td th:text="*{newbank.bankCode}"></td>

                                <td>
                                    <div class="btn-group" role="group" aria-label="...">


                                        <a  th:href="@{/Bank/bank/} + ${pageId}+'/'+${temltId}+'/'+${newbank.id}"
                                            title="Edit Bank Informations" class="btn btn-success">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>

                                        <a th:href="@{/Bank/bankLine/E/} + ${pageId}+'/'+${{temltId}}+'/'+${newbank.id}"
                                           title="Add Bank Details" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>

                                    </div>
                                </td>
                            </tr>
                            </table>

                </div>
                <div class="panel-footer">
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
