<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <script>
        function callApi()
        {

        }
    </script>
</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Search Common Codes</div>
                <div class="panel-body" >
                    <form th:action="@{'/Common/search/'+${mode}+'/'+${pageId}+'/'+${temltId}}"
                           th:object="${commonCodes}" th:method="post">
                        <!--+${role.role}  +${role.role}-->

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputid" placeholder="Id" th:field="*{id}" name="id" />
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">User Name Error</span>
                        </div>

                        <div class="form-group">
                            <label for="inputtypes">Types</label>
                            <select class="form-control" id="inputtypes" placeholder="Types" th:field="*{types}" name="types" autofocus>
                            <option value="">select one</option>
                            <option th:each="t : ${types}"
                                    th:text="${t}"
                                    th:value="${t}"></option>
                            </select>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('types')}" th:errors="*{types}">Sehemnt Name Error</span>
                        </div>

                        <div class="form-group">
                            <label for="inputcodes">Codes</label>
                            <input type="text" class="form-control" id="inputcodes" placeholder="Codes" th:field="*{codes}" name="codes" />
                            <span class="help-block" th:if="${#fields.hasErrors('codes')}" th:errors="*{codes}">Description Error</span>
                        </div>

                        <div class="form-group">
                            <label for="inputcodeDetail">Detail Information</label>
                            <input type="text" class="form-control" id="inputcodeDetail" placeholder="codeDetail" th:field="*{codeDetail}" name="codeDetail" />
                            <span class="help-block" th:if="${#fields.hasErrors('codeDetail')}" th:errors="*{codeDetail}">Description Error</span>
                        </div>

                        <div class="form-group">
                            <!--<label for="inputActive">Active</label>-->
                            <input type="hidden" class="form-control" id="inputActive" placeholder="active" th:field="*{active}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('active')}" th:errors="*{active}">Active Error</span>
                        </div>




                        <div class="text-right">
                            <!--commonCodesAdd/{mode}/{pageId}/{temltId}-->
                            <a id="btn" th:href="@{/Common/commonCodesAdd/}+'E/'+${pageId}+'/'+${temltId}" class="btn btn-default">New</a>
                            <button type="submit" class="btn btn-primary">Search</button>


                        </div>

                    </form>


                    <div class="row">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Code</th>
                            <th>Detail</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:if="!${#lists.isEmpty(codeIndex)}">
                            <tr th:each="codes : ${codeIndex}">
                                <td th:text="*{codes.types}"></td>
                                <td th:text="*{codes.codes}"></td>
                                <td th:text="*{codes.codeDetail}"></td>
                                <td th:text="*{(codes.active ? 'Active':'Inactive')}"></td>
                                <td>
                                    <!--<div class="btn-group" role="group" aria-label="...">-->
                                    <!--<a th:href="@{/OM/segmentEdit/} + ${seg.id}+'/'+${pageId}"-->
                                    <!--class="btn btn-success"><span-->
                                    <!--class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>-->

                                    <!--</div>-->

                                    <div class="btn-group" role="group" aria-label="...">


                                        <a th:href="@{/Common/commonCodesAdd/}+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${codes.id}+'/'+1" title="Edit" class="btn btn-primary"><span
                                                class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>

                                    </div>
                                </td>

                            </tr>
                        </div>
                        <div th:if="${#lists.isEmpty(codeIndex)}">
                            <tr>
                                <td>No Data exists!</td>
                            </tr>
                        </div>

                        </tbody>


                    </table>
                    <!--<div th:if="${codeIndex.totalPages  > 0}" class="pagination justify-content-center font-weight-medium page-item page-link svg-icon"-->
                         <!--th:each="pageNumber : ${pageNumbers}">-->
                        <!--<a th:href="@{'/Common/commonCodesAdd/'+${mode}+'/'+ ${pageId}+'/'+${temltId}+'/'+-->
                                <!--${pageNumber+1}}"-->
                           <!--th:text="${pageNumber}"-->
                           <!--th:class="${pageNumber==codeIndex.number + 1} ? active"></a>-->
                    <!--</div>-->
                        <div >
                            <table class="table table-bordered table-hover table-striped">
                                <!--<tr ><td colspan="9" style="background-color: #EDEDED; text-align:right; padding-top: 2px !important; padding-bottom: 2px !important;">-->
                                <div id="demo" th:if="!${#lists.isEmpty(pagbleDatas)}">



                                    <nav aria-label="Pagination" th:if="${pagbleDatas.totalPages gt 0}">
                                        <ul class="pagination justify-content-center font-weight-medium" style="margin: 0px 0px !important;">

                                            <li class="page-item"
                                                th:classappend="${i eq 0} ? 'disabled'"
                                                th:each="i : ${pagbleDatas.number }">

                                                <a class="page-link svg-icon"
                                                   aria-label="Previous"
                                                   title="Previous PageMunna" rel="tooltip"
                                                   th:href="@{'/'+${controllerPath}+'/search/'+${mode}+'/'+ ${pageId}+'/'+${temltId}+'/'+ ${i}}">
                                                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-left" width="20" height="20"></span>
                                                </a>
                                            </li>

                                            <li class="page-item" th:classappend="${i eq pagbleDatas.number + 1} ? 'active'"
                                                th:each="i : ${#numbers.sequence( pagbleDatas.number + 1,
                                    pagbleDatas.totalPages > 5 + pagbleDatas.number ? pagbleDatas.number + 5 : pagbleDatas.totalPages, 1)}">
                                                <a class="page-link" th:text="${i}" th:title="${'Page '+ i}" rel="tooltip"
                                                   th:href="@{'/'+${controllerPath}+'/search/'+${mode}+'/'+ ${pageId}+'/'+${temltId}+'/'+ ${i}}"></a>

                                            </li>


                                        </ul>


                                    </nav>


                                </div>

                                <!--</td></tr>-->
                            </table>
                    </div>

                        </div>











                </div>
                <div class="panel-footer">
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
