<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>

    <script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>
    <script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>
</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Manage Customer</div>
                <div class="panel-body" >
                    <form th:if="${crt}=='N'" id="searchform" action="'/Customer/customerIndx/E/'+${pageId}+'/'+${temltId}"
                          th:action="@{'/Customer/customerIndx/E/'+${pageId}+'/'+${temltId}}" th:object="${search}">
                        <!--<div class="form-group">-->
                        <!--<label for="inputname">Name</label>-->
                        <!--<input type="text" class="form-control" id="inputname" placeholder="Customer Name" th:field="*{name}" name="name" />-->
                        <!--&lt;!&ndash;<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>&ndash;&gt;-->
                        <!--<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>-->
                        <!--</div>-->


                        <!--<div class="form-group">-->
                        <!--<label for="inputAddress">Address</label>-->
                        <!--<input type="text" class="form-control" id="inputAddress" placeholder="Customer Address" th:field="*{address}" name="address" />-->
                        <!--&lt;!&ndash;<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>&ndash;&gt;-->
                        <!--<span class="help-block" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Name Error</span>-->
                        <!--</div>-->

                        <div class="form-group  col-sm-12" >

                            <label class="col-sm-3 control-label " for="inputname" >Customer Name</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control "  placeholder="Customer Name" type="text" id="inputname"
                                       th:field="*{name}" name="Sname"/>
                                <input class="form-control "  placeholder="Customer Name" type="hidden" id="inputnameid"
                                       name="Snameid"/>

                                <script th:inline="javascript">



                                    var urlval ='/AYE/ACRC/getCustomerList';
                                    var displayfield = '#inputname';
                                    var dbfield = '#inputnameid'
                                    var getvalue = 'customerName';
                                    autocom(urlval, getvalue, displayfield, dbfield);

                                </script>




                            </div>


                        </div>

                        <div class="form-group required col-sm-12" >

                            <label class="col-sm-3  " for="inputname" >Customer Address</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control "  placeholder="Customer Address" type="text" id="inputAddress"
                                       th:field="*{address}" name="address"/>
                                <span class="help-block" th:if="${#fields.hasErrors('address')}"
                                      th:errors="*{address}">address Error</span>
                            </div>

                        </div>


                        <div class="text-right Padding10px" >
                            <!--commonCodesAdd/{mode}/{pageId}/{temltId}-->
                            <!--<a th:href="@{/Common/commonCodesAdd/}+'E/'+${pageId}+'/'+${temltId}" class="btn btn-default">Cancel</a>-->
                            <button type="submit" class="btn btn-primary">Search</button>

                            <a th:href="@{/Customer/customerIndexCrt/E/} + ${pageId}+'/'+${{temltId}}"
                               title="Create Customer Informations" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true">Create</span></a>
                        </div>


                    </form>



                    <table th:if="${crt}=='N'" id="hdrlist" class="table table-bordered table-hover table-striped marginbtm10px">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Fax</th>
                            <th>E-Mail</th>
                            <th>Person</th>
                            <th>Site Show/ Hide</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:if="!${#lists.isEmpty(customers)}">
                            <div th:each="cust : ${customers}">
                                <tr >
                                    <td rowspan="2" th:text="*{cust.customerName}"></td>
                                    <td th:text="*{cust.address}"></td>
                                    <td th:text="*{cust.phoneNumber}"></td>
                                    <td th:text="*{cust.fax}"></td>
                                    <td th:text="*{cust.email}"></td>
                                    <td th:text="*{cust.personName}"></td>
                                    <td width="10px"><a href="#" th:id="${cust.id}" th:title="${cust.id}">Click</a></td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="..."   >


                                            <a th:href="@{/Customer/customer/}+'U'+'/' + ${pageId}+'/'+${temltId}+'/'+${cust.id}"
                                               title="Edit Customer Informations" class="btn btn-success" >
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>

                                            <a th:href="@{/Customer/customerLine/E/} + ${pageId}+'/'+${{temltId}}+'/'+${cust.id}"
                                               title="Add Customer Sites" class="btn btn-primary" >
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>


                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="7" >
                                        <div th:id="extra+${cust.id}" style="display: none; " th:if="!${#lists.isEmpty(cust.customerLines)}">
                                            <div class="col-sm-12 " style="padding-bottom: 20px; padding-left: 0px;">
                                            <div  colspan="6" style="text-align: left ; background-color:#D5DBDB; color: #222222;" class="colps_div_hdr col-sm-6">
                                                Site Informations</div>
                                            <div class="col-sm-12 colps_div_hdr" th:each="custl : ${cust.customerLines}" >
                                                <div class="col-sm-3 " style="border-right: 1px solid transparent" th:text="*{custl.orgHierarchy.code}"></div>
                                                <div class="col-sm-3 " style="border-right: 1px solid transparent" th:text="*{custl.siteName}"></div>
                                                <div class="col-sm-3 " style="border-right: 1px solid transparent"  th:text="*{custl.siteAddress}"></div>
                                                <div class=" col-sm-3 btn-group" role="group" aria-label="..." align="right">

                                                    <a th:href="@{/Customer/customerLine/E/} + ${pageId}+'/'+${temltId}+'/'+${cust.id}+'/'+${custl.id}" title="Edit Site"
                                                       class="smbtn btn-success">
                                                        <span class="glyphicon glyphicon-edit" aria-hidden="true">Edit Site</span></a>

                                                </div>
                                                </div>
                                                </div>

                                        </div>
                                    </td>
                                </tr>

                                <script th:inline="javascript">
                                    var a='#'+[[${cust.id}]];
                                    //alert(a);
                                    $(a).click(function() {
                                        var dbfield = [[${cust.id}]];
                                        var df='#extra'+[[${cust.id}]];
                                        $(df + $(this).attr('id').substr(5)).slideToggle("slow");
                                                                    event.preventDefault();

                                    });
                                    //                        $("a[id^=show_]").click(function(event) {
                                    //                            $("#extra_" + $(this).attr('id').substr(5)).slideToggle("slow");
                                    //                            event.preventDefault();
                                    //                        })
                                </script>
                            </div>
                        </div>
                        <div th:if="${#lists.isEmpty(customers)}">
                            <tr>
                                <td>No Data exists!</td>
                            </tr>
                        </div>

                        </tbody>


                    </table>






                    <form th:if="${crt}=='Y'" id="crtform" action="'/Customer/customer/'+${mode}+'/'+${pageId}+'/'+${temltId}" th:action="@{'/Customer/customer/'+${mode}+'/'+${pageId}+'/'+${temltId}}"
                          th:object="${customer}" th:method="post">
                        <!--+${role.role}  +${role.role}-->
                        <span style="color: #ed1c24;font-weight: bold" th:text="${msg}"  ></span>





                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputid" placeholder="Id" th:field="*{id}" name="id" />
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">User Name Error</span>
                        </div>

                        <div class="form-group required col-sm-12" >
                            <label class="col-sm-3 control-label " for="inputcustomerName" >Customer Name</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control " required="required"  placeholder="Customer Name" type="text" id="inputcustomerName"
                                       th:field="*{customerName}" name="customerName"/>
                                <span class="help-block" th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}">Customer Name Error</span>
                            </div>
                        </div>


                        <!--<div class="form-group">-->
                        <!--<label for="inputsupplierName">Name</label>-->
                        <!--<input type="text" class="form-control" id="inputsupplierName" placeholder="supplierName" th:field="*{supplierName}" name="supplierName" />-->
                        <!--&lt;!&ndash;<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>&ndash;&gt;-->
                        <!--<span class="help-block" th:if="${#fields.hasErrors('supplierName')}" th:errors="*{supplierName}">Customer Name Error</span>-->
                        <!--</div>-->

                        <div class="form-group required col-sm-12" >
                            <label class="col-sm-3 control-label " for="inputname" >Customer Address</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control " required="required"  placeholder="Customer Address" type="text" id="inputsupplierName"
                                       th:field="*{address}" name="address"/>
                                <span class="help-block" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Customer Name Error</span>
                            </div>
                        </div>

                        <!--<div class="form-group">-->
                        <!--<label for="inputaddress">Address</label>-->
                        <!--<input type="text" class="form-control" id="inputaddress" placeholder="address" th:field="*{address}" name="address" />-->
                        <!--&lt;!&ndash;<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>&ndash;&gt;-->
                        <!--<span class="help-block" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</span>-->
                        <!--</div>-->


                        <div class="form-group required col-sm-12" >
                            <label class="col-sm-3  " for="inputphoneNumber" >Phone Number</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control "   placeholder="phoneNumber" type="text" id="inputphoneNumber"
                                       th:field="*{phoneNumber}" name="address"/>
                                <span class="help-block" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Supplier Name Error</span>
                            </div>
                        </div>

                        <!--<div class="form-group">-->
                        <!--<label for="inputphoneNumber">Phone Number</label>-->
                        <!--<input type="tel" class="form-control" id="inputphoneNumber" placeholder="phoneNumber" th:field="*{phoneNumber}" name="phoneNumber" />-->
                        <!--&lt;!&ndash;<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>&ndash;&gt;-->
                        <!--<span class="help-block" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone Number Error</span>-->
                        <!--</div>-->

                        <div class="form-group required col-sm-12" >
                            <label class="col-sm-3  " for="inputfax" >Fax</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control "   placeholder="Fax" type="text" id="inputfax"
                                       th:field="*{fax}" name="address"/>
                                <span class="help-block" th:if="${#fields.hasErrors('fax')}" th:errors="*{fax}">Fax Name Error</span>
                            </div>
                        </div>

                        <!--<div class="form-group">-->
                        <!--<label for="inputfax">Fax</label>-->
                        <!--<input type="text" class="form-control" id="inputfax" placeholder="fax" th:field="*{fax}" name="fax" />-->
                        <!--&lt;!&ndash;<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>&ndash;&gt;-->
                        <!--<span class="help-block" th:if="${#fields.hasErrors('fax')}" th:errors="*{fax}">Fax Error</span>-->
                        <!--</div>-->


                        <div class="form-group required col-sm-12" >
                            <label class="col-sm-3  " for="inputemail" >E-mail</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control "   placeholder="Email" type="text" id="inputemail"
                                       th:field="*{email}" name="inputemail"/>
                                <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">inputemail Name Error</span>
                            </div>
                        </div>

                        <!--<div class="form-group">-->
                        <!--<label for="inputemail">E-mail</label>-->
                        <!--<input type="email" class="form-control" id="inputemail" placeholder="email" th:field="*{email}" name="email" />-->
                        <!--&lt;!&ndash;<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>&ndash;&gt;-->
                        <!--<span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</span>-->
                        <!--</div>-->

                        <div class="form-group required col-sm-12" >
                            <label class="col-sm-3  " for="inputpersonName" >Person Name</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control "   placeholder="Person Name" type="text" id="inputpersonName"
                                       th:field="*{personName}" name="personName"/>
                                <span class="help-block" th:if="${#fields.hasErrors('personName')}" th:errors="*{personName}">Person Name Name Error</span>
                            </div>
                        </div>

                        <div class="form-group required col-sm-12" >
                            <label class="col-sm-3  " for="inputcreditLimit" >Credit Limit</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control" type="text" id="inputcreditLimit" th:field="*{creditLimit}" name="creditLimit" placeholder="Credit Limit"/>

                                <span class="help-block" th:if="${#fields.hasErrors('creditLimit')}"
                                      th:errors="*{creditLimit}">Status Error</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumn" placeholder="column" th:field="*{column.createdBy}" name="column" />
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('column.createdBy')}" th:errors="*{column.createdBy}">User Name Error</span>
                        </div>

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumnDate" placeholder="columnDate" th:field="*{column.creationDate}" name="columnDate" />
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('column.creationDate')}" th:errors="*{column.creationDate}">User Name Error</span>
                        </div>

                        <div class="text-right Padding10px">
                            <!--commonCodesAdd/{mode}/{pageId}/{temltId}-->
                            <a th:href="@{'/Customer/customerIndx/E/'+${pageId}+'/'+${temltId}}" class="btn btn-default">Cancel</a>

                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>


                    </form>


                    <table th:if="${crt}=='Y'" class="marginbtm10px table table-bordered table-hover table-striped" style="margin-bottom: 0px;" >
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Fax</th>
                            <th>E-Mail</th>
                            <th>Person</th>
                            <th>Action</th>
                        </tr>
                        <tr  th:each="newcust : ${customernew}">
                            <td th:text="*{newcust.customerName}"></td>
                            <td th:text="*{newcust.address}"></td>
                            <td th:text="*{newcust.phoneNumber}"></td>
                            <td th:text="*{newcust.fax}"></td>
                            <td th:text="*{newcust.email}"></td>
                            <td th:text="*{newcust.personName}"></td>
                            <td>
                                <div class="btn-group" role="group" aria-label="...">


                                    <!--<a  th:href="@{/Customer/customer/} + ${pageId}+'/'+${temltId}+'/'+${newcust.id}"-->
                                        <!--title="Edit Customer Informations" class="btn btn-success">-->
                                        <!--<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>-->

                                    <!--<a th:href="@{/Customer/customer/E/} + ${pageId}+'/'+${{temltId}}+'/'+${newcust.id}"-->
                                       <!--title="Add Customer Details" class="btn btn-primary">-->
                                        <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>-->

                                    <a th:href="@{/Customer/customer/}+'U'+'/' + ${pageId}+'/'+${temltId}+'/'+${newcust.id}"
                                       title="Edit Customer Informations" class="btn btn-success" >
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>

                                    <a th:href="@{/Customer/customerLine/E/} + ${pageId}+'/'+${{temltId}}+'/'+${newcust.id}"
                                       title="Add Customer Sites" class="btn btn-primary" >
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>

                                </div>
                            </td>
                        </tr>
                    </table>











</div>


                <div class="panel-footer"></div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
