<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>

    <link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>

    <script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>
    <script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Manage Customer Sites</div>
                <div class="panel-body" >
                    <form  action="'/Customer/customerLine/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${custId}"
                           th:action="@{'/Customer/customerLine/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${custId}}"
                           th:object="${customerLine}" th:method="post">
<span style="font-weight: bold" th:each="m :${msg}">
            <p th:style="${m?.tag} ? 'color:#ed1c24;':'color:#4aa509;'">
                <span th:if="${m.tag==null}" th:text="${m.msg}"> </span>
                <span th:unless="${m.tag==null}" th:text="${m.tag+' '+m.msg}"></span>
            </p></span>

                        <div class="form-group">

                            <input type="hidden" class="form-control" id="inputid" placeholder="Id" th:field="*{id}"
                                   name="id"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">User Name Error</span>
                        </div>

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcustomerHeader"
                                   placeholder="customerHeader" th:field="*{customerHeader}" name="customerHeader"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('customerHeader')}"
                                  th:errors="*{customerHeader}">User Name Error</span>
                        </div>



                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3  control-label" for="inputorgHierarchy">Organization</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">


                                <select class="form-control dates" required="required" id="inputorgHierarchy"
                                        th:field="*{orgHierarchy}" name="orgHierarchy">
                                    <option value="">Please select One</option>
                                    <option th:each="org : ${orgs}" th:text="${org.code}"
                                            th:value="${org.id}"
                                            th:attr="data-kseghdr=${org.keySegmentHeader.id},data-seglinecode=${org.segmentLine.code}">
                                        module
                                    </option>

                                </select>
                                <input type="hidden" id="lockeySegmentHeader"
                                       th:field="*{orgHierarchy.keySegmentHeader.id}"
                                       th:value="*{orgHierarchy}"/>
                                <input type="hidden" id="locsegmentLine"
                                       th:field="*{orgHierarchy.segmentLine.code}"
                                       th:value="*{orgHierarchy}"/>
                                <script th:inline="javascript">
                                    $("select").change(function () {
                                        var kseghdr = ($(this.options[this.selectedIndex]).attr('data-kseghdr'));
                                        var seglinecode = ($(this.options[this.selectedIndex]).attr('data-seglinecode'));
                                        document.getElementById('lockeySegmentHeader').value = kseghdr ;
                                        document.getElementById('locsegmentLine').value = seglinecode;
                                        if (kseghdr==null||kseghdr=='')
                                        {
                                            $("#inputaccCodeCombinitions").attr("readonly", true);
                                            $("#inputrevenue").attr("readonly", true);

                                        }else
                                        {
                                            $("#inputaccCodeCombinitions").attr("readonly", false);
                                            $("#inputrevenue").attr("readonly", false);
                                            var orgId=document.getElementById('inputorgHierarchy').value ;
                                            getOrgDefaultPayterms("/AYE/ACRC/SearchOrgDefPaymentTerms/"+orgId,'#inputpaymentTerms','#inputpaymentTermsName');

                                        }

                                    });
                                    $(document).ready(function(){
                                        var locKsghdr =document.getElementById('lockeySegmentHeader').value ;

                                        if (locKsghdr==null||locKsghdr=='')
                                        {
                                            $("#inputaccCodeCombinitions").attr("readonly", true);
                                            $("#inputrevenue").attr("readonly", true);
                                        }else{
                                            $("#inputaccCodeCombinitions").attr("readonly", false);
                                            $("#inputrevenue").attr("readonly", false);
                                        }
                                    });
                                </script>

                            </div>
                        </div>


                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3 control-label " for="inputsiteName">Customer Site</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control " required="required" placeholder="Customer Site" type="text"
                                       id="inputsiteName"
                                       th:field="*{siteName}" name="supplierName"/>
                                <span class="help-block" th:if="${#fields.hasErrors('siteName')}"
                                      th:errors="*{siteName}">siteName Error</span>
                            </div>
                        </div>


                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3 control-label " for="inputsiteAddress">Site Address</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>

                            <div class="col-sm-8 ">
                                <input class="form-control " required="required" placeholder="Site Address" type="text"
                                       id="inputsiteAddress"
                                       th:field="*{siteAddress}" name="supplierName"/>
                                <span class="help-block" th:if="${#fields.hasErrors('siteAddress')}"
                                      th:errors="*{siteAddress}">siteAddress Error</span>
                            </div>
                        </div>



                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3 control-label " for="inputaccCodeCombinitions">Receivable
                                Account</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">

                                <input type="text" class="form-control" id="inputaccCodeCombinitions"
                                       name="accCodeCombinitionsname"
                                       th:text="*{accCodeCombinitionsV?.ccDesc}"
                                       th:field="*{accCodeCombinitionsV.concatedSegment}"/>
                                <input type="hidden" class="form-control" id="inputaccCodeCombId"
                                       th:field="*{accCodeCombinitions}" name="accCodeCombinitions"/>

                                <span class="help-block" th:if="${#fields.hasErrors('accCodeCombinitions')}"
                                      th:errors="*{accCodeCombinitions}">AccCodeCombinitions Error</span>


                                <script th:inline="javascript">

                                    document.getElementById('inputaccCodeCombinitions').oninput = function(){


                                        var codeCom=document.getElementById('inputaccCodeCombinitions').value;
                                        var urlvals;
                                        if(codeCom.length>2)
                                        {
                                            var orgkseghdr=document.getElementById('lockeySegmentHeader').value ;
                                            var orgbalseg=document.getElementById('locsegmentLine').value ;
                                            var re = /^[A-Za-z]+$/;
                                            var source='AR'
                                            if (codeCom.length > 1) {
                                                if (re.test(codeCom)) {
                                                    urlvals = '/AYE/ACRC/SearchCodeCombDescBySource/' + codeCom + '/' + orgkseghdr + '/'+orgbalseg+ '/'+source+ '/'+1;
                                                    var displayfield='#inputaccCodeCombinitions';
                                                    var dbfield ='#inputaccCodeCombId';
                                                    var getvalue='ccDesc';
                                                    var templt = 'concatedSegment';
//                                                    alert(urlvals);
                                                    autocomForCommon(urlvals,displayfield,dbfield,getvalue,templt);

                                                } else {
                                                    urlvals = '/AYE/ACRC/SearchCodeCombDescBySource/' + codeCom + '/' + orgkseghdr + '/'+orgbalseg+ '/'+source+ '/'+0;
                                                    var displayfield='#inputaccCodeCombinitions';
                                                    var dbfield ='#inputaccCodeCombId';
                                                    var getvalue='concatedSegment';
                                                    var templt = 'ccDesc';

                                                    autocomForCommon(urlvals,displayfield,dbfield,getvalue,templt);

                                                }
                                            }
                                            document.getElementById('inputaccCodeCombinitions').focus();
                                        }
                                    }

                                </script>


                            </div>
                        </div>


                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3 control-label " for="inputaccCodeCombinitions">Revenue
                                Account</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">

                                <input type="text" class="form-control" id="inputrevenue"
                                       name="revenue"
                                       th:text="*{revenueV?.ccDesc}"
                                       th:field="*{revenueV.concatedSegment}"/>
                                <input type="hidden" class="form-control" id="inputrevenueId"
                                       th:field="*{revenue}" name="revenue"/>

                                <span class="help-block" th:if="${#fields.hasErrors('revenue')}"
                                      th:errors="*{revenue}">revenue Error</span>


                                <script th:inline="javascript">


                                    document.getElementById('inputrevenue').oninput = function(){

                                        var codeCom=document.getElementById('inputrevenue').value;
                                        var urlvals;
                                        if(codeCom.length>2)
                                        {
                                            var orgkseghdr=document.getElementById('lockeySegmentHeader').value ;
                                            var orgbalseg=document.getElementById('locsegmentLine').value ;
                                            var re = /^[A-Za-z]+$/;
                                            var source='AR'
                                            if (codeCom.length > 1) {
                                                if (re.test(codeCom)) {
                                                    urlvals = '/AYE/ACRC/SearchCodeCombDescBySource/' + codeCom + '/' + orgkseghdr + '/'+orgbalseg+ '/'+source+ '/'+1;
                                                    var displayfield='#inputrevenue';
                                                    var dbfield ='#inputrevenueId';
                                                    var getvalue='ccDesc';
                                                    var templt = 'concatedSegment';
//                                                    alert(urlvals);
                                                    autocomForCommon(urlvals,displayfield,dbfield,getvalue,templt);

                                                } else {
                                                    urlvals = '/AYE/ACRC/SearchCodeCombDescBySource/' + codeCom + '/' + orgkseghdr + '/'+orgbalseg+ '/'+source+ '/'+0;
                                                    var displayfield='#inputrevenue';
                                                    var dbfield ='#inputrevenueId';
                                                    var getvalue='concatedSegment';
                                                    var templt = 'ccDesc';

                                                    autocomForCommon(urlvals,displayfield,dbfield,getvalue,templt);

                                                }
                                            }
                                            document.getElementById('inputrevenue').focus();
                                        }
                                    }

                                </script>


                            </div>
                        </div>

                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3 control-label " for="inputstatus">Terms & Limit</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>

                            <div class="col-sm-4 ">
                                <input class="form-control" type="hidden" id="inputpaymentTerms" th:field="*{paymentTerms}" name="paymentTerms"/>
                                <input class="form-control" type="text" id="inputpaymentTermsName" th:field="*{paymentTerms.termsName}" name="PaymentTermsname" placeholder="Payment Terms" required/>
                                <script th:inline="javascript">
                                    $('#inputpaymentTermsName').on('input',function(){
                                        var orgId=document.getElementById('inputorgHierarchy').value ;
                                        var urlvals = '/AYE/ACRC/SearchOrgPaymentTerms/'+ orgId;
                                        var displayfield='#inputpaymentTermsName';
                                        var dbfield ='#inputpaymentTerms';
                                        var getvalue='termsName';
                                        var templt = 'termsDesc';
//                                                    alert(urlvals);
                                        autocomForCommon(urlvals,displayfield,dbfield,getvalue,templt);
                                        $('#inputpaymentTermsName').focus();
                                    })
                                    var orgkseghdr=document.getElementById('lockeySegmentHeader').value ;
                                </script>

                                <span class="help-block" th:if="${#fields.hasErrors('paymentTerms')}"
                                      th:errors="*{paymentTerms}">Status Error</span>
                            </div>

                            <div class="col-sm-4 ">
                                <input class="form-control" type="text" id="inputcreditLimit" th:field="*{creditLimit}" name="creditLimit" placeholder="Credit Limit"/>

                                <span class="help-block" th:if="${#fields.hasErrors('creditLimit')}"
                                      th:errors="*{creditLimit}">Status Error</span>
                            </div>

                        </div>

                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3 control-label " for="inputstatus">Type & Status</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>

                            <div class="col-sm-4 ">
                                <select class="form-control" id="inputcustomerTypes" th:field="*{customerTypes}" name="customerTypes">
                                    <option value="">Please Select One</option>
                                    <option th:each="ct :${T(com.aye.web.model.CommonEnum.CustomerTypes).values()}" th:text="${ct.displayName}" th:value="${ct}">Active</option>

                                </select>
                                <span class="help-block" th:if="${#fields.hasErrors('siteAddress')}"
                                      th:errors="*{status}">Status Error</span>
                            </div>
                            <div class="col-sm-4 ">
                                <select class="form-control" id="inputstatus" th:field="*{status}" name="status">
                                    <option value="">Please Select One</option>
                                    <option th:each="s :${T(com.aye.web.model.CommonStatus).values()}" th:text="${s.dispalyName}" th:value="${s}">Active</option>
                                    <!--<option value="Y">Active</option>-->
                                    <!--<option value="N">Inactive</option>-->

                                </select>
                                <span class="help-block" th:if="${#fields.hasErrors('siteAddress')}"
                                      th:errors="*{status}">Status Error</span>
                            </div>
                        </div>



                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumn" placeholder="column"
                                   th:field="*{column.createdBy}" name="column"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('column.createdBy')}"
                                  th:errors="*{column.createdBy}">User Name Error</span>
                        </div>

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumnDate" placeholder="columnDate"
                                   th:field="*{column.creationDate}" name="columnDate"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('column.creationDate')}"
                                  th:errors="*{column.creationDate}">User Name Error</span>
                        </div>


                        <div class="text-right Padding10px">
                            <!--commonCodesAdd/{mode}/{pageId}/{temltId}-->
                            <a th:href="@{/Customer/customerLine/E/} + ${pageId}+'/'+${{temltId}}+'/'+${custId}"
                               title="Add Customer Sites" class="btn btn-primary">
                                New</a>
                            <a th:href="@{/Customer/customer/}+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${custId}" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>

                    </form>


                    <table class="table table-bordered table-hover table-striped marginbtm10px" >
                        <thead>
                        <tr>
                            <th>Org</th>
                            <th>Site</th>
                            <th>Address</th>
                            <th>Account</th>
                            <th>Rev. Acc.</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:if="!${#lists.isEmpty(customerLines)}">
                            <tr th:each="custLine : ${customerLines}">
                                <td th:text="*{custLine.orgHierarchy.code}"></td>
                                <td th:text="*{custLine.siteName}"></td>
                                <td th:text="*{custLine.siteAddress}"></td>
                                <td th:text="*{custLine.accCodeCombinitionsV.ccDesc}"></td>
                                <td th:text="*{custLine.revenueV.ccDesc}"></td>
                                <td th:text="*{custLine.status}"></td>
                                <td>

                                        <a th:href="@{/Customer/customerLine/U/} + ${pageId}+'/'+${temltId}+'/'+${custId}+'/'+${custLine.id}" title="Edit Customer Site" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>

                                </td>

                            </tr>
                        </div>
                        <div th:if="${#lists.isEmpty(customerLines)}">
                            <tr>
                                <td>No Data exists!</td>
                            </tr>
                        </div>

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
