<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Manage Payment Tearms</div>
                <div class="panel-body" >
                    <form th:action="@{'/Terms/paymentTerms/'+${mode}+'/'+${pageId}+'/'+${temltId}}"
                           th:object="${paymentTerms}" th:method="post">
                        <!--+${role.role}  +${role.role}-->

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputid" placeholder="Id" th:field="*{id}" name="id" />
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">User Name Error</span>
                        </div>

                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3 control-label " for="inputstartDates">Organization</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                                <div class="col-sm-8 ">
                            <select class="form-control" id="inputorgHierarchy" placeholder="Types" th:field="*{orgHierarchy}" name="orgHierarchy">
                                <option value="">Select One</option>
                                <option th:each="org: ${orgHierarchies}" th:text="${org.name}" th:value="${org.id}" ></option>
                            </select>

                            <span class="help-block" th:if="${#fields.hasErrors('orgHierarchy')}" th:errors="*{orgHierarchy}">Sehemnt Name Error</span>
                        </div>
                            </div>

                                <div class="form-group required col-sm-12">
                                    <label class="col-sm-3 control-label " for="inputstartDates">Name</label>

                                        <div class="col-sm-1 ">
                                            <b>:</b>
                                        </div>
                                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="inputtermsName" placeholder="Name" th:field="*{termsName}" name="termsName" />
                            <span class="help-block" th:if="${#fields.hasErrors('termsName')}" th:errors="*{termsName}">Description Error</span>
                        </div>

                                    <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="inputtermsDesc" placeholder="Description" th:field="*{termsDesc}" name="termsDesc" />
                            <span class="help-block" th:if="${#fields.hasErrors('termsDesc')}" th:errors="*{termsDesc}">Description Error</span>
                        </div>
                                    </div>

                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3 control-label " for="inputstartDates">Days</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="inputtermsDays" placeholder="Days" th:field="*{termsDays}" name="termsDays"/>
                            <span class="help-block" th:if="${#fields.hasErrors('termsDays')}" th:errors="*{termsDays}">Active Error</span>
                        </div>
                            <div class="col-sm-4 ">
                                <select class="form-control" id="inputdefaultTerms" th:field="*{defaultTerms}" name="defaultTerms">
                                    <option value="">Is Default?</option>
                                    <option th:value="1">Yes</option>
                                    <option th:value="0">No</option>
                                </select>

                                <span class="help-block" th:if="${#fields.hasErrors('defaultTerms')}" th:errors="*{defaultTerms}">Sehemnt Name Error</span>
                            </div>
                            </div>

                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3 control-label " for="inputstartDates">Start Date</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4 ">
                                <!--<input type="excDate" value="01-01-2019" class="form-control" id="inputStartDate" placeholder="yyyy-MM-dd" th:field="*{startDates}"-->
                                <!--name="startDates" />-->
                                <input class="form-control" type="date" value="01-01-2019" id="inputstartDates"
                                       placeholder="yyyy-MM-dd" th:field="*{{startDates}}" name="startDates"/>
                                <!--<input class="form-control" required="required"  type="excDate"  id="inputfromDate" placeholder="From Date"-->
                                <!--th:field= "*{fromDate}" th:value="*{fromDate}"-->
                                <!--name="fromDate" />-->
                                <span class="help-block" th:if="${#fields.hasErrors('startDates')}"
                                      th:errors="*{startDates}">From Date Error</span>
                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputendDates"
                                       placeholder="yyyy-MM-dd" th:field="*{{endDates}}" name="endDates"/>
                                <span class="help-block" th:if="${#fields.hasErrors('endDates')}"
                                      th:errors="*{endDates}">From Date Error
                                </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumn" placeholder="column" th:field="*{column.createdBy}" name="column" />
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('column.createdBy')}" th:errors="*{column.createdBy}">User Name Error</span>
                        </div>

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumnDate" placeholder="columnDate" th:field="*{column.creationDate}" name="columnDate" />
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('column.creationDate')}" th:errors="*{column.creationDate}">User Name Error</span>
                        </div>


                        <div class="text-right">
                            <!--commonCodesAdd/{mode}/{pageId}/{temltId}-->
                            <a id="btn" th:href="@{/Common/commonCodesAdd/}+'E/'+${pageId}+'/'+${temltId}" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                            <!--<a th:href="@{/Common/search/}+'E/'+${pageId}+'/'+${temltId}" class="btn btn-default">Search</a>-->

                        </div>

                    </form>


                    <div class="row">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Org</th>
                            <th>Name</th>
                            <th>Detail</th>
                            <th>Days</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Is Default</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:if="!${#lists.isEmpty(paymentTermses)}">
                            <tr th:each="pt : ${paymentTermses}">
                                <td th:text="*{pt.orgHierarchy.code}"></td>
                                <td th:text="*{pt.termsName}"></td>
                                <td th:text="*{pt.termsDesc}"></td>
                                <td th:text="*{pt.termsDays}"></td>
                                <td th:text="*{pt.startDates}"></td>
                                <td th:text="*{pt.endDates}"></td>
                                <td th:text="*{pt.defaultTerms}"></td>
                                <td>
                                    <!--<div class="btn-group" role="group" aria-label="...">-->
                                    <!--<a th:href="@{/OM/segmentEdit/} + ${seg.id}+'/'+${pageId}"-->
                                    <!--class="btn btn-success"><span-->
                                    <!--class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>-->

                                    <!--</div>-->

                                    <div class="btn-group" role="group" aria-label="...">


                                        <a th:href="@{/Terms/paymentTerms/}+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${pt.id}" title="Edit" class="btn btn-primary"><span
                                                class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>

                                    </div>
                                </td>

                            </tr>
                        </div>
                        <div th:if="${#lists.isEmpty(paymentTermses)}">
                            <tr>
                                <td>No Data exists!</td>
                            </tr>
                        </div>

                        </tbody>


                    </table>
                        <!--&lt;!&ndash;<div data-th-replace="fragments/pagination :: page-pagination">&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<div th:if="${codeIndex.totalPages  > 0}" class="pagination justify-content-center font-weight-medium page-item page-link svg-icon"&ndash;&gt;&ndash;&gt;-->
                         <!--&lt;!&ndash;&lt;!&ndash;th:each="pageNumber : ${pageNumbers}">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<a th:href="@{'/Common/commonCodesAdd/'+${mode}+'/'+ ${pageId}+'/'+${temltId}+'/'+&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;${pageNumber+1}}"&ndash;&gt;&ndash;&gt;-->
                           <!--&lt;!&ndash;&lt;!&ndash;th:text="${pageNumber}"&ndash;&gt;&ndash;&gt;-->
                           <!--&lt;!&ndash;&lt;!&ndash;th:class="${pageNumber==codeIndex.number + 1} ? active"></a>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->











                </div>
                <div class="panel-footer">
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
    </div>
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
