<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:insert="Inventory/InvScriptLink"/>
    <script th:inline="javascript">

        function selectedobj(value, ind) {
            if (ind == 'onHandItem') {
//                alert('selectedobj');
                SearchOnhandItemObj(value);
            }
        }
        ;


    </script>
</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Inventory On-Hand Quantity</div>
                <div class="panel-body">
                    <form th:action="@{'/InvOnhand/addTrns/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}}"
                          th:object="${invOnhandParameter}" th:method="post">
                        <!--+${role.role}  +${role.role}-->

        <!--<span style="font-weight: bold" th:each="m :${msg}">-->
            <!--<p th:style="${m.tag} ? 'color:#ed1c24;':'color:#4aa509;'">-->
                <!--<span th:if="${m.tag==null}" th:text="${m.msg}"> </span>-->
                <!--<span th:unless="${m.tag==null}" th:text="${m.tag+' '+m.msg}"></span>-->
            <!--</p></span>-->

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputorgHierarchy" th:field="*{orgHierarchy}"/>
                            <input type="hidden" class="form-control" id="inputinventoryInformations" th:field="*{inventoryInformations}"/>
                            <input type="hidden" class="form-control" id="inputdate" th:field="*{date}"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('orgHierarchy')}"
                                  th:errors="*{orgHierarchy}">orgHierarchy Error</span>
                        </div>

                        <div class="form-group">
                            <input type="hidden" id="inputmasterItemInvOrgId" placeholder="masterItemInvOrgId" name="masterItem" th:field="*{InventoryItemId.inventoryInformations.id}" class="form-control" th:value="*{InventoryItemId}"/>
                            <input type="hidden" id="inputmasterItem" placeholder="masterItem" name="masterItem" class="form-control" th:field="*{InventoryItemId.id}" th:value="*{InventoryItemId}"/>

                        </div>


                        <div th:class="${#fields.hasErrors('itemCode')} ? 'form-group has-error' :'form-group required col-sm-12'">
                            <label class="col-sm-3 control-label " for="inputitemCode">Item </label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-4 ">
                                <input type="text" id="inputitemCode" placeholder="itemCode" name="itemCode" th:field="*{itemCode}" class="form-control" />
                                <p th:errors="*{itemCode}" class="help-block"></p>
                            </div>
                            <div class="col-sm-4 ">
                                <input type="text" id="inputitemDesc" placeholder="itemDesc" name="itemDesc" th:field="*{itemDesc}" class="form-control" readonly="readonly"/>
                                <p th:errors="*{itemDesc}" class="help-block"></p>
                            </div>

                            <script th:inline="javascript">
                                var litemCode = document.getElementById('inputitemCode').value;

                                if (litemCode==null)
                                {
                                    document.getElementById('inputitemDesc').value='';
                                    document.getElementById('inputmasterItem').value='';
                                    document.getElementById('inputmasterItemInvOrgId').value='';
                                }

                                function SearchOnhandItemObj(objparms) {
//                                            alert('x');
                                    var objparmV = objparms;
                                    $('#inputmasterItem').val(objparmV.id.id).trigger("change");
                                    $('#inputmasterItemInvOrgId').val(objparmV.id.inventoryInformations.id).trigger("change");
                                    $('#inputitemDesc').val(objparmV.description).trigger("change");


                                };

                                document.getElementById('inputitemCode').oninput = function() {
                                    var lItmCode = document.getElementById('inputitemCode').value;
                                    if (lItmCode.length > 2) {
                                        var  lInvOrg=document.getElementById('inputinventoryInformations').value;

                                        var itemUrl = '/AYE/ACRC/SearchOrgItemCode/' + lInvOrg + '/' + lItmCode;
//                                            alert(itemUrl);
                                        autocomwithobjectwod(itemUrl, 'itemCode', '#inputitemCode', 'description', 'onHandItem');
                                        document.getElementById('inputitemCode').focus();
                                    }
                                }
                            </script>

                        </div>

                        <div th:class="${#fields.hasErrors('subinventory')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class=" col-sm-3 control-label " for="inputsubinventory">Subinventory</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-4">
                                <select class="form-control" name="subinventory" id="inputsubinventory"
                                        th:field="*{subinventory}" >
                                    <option value="">Please select One</option>
                                    <option th:each="sub : ${subinventoryList}" th:text="${sub.code}" th:value="${sub.id}"
                                            th:attr="data-locConfrom=${sub.isLocatorControl}">
                                        module
                                    </option>
                                </select>
                                <input type="hidden" id="locSubinvLocConfrom"
                                       th:field="*{subinventory.isLocatorControl}"
                                       th:value="*{subinventory}"/>
                                <script th:inline="javascript">
                                    $("#inputsubinventory").change(function () {
                                        var varSubinvLocConfrom = ($(this.options[this.selectedIndex]).attr('data-locConfrom'));
//                                        alert(varSubinvLocConfrom +'xx');

                                        document.getElementById('locSubinvLocConfrom').value = varSubinvLocConfrom;
                                        if (varSubinvLocConfrom == "false") {
//                                                alert(varSubinvLocCon);
                                            document.getElementById('inputsubinvLocator').readOnly = true;
                                            document.getElementById("inputsubinvLocator").value = "";
                                        } else {
                                            document.getElementById('inputsubinvLocator').readOnly = false;
                                        }
                                    })
                                    $(document).ready(function(){
                                        if($('#locSubinvLocConfrom').val()=="false")
                                        {
                                            document.getElementById('inputsubinvLocator').readOnly = true;
                                            document.getElementById("inputsubinvLocator").value = "";
                                        } else {
                                            document.getElementById('inputsubinvLocator').readOnly = false;
                                        }
                                    });
                                </script>
                                <!--<input type="hidden" id="inputSubinvLocContrl" th:field="*{fromSubinventory.isLocatorControl}" />-->
                            </div>
                            <div class="col-sm-4">

                                <input type="text" class="form-control" name="subinvLocator" id="inputsubinvLocator"
                                       th:field="*{subinvLocator}" th:value="*{subinvLocator}" />
                                <script th:inline="javascript">
                                    var mods = [[${mode}]];
                                    var trns = null;
                                    if (trns != null) {
                                        var fromSubLocCon = document.getElementById('locSubinvLocConfrom').value;
//                                            var fromSubLocCon = ($(this.options[this.selectedIndex]).attr('data-locConfrom'));
                                        if (fromSubLocCon == "false") {
//                                                alert(fromSubLocCon);
                                            document.getElementById('inputsubinvLocator').readOnly = true;
                                            document.getElementById("inputsubinvLocator").value = "";
                                        } else {
                                            document.getElementById('inputsubinvLocator').readOnly = false;
                                        }
                                    }

                                    function SearchFloctObj(objparms) {
//                                            alert('x');
                                        var objparmV = objparms;
                                        $('#inputsubinvLocator').val(objparmV.id).trigger("change");
                                    }
                                    ;

                                    document.getElementById('inputsubinvLocator').oninput = function () {
                                        FromLocatorInf();
                                    };

                                    function FromLocatorInf() {
                                        var fLoc = document.getElementById('inputsubinvLocator').value;
                                        if (fLoc.length > 2) {
                                            var displayfieldfrom = [['#inputsubinvLocator']];
                                            var varFromSubinv = document.getElementById('inputSubinventory').value;
                                            getLocator(varFromSubinv, displayfieldfrom, 'floc');
                                            document.getElementById('inputsubinvLocator').focus();
                                        }
                                        ;
                                    }

                                </script>

                            </div>
                        </div>





                        <div class="text-right Padding10px ">


                            <button type="submit" name="onHand" class="btn btn-primary" >On-Hand</button>


                        </div>



                        <div class="panel-footer">
                        </div>


                </form>
                    <!--</div>-->

                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <th>Item </th>
                        <th>Desc.</th>
                        <th>UOM</th>
                        <th>Qty</th>
                        <th>Show Detail</th>
                        </thead>
                        <tbody>
                        <div th:if="!${#lists.isEmpty(invOnhandHeaders)}">
                            <div th:each="order : ${invOnhandHeaders}">
                                <tr >
                                    <td style="font-size: 12px; color: #323232;" th:text="${order.masterItem.itemCode}"></td>
                                    <td style="font-size: 12px ; color: #323232;" th:text="${order.masterItem.description}"></td>
                                    <td style="font-size: 12px; color: #323232;" th:text="${order.primaryUom.uomCode}"></td>
                                    <td style="font-size: 12px; color: #323232;" th:text="${order.closing}"></td>
                                    <td style="font-size: 12px; color: #323232;" width="10px"><a href="#" th:id="${order.masterItem.id.id}" th:title="${order.masterItem.id.id}" style="font-size: 12px; color: black;">Detail</a>
                                    </td>

                                </tr>
                                <tr>
                                    <td colspan="6" >
                                        <div th:id="extra+${order.masterItem.id.id}" style="display: none; " th:if="!${#lists.isEmpty(order.invOnhandDetails)}">
                                            <div class="col-sm-12 " style="padding-bottom: 20px; padding-left: 0px;">
                                                <div  colspan="6" style="text-align: left ; background-color:#D5DBDB; color:#ADB2B5;" class="colps_div_hdr col-sm-4">
                                                    Detail Informations</div>
                                                <div class="col-sm-12 colps_div_hdr" style="margin-top: 5px;">
                                                    <!--<div class="col-sm-3 " style="border-right: 1px solid transparent; color:#93A2B2"><b>Item Code</b></div>-->
                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent; color: #93A2B2;"><b>Subinventory</b></div>
                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent; color: #93A2B2;"><b>Locator</b></div>
                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent; color: #93A2B2;"><b>Quantity</b></div>
                                                </div>
                                                <div class="col-sm-12 colps_div_hdr" th:each="l : ${order.invOnhandDetails}" >

                                                    <!--<div class="col-sm-3 " style="border-right: 1px solid transparent; margin-top: 1px;" th:text="*{l.masterItem.itemCode}"></div>-->
                                                    <!--<div class="col-sm-3 " style="border-right: 1px solid transparent; margin-top: 1px;" th:text="*{l.primaryUom.uomCode}"></div>-->
                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent; margin-top: 1px;"  th:text="*{l.subinventory.code}"></div>
                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent; margin-top: 1px;"  th:text="*{l.subinvLocator}"></div>
                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent; margin-top: 1px;" th:text="*{l.closing}"></div>
                                                    <!--<div class="col-sm-3 " style="border-right: 1px solid transparent" th:text="*{l.rcvTrnsQty}"></div>-->
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>

                                <script th:inline="javascript">
                                    var a='#'+[[${order.masterItem.id.id}]];
                                    //alert(a);
                                    $(a).click(function() {
                                        var dbfield = [[${order.masterItem.id.id}]];
                                        var df='#extra'+[[${order.masterItem.id.id}]];
                                        $(df + $(this).attr('id').substr(5)).slideToggle("slow");
                                        event.preventDefault();

                                    });
                                    //                        $("a[id^=show_]").click(function(event) {
                                    //                            $("#extra_" + $(this).attr('id').substr(5)).slideToggle("slow");
                                    //                            event.preventDefault();
                                    //                        })
                                </script>


                                <!--<td th:each="l : ${order.poRcvLines}" style="text-align: end" th:text="${l.rcvTrnsQty}"></td>-->
                                <!--<td th:text="${order.rcvStatus.displayName}"></td>-->
                                <!--<td>-->
                                <!--<div class="btn-group" role="group" aria-label="..." name="edit">-->
                                <!--<span th:if="${order.rcvTrnsType == T(com.aye.web.model.RcvTrnsType).PORCV}">-->
                                <!--<a th:href="@{/poReceive/rcvCreate/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${order.id}"-->
                                <!--class="btn success"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>-->
                                <!--</span>-->
                                <!--<span th:unless="${order.rcvTrnsType == T(com.aye.web.model.RcvTrnsType).PORCV}">-->
                                <!--<a th:href="@{/poReceive/rtvCreate/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${order.id}"-->
                                <!--class="btn success"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>-->
                                <!--</span>-->
                                <!--</div>-->
                                <!--</td>-->
                                <!--</tr>-->
                            </div>
                        </div>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
    </div>
        <!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
        <script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>



</html>
