<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="InvOnhandResult" th:fragment="InvOnhandResult" class="InvOnhandResult">
    <div class="form-group col-sm-12">

        <div th:unless="${#lists.isEmpty(onhand)}">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>UOM</th>
                    <th>Sub Inventory</th>
                    <!--<th>Locator</th>-->
                    <th>Closing</th>

                </tr>

                </thead>
                <tbody>
                <tr th:each="b : ${onhand}">

                    <td th:text="${b.masterItem.itemCode}" ></td>
                    <td th:text="${b.primaryUom.uomCode}" ></td>
                    <td th:text="${b.subinventory.code}" ></td>
                    <!--<td th:text="${b.subinvLocator !=null ? b.subinvLocator.locatorV.concatedSegment:''}" ></td>-->
                    <td th:text="${b.closing}" ></td>


                </tr>


                </tbody>

            </table>

            <div>


            </div>

        </div>
    </div>
</div>
</body>
</html>