<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:insert="Inventory/InvScriptLink"/>
    <script th:inline="javascript">

        function selectedobj(value, ind) {
            if (ind == 'toInvOrg') {
//                alert('selectedobj');
                SearchToInvOrgObj(value);
            }  if (ind == 'floc') {
//                alert('selectedobj');
                SearchFloctObj(value);
            } else if (ind == 'tloc') {
                SearchTloctObj(value);
            } else if (ind == 'InvIssueItem') {
                InvIssueItemObj(value);
            }
            else if (ind == 'seg1InvR') {
                InvSearchseg1(value);
            }
            else if (ind == 'seg2InvR') {
                InvSearchseg2(value);
            }
            else if (ind == 'seg3InvR') {
                InvSearchseg3(value);
            }
            else if (ind == 'seg4InvR') {
                InvSearchseg4(value);
            }
            else if (ind == 'seg5InvR') {
                InvSearchseg5(value);
            }
        }
        ;


        function AutocomFunc(purlval, pdisplayfield, pgetvalue, pgetDesc, pindc) {
//            alert(purlval);
//            alert(pdisplayfield);
//            alert(pgetvalue);
//            alert(pgetDesc);
//            alert(pindc);

            var urlval = purlval;//'/AYE/ACRC/SearchCodeComb/' + bSeg;
            var displayfield = pdisplayfield;//'#toAccountV';
            var getvalue = pgetvalue;//'concatedSegment';
            var getDesc = pgetDesc;//'siteAddress';
            var indc = pindc;//'segment2desc';
//alert(urlval);
            autocomwithobject(urlval, getvalue, displayfield, null, getDesc, indc);

        }
        ;


        function getLocator(pfSub, pdisplay, pindc) {
            var displayfieldfrom = pdisplay;
            var indc = pindc;

            AutocomFunc('/AYE/ACRC/SearchLocator/' + pfSub,
                    displayfieldfrom,
                    'locatorValue',
                    null,
                    indc);
        }
        ;


        function getinvOrg(pfSub, pdisplay, pindc) {
            var displayfieldfrom = pdisplay;
            var indc = pindc;

            AutocomFunc('/AYE/ACRC/GetOrgInventory/' + pfSub,
                    displayfieldfrom,
                    'code',
                    null,
                    indc);
        }
        ;


        function getcodcomfmodal(pcode, pid) {
//            alert('YY'+pid);
            document.getElementById("toAccountV").value = pcode;
            document.getElementById("inputtoAccount").value = pid;
            $('#modal-warning').modal('hide');

        }

        function multipleFuncCall(param1) {
            prevDbClick(param1);
//            if($("#trns").valid())
//            {
//            }
//            checkemptyfield();
        }

    </script>
</head>
<body>

<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->


                <div>
                    <div class="panel-body">
                        <div class="panel-heading" style="padding-left: 0; color: #172D44">Transfer between two Inventory Org. - <b th:text="${invTrnsHeader.invOrg.name}"></b></div>
                        <form id="trns"
                              th:action="@{'/InvTrnsInterTransfer/addTrnsdt/'+${mode}+'/'+ ${pageId}+'/'+${temltId}+'/'+${invOrgId}}"
                              th:object="${invTrnsHeader}" method="post">

                        <span style="font-weight: bold" th:each="m :${msg}">
                            <p th:style="${m.tag} ? 'color:#ed1c24;':'color:#4aa509;'">
                                <span th:if="${m.tag==null}" th:text="${m.msg}"> </span>
                                <span th:unless="${m.tag==null}" th:text="${m.tag+' '+m.msg}"></span>
                            </p>
                        </span>

                            <div class="submit-progress hidden">
                                <label th:style="'color:#4aa509;'">Please wait while Saving Data...</label>
                            </div>

                            <div class="form-group">
                                <input type="hidden" class="form-control" id="inputid"
                                       placeholder="Id" th:field="*{id}" name="id"/>
                            <span class="help-block" th:if="${#fields.hasErrors('id')}"
                                  th:errors="*{id}">id Error</span>
                            </div>


                            <div th:class="${#fields.hasErrors('trnsNumber')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                                <label class="col-sm-3 control-label " for="inputtrnsNumber">Code</label>

                                <div class="col-sm-1 "><b>:</b></div>
                                <div class="col-sm-8 ">
                                    <input type="text" id="inputtrnsNumber" placeholder="Transaction Number"
                                           name="trnsNumber" th:field="*{trnsNumber}" class="form-control"
                                           th:readonly="readonly"/>

                                    <p th:errors="*{trnsNumber}" class="help-block"></p>
                                </div>
                            </div>


                            <div class="form-group required col-sm-12">
                                <label class=" col-sm-3 control-label " for="inputtrnsDate">Date</label>

                                <div class="col-sm-1 "><b>:</b></div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="date" value="01-01-2019" id="inputtrnsDate"
                                           placeholder="yyyy-MM-dd" th:field="*{{trnsDate}}" name="trnsDate"
                                           th:readonly="${invTrnsHeader.status!=T(com.aye.web.model.Inv.common.InvStatus).N}"/>

                                    <p th:errors="*{trnsDate}" class="help-block"></p>
                                </div>
                            </div>


                            <div>
                                <input type="hidden" id="inputinvOrg" placeholder="invOrg"
                                       name="invOrg" th:field="*{invOrg}"
                                       class="form-control" required="required"
                                       th:attr="data-invorgid=*{invOrg.id}"/>
                                <input type="hidden" id="balSag"
                                       th:field="*{invOrg.orgHierarchy.segmentLine.code}"
                                       class="form-control"/>
                                <input type="hidden" id="keySeg"
                                       th:field="*{invOrg.orgHierarchy.keySegmentHeader.id}"
                                       class="form-control"/>
                                <input type="hidden" class="form-control" id="inputOrgHierarchy"
                                       th:field="*{invOrg.orgHierarchy}"/>

                                <input type="hidden" class="form-control" id="inputBg"
                                       th:field="*{invOrg.orgHierarchy.orgHierarchy.id}"/>

                            </div>

                            <!--<div class="col-sm-8 ">-->
                            <!-- -->
                            <!--</div>-->

                            <!--<div>-->
                            <!--<input type="hidden" id="invOrgId"-->
                            <!--th:field="*{invOrg.id}"-->
                            <!--class="form-control"/>-->
                            <!--</div>-->

                            <div th:class="${#fields.hasErrors('trnsType')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                                <label class=" col-sm-3 control-label " for="inputtrnsType">Transaction Typess</label>

                                <div class="col-sm-1 "><b>:</b></div>
                                <div class="col-sm-8" id="orgTrnsType">
                                    <!--<input id="inputtrnsType" th:field="*{trnsType}" required="required" th:value="*{trnsType}"-->
                                    <!--th:disabled="${invTrnsHeader.status!=T(com.aye.web.model.Inv.common.InvStatus).N }" type="hidden"/>-->
                                    <!--<input id="inputtrnsTypeCode"  class="form-control" th:field="*{trnsType.trnsCode}" required="required" th:value="*{trnsType}"-->
                                    <!--th:disabled="disable" />-->

                                    <select class="form-control" name="trnsType"
                                            id="inputtrnsType" th:field="*{trnsType}" required="required"
                                            th:disabled="${invTrnsHeader.status!=T(com.aye.web.model.Inv.common.InvStatus).N }"
                                            th:selected="selected">
                                        <option th:if="${#lists.size(trnsTypes)gt 1}" value="">Please select One
                                        </option>
                                        <option th:each="module : ${trnsTypes}"
                                                th:text="${module.name}"
                                                th:value="${module.id}"
                                                th:attr="data-actioninterOrgInd=${module.trnsAction.interOrgInd},data-action=${module.trnsAction}">
                                            module
                                        </option>
                                    </select>
                                    <!--<input type="text" id="inputTrnsActionIntOrgLoc" th:field="*{trnsType.trnsAction.interOrgInd}" th:value="*{trnsType}"/>-->
                                    <input class="form-control" id="localTrnsTypeIntOrgInd" type="hidden"
                                           readonly="readonly" field="*{trnsType?.trnsAction?.interOrgInd}"
                                           th:value="*{trnsType?.trnsAction?.interOrgInd}"/>
                                    <input class="form-control" id="localTrnsType" type="hidden" readonly="readonly"
                                           th:field="*{trnsType.trnsAction}" th:value="*{trnsType}"/>

                                    <input class="form-control" id="inputinvRcvTrnsType" type="hidden"
                                           th:field="*{invRcvTrnsType}"/>

                                </div>
                                <!--<script th:inline="javascript">-->

                                    <!--$(document).ready(function () {-->
                                        <!--var trnsActionIntOrg = $('#inputtrnsType').find(":selected").attr('data-actioninterOrgInd');-->
                                        <!--if (trnsActionIntOrg == 0) {-->
                                            <!--$('#inputtoInvOrgDiv').hide();-->
                                        <!--} else {-->
                                            <!--$('#inputtoInvOrgDiv').show();-->
                                        <!--}-->

                                    <!--});-->

                                    <!--$('#inputtrnsType').on('change', function () {-->
                                        <!--var trnsActionIntOrg = ($(this.options[this.selectedIndex]).attr('data-actioninterOrgInd'));-->
                                        <!--var trnsAction = ($(this.options[this.selectedIndex]).attr('data-action'));-->
                                        <!--document.getElementById('localTrnsType').value = trnsAction;-->
                                        <!--document.getElementById('localTrnsTypeIntOrgInd').value = trnsActionIntOrg;-->

                                        <!--if (trnsActionIntOrg == 0) {-->
                                            <!--$('#inputtoInvOrgDiv').hide();-->
                                        <!--} else {-->
                                            <!--$('#inputtoInvOrgDiv').show();-->
                                        <!--}-->
                                    <!--});-->

                                <!--</script>-->

                            </div>

                            <div id="inputtoInvOrgDiv"
                                 th:class="${#fields.hasErrors('toInvOrg')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                                <label class=" col-sm-3 control-label " for="inputtoInvOrgId">To Organization</label>

                                <div class="col-sm-1 "><b>:</b></div>
                                <div class="col-sm-8">
                                    <select class="form-control" name="toInvOrgId" id="inputtoInvOrgId"
                                            th:field="*{toInvOrg}">
                                        <option value="">Select one</option>
                                        <option th:each="i :${toInvOrgs}" th:text="${i.name}" th:value="${i.id}">Select one</option>
                                    </select>
                                </div>

                                <script th:inline="javascript">
                                    function SearchToInvOrgObj(objparms) {
                                        var objparmV = objparms;
                                        $('#inputtoInvOrgId').val(objparmV.id).trigger("change");
                                    }
                                    ;

                                    $('#inputtoInvOrg').on('input', function () {
                                        if ($('#inputtoInvOrg').val().length > 1) {
                                            var orgId = $('#inputOrgHierarchy').val();
//                                            alert(orgId );
                                            getinvOrg(orgId, '#inputtoInvOrg', 'toInvOrg')
                                            $('#inputtoInvOrg').focus();
//                                            alert('z');
                                        }
                                    });
                                </script>

                            </div>


                            <div th:class="${#fields.hasErrors('fromSubinventory')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                                <label class=" col-sm-3 control-label " for="inputfromSubinventory">From Subinventory</label>

                                <div class="col-sm-1 "><b>:</b></div>
                                <div class="col-sm-4">
                                    <select class="form-control" name="fromSubinventory" id="inputfromSubinventory"
                                            th:field="*{fromSubinventory}" required="required"
                                            th:disabled="${invTrnsHeader.status!=T(com.aye.web.model.Inv.common.InvStatus).N}">
                                        <option value="">Please select One</option>
                                        <option th:each="sub : ${subInv}" th:text="${sub.code}" th:value="${sub.id}"
                                                th:attr="data-locConfrom=${sub.isLocatorControl}">
                                            module
                                        </option>
                                    </select>
                                    <input type="hidden" id="locSubinvLocConfrom"
                                           th:field="*{fromSubinventory.isLocatorControl}"
                                           th:value="*{fromSubinventory}"/>
                                    <script th:inline="javascript">
                                        $("#inputfromSubinventory").change(function () {
                                            var varSubinvLocConfrom = ($(this.options[this.selectedIndex]).attr('data-locConfrom'));
                                            document.getElementById('locSubinvLocConfrom').value = varSubinvLocConfrom;
                                            if (varSubinvLocConfrom == "false") {
//                                                alert(varSubinvLocCon);
                                                document.getElementById('fromLocator').readOnly = true;
                                                document.getElementById("fromLocator").value = "";
                                            } else {
                                                document.getElementById('fromLocator').readOnly = false;
                                            }
                                        })
                                    </script>
                                    <!--<input type="hidden" id="inputSubinvLocContrl" th:field="*{fromSubinventory.isLocatorControl}" />-->
                                </div>
                                <div class="col-sm-4">
                                    <input type="hidden" class="form-control" name="fromLocator" id="inputfromLocator"
                                           th:field="*{fromSubinvLocator}" th:value="*{fromSubinvLocator}"/>
                                    <input type="text" class="form-control" name="fromLocator" id="fromLocator"
                                           th:field="*{fromLocator}" th:value="*{fromLocator}"
                                           th:disabled="${invTrnsHeader.status!=T(com.aye.web.model.Inv.common.InvStatus).N}"/>
                                    <script th:inline="javascript">

                                        var mods = [[${mode}]];
                                        var trns = [[*{trnsNumber}]];

                                        if (trns != null) {
                                            var fromSubLocCon = document.getElementById('locSubinvLocConfrom').value;
//                                            var fromSubLocCon = ($(this.options[this.selectedIndex]).attr('data-locConfrom'));
                                            if (fromSubLocCon == "false") {
//                                                alert(fromSubLocCon);
                                                document.getElementById('fromLocator').readOnly = true;
                                                document.getElementById("fromLocator").value = "";
                                            } else {
                                                document.getElementById('fromLocator').readOnly = false;
                                            }


                                            if (fromSubLocCon == "false") {
                                                document.getElementById('fromLocator').readOnly = true;
                                                document.getElementById("fromLocator").value = "";
                                            } else if (fromSubLocCon == "") {
                                                document.getElementById('fromLocator').readOnly = true;
                                                document.getElementById("fromLocator").value = "";
                                            } else {
                                                document.getElementById('fromLocator').readOnly = false;
                                            }
                                        }else
                                        {
                                            document.getElementById('fromLocator').readOnly = true;
                                            document.getElementById("fromLocator").value = "";
                                        }

                                        function SearchFloctObj(objparms) {
//                                            alert('x');
                                            var objparmV = objparms;
                                            $('#inputfromLocator').val(objparmV.id).trigger("change");
                                        }
                                        ;

                                        document.getElementById('fromLocator').oninput = function () {
                                            FromLocatorInf();
                                        };

                                        function FromLocatorInf() {
                                            var fLoc = document.getElementById('fromLocator').value;
                                            if (fLoc.length > 2) {
                                                var displayfieldfrom = [['#fromLocator']];
                                                var varFromSubinv = document.getElementById('inputfromSubinventory').value;
                                                getLocator(varFromSubinv, displayfieldfrom, 'floc');
                                                document.getElementById('fromLocator').focus();
                                            }
                                            ;
                                        }
                                        $(document).ready(function () {
                                            var fromSubLocCon = document.getElementById('locSubinvLocConfrom').value;

                                            if (fromSubLocCon == "false") {
                                                document.getElementById('fromLocator').readOnly = true;
                                                document.getElementById("fromLocator").value = "";
                                            } else if (fromSubLocCon == "") {
                                                document.getElementById('fromLocator').readOnly = true;
                                                document.getElementById("fromLocator").value = "";
                                            } else {
                                                document.getElementById('fromLocator').readOnly = false;
                                            }
                                        })

                                    </script>

                                </div>
                            </div>
                            <div>
                                <input type="hidden" class="form-control" name="toSubinventory" id="inputtoSubinventory"
                                       th:field="*{toSubinventory}" />

                                        <input type="hidden" class="form-control" name="toLocator" id="inputtoLocator"
                                               th:field="*{toSubinvLocator}" th:value="*{toSubinvLocator}"/>


                                <input type="hidden" class="form-control" id="inputtoAccount"
                                       th:field="*{toAccount}" th:value="toAccount.id" name="toAccount"/>
                            </div>



                            <div th:class="${#fields.hasErrors('remarks')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                                <label class=" col-sm-3 control-label " for="inputremarks">Remarks</label>

                                <div class="col-sm-1 ">
                                    <b>:</b>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="inputremarks" placeholder="Remarks"
                                           name="remarks" th:field="*{remarks}"
                                           class="form-control"
                                           th:readonly="${invTrnsHeader.status!=T(com.aye.web.model.Inv.common.InvStatus).N}"/>

                                    <p th:errors="*{remarks}" class="help-block"></p>
                                </div>
                            </div>

                            <div th:class="${#fields.hasErrors('status')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                                <label class=" col-sm-3 control-label " for="inputstatus">Status</label>

                                <div class="col-sm-1 "><b>:</b></div>


                                <div class="col-sm-8">
                                    <input type="hidden" id="inputstatus" placeholder="Status"
                                           name="status" th:field="*{status}" th:value="*{status}"/>

                                    <input type="text" id="inputstatusDesc"
                                           th:field="${invTrnsHeader.status.displayName}"
                                           class="form-control" readonly="readonly"/>
                                </div>

                                <p th:errors="*{status}" class="help-block"></p>


                            </div>


                            <div class="form-group ">
                                <!--<label for="inputid">Name</label>-->
                                <input type="hidden" class="form-control" id="inputcolumn" placeholder="column"
                                       th:field="*{column.createdBy}" name="column"/>
                                <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                                <span class="help-block" th:if="${#fields.hasErrors('column.createdBy')}"
                                      th:errors="*{column.createdBy}">User Name Error</span>
                            </div>

                            <div class="form-group">
                                <!--<label for="inputid">Name</label>-->
                                <input type="hidden" class="form-control" id="inputcolumnDate" placeholder="columnDate"
                                       th:field="*{column.creationDate}" name="columnDate"/>
                                <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                                <span class="help-block" th:if="${#fields.hasErrors('column.creationDate')}"
                                      th:errors="*{column.creationDate}">User Name Error</span>
                            </div>

                            <div>
                                <button type="button" data-toggle="modal" data-target="#modal-RecordHistory"
                                        th:id="btnIdHM"
                                        th:attr="data-target='#modal-RecordHistory'" title="Record History">
                                    <span class="glyphicon glyphicon-record"></span>
                                </button>
                                <script th:inline="javascript">
                                    document.getElementById('btnIdHM').onclick =
                                            function () {
                                                var obj = [[${invTrnsHeader.column}]];

                                                histabledataset(obj);
                                            };
                                </script>
                            </div>
                            <div data-th-replace="fragments/recordHistoryModal :: recordhis-modal"></div>

                            <div class="form-group  col-sm-12 Padding10px" align="right">
                                <!--<button type="submit" name="Yo" class="btn btn-primary">YO</button>-->

                                <!--<span th:if="${ADD}">-->
                                    <button th:if="${invTrnsHeader.status==T(com.aye.web.model.Inv.common.InvStatus).N}"
                                            type="submit" name="save" class="btn btn-primary" id="btSave"
                                            onclick="return multipleFuncCall(this.id)">
                                        Save
                                    </button>
                                <!--</span>-->
                                <a th:href="@{/InvTrnsInterTransfer/addTrns/E/}+${pageId}+'/'+${temltId} +'/'+*{invOrg.id}"
                                   class="btn btn-default">New</a>
                                <a th:href="@{/InvTrnsInterTransfer/search/E/}+${pageId}+'/'+${temltId}+'/'+*{invOrg.id}"
                                   class="btn btn-primary">Search</a>
                                <a th:href="@{/InvTrnsInterTransfer/linesTrns/E/}+${pageId}+'/'+${temltId}+'/'+*{invOrg.id}+'/'+${invTrnsHeader.id}"
                                   class="btn btn-default">Lines</a>
                                 <!--<span th:if="${POST}" >-->
                                            <button th:if="${invTrnsHeader.status==T(com.aye.web.model.Inv.common.InvStatus).N}"
                                                    type="submit" th:name="post" class="btn btn-primary" align="right" id="btPost"
                                                    onclick="return prevDbClick(this.id)">
                                                Post
                                            </button>
                                        <!--</span>-->
                            </div>


                            <!--<form class="form-horizontal">-->
                            <div class=" col-sm-12  dist_view" th:if="${(invTrnsHeader.id)!=null}">


                                <div class="col-sm-12 brder accgl-col">
                                    <div class="col-sm-1 accgl-col brderright" style="width: 20px">Id</div>
                                    <div class="col-sm-3 accgl-col brderright" align="center">Item</div>
                                    <div class="col-sm-2 accgl-col brderright" align="center">UOM</div>
                                    <div class="col-sm-2 accgl-col brderright " align="center">Qty</div>
                                    <div class="col-sm-3 accgl-col brderright" align="center">Note</div>
                                    <div class="col-sm-1 accgl-col " align="center">Action</div>

                                </div>
                                <div class="col-sm-12 accgl-col brder "
                                     th:each="InvTrnsDetail,rowStat : *{invTrnsDetails}">

                                    <div class="col-sm-1  form-group accgl-col high_control top_marg brderright"
                                         th:text="${rowStat.count}" style="width: 20px">1
                                    </div>

                                    <div class="col-sm-3 form-group accgl-col top_marg brderright">
                                        <input class="td form-control " th:type="text" th:id="dis+${rowStat.count}"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].masterItem.itemCode}"
                                               height="2" readonly/>

                                        <input class="td form-control " th:type="hidden" th:id="id+${rowStat.count}"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].masterItem.id.id}"
                                               value="masterItem.id.id" height="2"/>
                                        <!--.id.inventoryInformations.id-->
                                        <input class="td form-control " th:type="hidden" th:id="idorg+${rowStat.count}"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].masterItem.id.orgId.id}"
                                               value="masterItem.id.orgId.id"
                                               height="2"/>
                                        <!--<input class="td form-control " th:type="hidden"-->
                                               <!--th:field="*{invTrnsDetails[__${rowStat.index}__].masterItem}"-->
                                               <!--height="2"/>-->


                                        <input class="td form-control " th:type="hidden"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].trnsUom}"
                                               height="2"/>
                                        <input class="td form-control " th:type="hidden"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].trnsUomCode}"
                                               height="2"/>

                                    </div>


                                    <div class="col-sm-2 form-group accgl-col top_marg brderright">
                                        <input class="td form-control " th:type="text" required="required"
                                               th:id="trnsUom+${rowStat.count}"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].trnsUom.uomCode}"
                                               value="trnsUom" th:readonly="true"
                                               height="2"/>

                                        <input class="td form-control " th:type="hidden"
                                               th:id="trnsUomId+${rowStat.count}"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].trnsUom.id}"
                                               value="trnsUomId"
                                               height="2"/>

                                    </div>
                                    <div class="col-sm-2 form-group accgl-col top_marg brderright">
                                        <input class="td form-control " th:type="text" required="required"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].trnsQty}"
                                               th:id="*{invTrnsDetails[__${rowStat.index}__].trnsQty}"
                                               value="trnsQty" readonly
                                               height="2"/>

                                        <input th:type="hidden"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].id}"
                                               value="id"/>
                                        <input th:type="hidden"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].invTrnsHeader}"
                                               value="invTrnsHeader"/>
                                        <input th:type="hidden"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].primaryQty}"
                                               value="invTrnsHeader"/>
                                        <input th:type="hidden"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].primUom}"
                                               th:id="primUom+${rowStat.count}"
                                               value="primUom"/>
                                        <input th:type="hidden"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].uomCode}"
                                               value="uomCode"/>
                                        <input th:type="hidden"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].toAccount}"
                                               value="toAccount"/>
                                        <input th:type="hidden"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].unitListPrice}"
                                               value="unitListPrice"/>
                                        <input th:type="hidden"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].column.createdBy}"
                                               value="column.createdBy"/>
                                        <input th:type="hidden"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].column.creationDate}"
                                               value="column.creationDate"/>

                                    </div>

                                    <div class="col-sm-3   accgl-col top_marg brderright">
                                        <input class="td form-control " th:type="text"
                                               th:field="*{invTrnsDetails[__${rowStat.index}__].remarks}"
                                               value="remarks"
                                               height="2" readonly/>
                                    </div>
                                    <div th:if="${invTrnsHeader.status==T(com.aye.web.model.Inv.common.InvStatus).N}"
                                         class="col-sm-1 form-group accgl-col " align="center"
                                         style="text-align: center ">
                                        <a th:href="@{/InvTrnsInterTransfer/linesTrns/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${invTrnsHeader.id}+'/'+*{invTrnsDetails[__${rowStat.index}__].id}"
                                           class="btn btn-success"><span
                                                class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                    </div>


                                </div>

                            </div>
                            <!--</form>-->
                            <div>

                            </div>
                        </form>

                    </div>
                </div>

                <div class="panel-footer"></div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
