<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>

    <link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>

    <script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>
    <script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>
    <script th:inline="javascript">

        window.onload = function () {
            document.getElementById('concId').onkeydown= function(e)
            {
                if (e.keyCode==82 & e.altKey)
                {
//                    alert('R');
                    document.getElementById("refreshId").click(); // submit the form by hitting ctrl + enter
                    // alert(e.keyCode); // to know other keyCodes of each keys
                    return false;
                }
            }
        }

    </script>
</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Requestes</div>
                <div class="panel-body">
                    <form id="concId" th:action="@{'/Concurrent/getUserConc/'+${reqGrpHdr}+'/'+${temltId}+'/'+1}"
                          th:object="${concurentRequestV}" th:method="post" th:target="_blank">
                        <!--+${role.role}  +${role.role}-->


                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Req. Id</th>
                                <th>Name</th>
                                <th>Parameters</th>
                                <th>Exec.Time</th>
                                <th>Status</th>
                                <th>Output</th>
                            </tr>
                            </thead>
                            <tbody id="ctBdy">
                            <!--<div th:if="!${#lists.isEmpty(concRequestList)}">-->
                            <div th:if="!${#lists.isEmpty(concurentRequestV)}">
                                <!--<tr th:each="org,rowStat  : ${concRequestList.concRequests}">-->
                                    <!--<td ><input type="text" name="id" th:field="${concRequestList.concRequests[__${rowStat.index}__].id}" readonly="readonly"/></td>-->
                                <tr th:each="conc : ${concurentRequestV}">
                                    <td th:text="${conc.id}" onclick="paramFunc(this)" title="Click To Show Detail"> </td>
                                    <td th:text="${conc.executableName}" onclick="paramFunc(this)" title="Click To Show Detail"> </td>
                                    <!--<td th:text="${conc.parameterValues}"> </td>-->
                                    <td th:text="${conc.parameterValues}" onclick="paramFunc(this)" title="Click To Show Detail"> </td>
                                    <td th:text="${conc.executionTime}" onclick="paramFunc(this)" title="Click To Show Detail"> </td>
                                    <!--<td th:text="${T(com.aye.web.model.concurency.ConcurencyStatus).getDisplayName}"> </td>-->

                                    <div th:if="${conc.status==T(com.aye.web.model.concurency.ConcurencyStatus).E}">
                                    <td style="background-color:#ff6a5b ;color:#000000; font-weight: bold"    th:text="${conc.status.getDisplayName()}"> </td>
                                    </div>

                                    <div th:if="${conc.status!=T(com.aye.web.model.concurency.ConcurencyStatus).E}">
                                    <td th:text="${conc.status.getDisplayName()}"> </td>
                                    </div>

                                    <td>
                                        <div class="text-right">

                                            <button type="submit" name="output" th:value="${conc.id}" class="btn btn-primary"
                                                    th:disabled="${conc.status!=T(com.aye.web.model.concurency.ConcurencyStatus).P ||conc.rptType == T(com.aye.web.model.common.RptType).NONE }">View</button>

                                            <span th:if="${conc.status!=T(com.aye.web.model.concurency.ConcurencyStatus).N}">
                                            <a th:href="@{/Concurrent/cancelUserConc}+'/'+${reqGrpHdr}+'/'+${temltId}+'/'+
                                            ${conc.id}" class="btn btn-danger" disabled onclick="return false;" >Cancel</a>
                                            </span>
                                            <span th:if="${conc.status==T(com.aye.web.model.concurency.ConcurencyStatus).N}">
                                                <!--th:href="@{/Concurrent/getUserConc}+'/'+${reqGrpHdr}+'/'+${temltId}"-->
                                                <a th:href="@{/Concurrent/cancelUserConc}+'/'+${reqGrpHdr}+'/'+${temltId}+'/'+
                                            ${conc.id}" class="btn btn-danger" >Cancel</a>
                                            </span>

                                        </div>
                                    </td>

                                </tr>
                                <script th:inline="javascript">
                                    function paramFunc(p)
                                    {
                                        var ltemltId = [[${temltId}]];
                                        var lReqGrpHdr = [[${reqGrpHdr}]];

                                        $('#modal-ConcParam').modal('show');

                                        var rIndx =p.closest('tr').rowIndex-1;
                                        var tableRow =document.getElementById("ctBdy").rows[rIndx];
                                        var concId=tableRow.cells[0].innerHTML;
//                                        alert(concId+' xx '+rIndx);
                                        l_urlVal = '/AYE/Report/execParamsFConc/'+ltemltId+'/'+concId;
                                        var l_url = window.location.origin + l_urlVal;
//                                    alert(l_url);

                                        $('#replace_ConcParam').load(l_url);
                                    }
                                </script>

                            </div>
                            <div>
                                <a id="refreshId" th:href="@{/Concurrent/getUserConc}+'/'+${reqGrpHdr}+'/'+${temltId}"
                                   class="btn btn-default">Refres</a>
                                <a th:href="@{/Report/Rpt}+'/'+${reqGrpHdr}+'/'+${temltId}"
                                   class="btn btn-default">Submit</a>
                            </div>
                            <!--<div th:if="${#lists.isEmpty(concurentRequestV)}">-->
                            <div th:if="${concurentRequestV.totalPages==0}">
                                <tr>
                                    <td>You Dont Have Any Requests!</td>
                                </tr>
                            </div>

                            </tbody>

                        </table>


                        <!--<div th:if="${concurentRequestV.totalPages  > 0}" class="pagination"-->
                             <!--th:each="pageNumber : ${pageNumbers}">-->
                            <!--<a th:href="@{'/Concurrent/getUserConc'+'/'+${rtpName}+'/'+${rptType}+'/'+${pageId}+'/'+${temltId}+'/'-->
                            <!--+${pageNumber+1}}"-->
                               <!--th:text="${pageNumber}"-->
                               <!--th:class="${pageNumber==concurentRequestV.number + 1} ? active"></a>-->
                        <!--</div>-->

                    <div>
                        <nav aria-label="Pagination" th:if="${concurentRequestV.totalPages gt 0}">
                            <ul class="pagination justify-content-center font-weight-medium">
                                <li class="page-item" th:classappend="${concurentRequestV.number eq 0} ? 'disabled'">
                                    <a class="page-link svg-icon"
                                       th:href="@{'/Concurrent/getUserConc'+'/'+${reqGrpHdr}+'/'+${temltId}+'/'
                                       +${concurentRequestV.number lt 2 ? 1 : concurentRequestV.number}}"
                                       aria-label="Previous"
                                       title="Previous Page" rel="tooltip">
                                        <span aria-hidden="true" class="glyphicon glyphicon-chevron-left" width="20" height="20"></span>
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="${i eq concurentRequestV.number + 1} ? 'active'"
                                    th:each="i : ${#numbers.sequence( concurentRequestV.number + 1,
                                    concurentRequestV.totalPages > 10 + concurentRequestV.number ? concurentRequestV.number + 10 : concurentRequestV.totalPages, 1)}">
                                    <a class="page-link"
                                       th:href="@{'/Concurrent/getUserConc'+'/'+${reqGrpHdr}+'/'+${temltId}+'/'+${i}}"
                                       th:text="${i}"
                                       th:title="${'Page '+ i}"
                                       rel="tooltip"></a>
                                </li>
                                <!--<li class="page-item disabled" th:if="${accCodeCombinitionses.number + 10 lt accCodeCombinitionses.totalPages}">-->
                                <!--<a class="page-link svg-icon" href="#">-->
                                <!--<span class="more-horizontal" width="20" height="20"></span>-->
                                <!--</a>-->
                                <!--</li>-->
                                <li class="page-item" th:classappend="${concurentRequestV.number + 1 eq concurentRequestV.totalPages} ? 'disabled'">
                                    <a class="page-link svg-icon"
                                       th:href="@{'/Concurrent/getUserConc'+'/'+${reqGrpHdr}+'/'+${temltId}+'/'+${concurentRequestV.number + 1}}"
                                       aria-label="Next"
                                       title="Next Page" rel="tooltip">
                                        <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"  width="20" height="20"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
</div>


                        <!--<div class="text-right">-->
                            <!--<a  th:href="@{/InvItem/MasterItem/E/}+${pageId}+'/'+${temltId}"-->
                                <!--class="btn btn-default">Cancel</a>-->
                            <!--<button type="submit" name="assignee" class="btn btn-primary">Save</button>-->
                        <!--</div>-->
                        <div class="modal modal-warning fade in" th:id="modal-ConcParam" >

                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span></button>
                                        <h5 class="modal-title">Parameter</h5>
                                        <div class="modal-body">
                                            <div class=" col-sm-12 table-responsive dist_view">
                                                <div id="replace_ConcParam">

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>



                </div>
                <div class="panel-footer">
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}" >

</script>
</body>
</html>
