<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="UserConcList" th:fragment="UserConcList" class="UserConcList">
    <div class="form-group col-sm-12">

        <div th:unless="${#lists.isEmpty(userConc)}">
            <table class="table table-bordered table-hover table-striped" id="myTable">
                <thead>
                <!--<tr>-->
                <!--<th th:text="#{results.ordTrnsTypes.id}">Id</th>-->
                <!--<th th:text="#{results.ordTrnsTypes.trnsTypeName}">Name</th>-->
                <!--<th th:text="#{results.ordTrnsTypes.description}">Desc.</th>-->
                <!--<th th:text="#{results.ordTrnsTypes.startDates}">Start</th>-->
                <!--<th th:text="#{results.ordTrnsTypes.active}">End</th>-->
                <!--<th th:text="#{results.ordTrnsTypes.priceListHeader.name}">Price List</th>-->
                <!--<th th:text="#{results.ordTrnsTypes.invOrg.code}">Inv.Org</th>-->
                <!--<th th:text="#{results.ordTrnsTypes.orgHierarchy.code}">Org</th>-->
                <!--<th th:text="#{results.ordTrnsTypes.glCategories.categoriesCode}">Gl Categories</th>-->
                <!--</tr>-->
                <tr>
                    <th>Select</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Exe.Id</th>
                    <th>Req. Name</th>
                    <th></th>

                </tr>

                </thead>
                <tbody id="bdy">
                <div th:each="conc : ${userConc}">
                <tr >
                    <td>
                        <input type="radio" name="conc.id" onclick="myfunc(this)" th:id="${conc.id}" />

                    </td>

                    <td th:text="${conc.id}"></td>
                    <td th:text="${conc.executables.name}"></td>
                    <td th:text="${conc.executables.id}"> </td>
                    <td th:text="${conc.requestName}"> </td>
                    <td style="font-size: 12px; color: #323232;" width="10px">
                        <a href="#" th:id="d+${conc.id}" th:title="${conc.id}" style="font-size: 12px; color: black;">Detail</a>
                </tr>
                <tr>
                    <td colspan="6" >
                        <div th:id="extra+${conc.id}" style="display: none; " th:if="!${#lists.isEmpty(conc.concRequestParams)}">
                            <div class="col-sm-12 " style="padding-bottom: 20px; padding-left: 0px;" th:id="inner+${conc.id}">
                                <div class="col-sm-12 colps_div_hdr" style="margin-top: 5px;">
                                    <div class="col-sm-6 " style="border-right: 1px solid transparent; color:#93A2B2"><b>Name</b></div>
                                    <div class="col-sm-6 " style="border-right: 1px solid transparent; color: #93A2B2;"><b>Value</b></div>

                                </div>
                                <div th:id="lines+${conc.id}">
                                <div  class="col-sm-12 colps_div_hdr" th:each="p : *{conc.concRequestParams}" >

                                    <div class="col-sm-6 " about="Name" style="border-right: 1px solid transparent; margin-top: 1px;" th:text="*{p.parameterToken}" clss="Name" ></div>
                                    <div th:id="val+${conc.id}" about="Value" class="col-sm-6 " style="border-right: 1px solid transparent; margin-top: 1px;" th:text="*{p.paraMeterId}" ></div>
                                    <div th:id="val+${conc.id}" about="dataType" class="col-sm-6 " style="border-right: 1px solid transparent; margin-top: 1px;" th:text="*{p.dataType}" ></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>
                <script th:inline="javascript">
                    var a='#d'+[[${conc.id}]];

                    //alert(a);
                    $(a).click(function() {
                        var dbfield = [[${conc.id}]];
                        var df='#extra'+[[${conc.id}]];
                        $(df + $(this).attr('id').substr(5)).slideToggle("slow");
                        event.preventDefault();

                    });

                    function myfunc(ele) {
                        var rIndx =ele.closest('tr').rowIndex-1;
                        var tableRow =document.getElementById("bdy").rows[rIndx];
                        var values ;

//                        var innervalues =[];
//                        var dfs='lines'+[[${conc.id}]];
////                        alert(dfs);
//                        var zz=document.getElementById(dfs) ;
////                    alert(zz[1]);
//                        for (let i = 0; i < zz.children.length; i++) {
//                            var zz1=zz.children[i];
//
//                            var eleVal=[];
////                            alert('First');
//                            for (let a = 0; a < zz1.children.length; a++) {
//                                var lTag;
//                                var lVal;
//                                var lData;
//                                var cl =zz1.children[a];
////                                alert('second in '+cl.innerText);
//                                var abVal =cl.getAttribute('about');
//                                if (abVal=='Name')
//                                {
//                                    lTag = cl.innerText;
////                                    alert(lTag);
//                                }else if(abVal=='Value')
//                                {
//                                    lVal = cl.innerText;
//                                }
//                               else if(abVal=='dataType')
//                                {
//                                    lData= cl.innerText;
//                                }
////                                alert(lTag+" tag");
////                                alert(lVal +" val");
//                            }
////                            alert(lTag+" Out of second Tag"+lVal);
//                            eleVal.push(lTag , lVal,lData);
////                            alert(eleVal.lTag);
//                            innervalues.push(eleVal);
////                            alert("Out of second "+innervalues.length);
//
//
//                        }
//                        innervalues.sort();
                        values ={"id": tableRow.cells[3].innerHTML,
                            "Name": tableRow.cells[2].innerHTML,
                            "concId": tableRow.cells[1].innerHTML,
                            "exe": tableRow.cells[4].innerHTML
                        };
////                        values.sort();
//                        alert(tableRow.cells[1].innerHTML);
                        setFromConc(values);

                        $('#userConc').empty();
                    }

                </script>
                </div>
                </tbody>

            </table>
            <script>

            </script>



            <div>


            </div>

        </div>
    </div>
</div>
</body>
</html>