<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:insert="Procurment/PO/PoScriptLink"/>
    <!--<link-->
    <!--href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css"-->
    <!--rel="stylesheet" type="text/css"/>-->
    <!--<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>-->
    <!--<script-->
    <!--src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"-->
    <!--type="text/javascript"></script>-->
    <!--<link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>-->

    <!--<script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>-->
    <!--<script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>-->
    <script th:inline="javascript">

        function selectedobj(value, ind) {
            if(ind == 'poLineItem')
            {
                SearchItemPOLineObj(value);
                SearchItemObj(value);
            }else if (ind == 'poLineUOM')
            {
                SearchUomObj(value);
            }
        };


        function getPoSupInf(pSup, pdisplay, pindc) {
//            alert('11');

//                                                alert('getLocator');
            var varOrg = document.getElementById('inputorgHierarchy').value;

            var displayfieldfrom = pdisplay;
            var indc = pindc;
            AutocomFunc('/AYE/ACRC/SearchOrgSupplier/'+varOrg+'/'+ pSup,
                    displayfieldfrom,
                    'name',
                    null,
                    indc);
        };

        function AutocomFunc(purlval, pdisplayfield, pgetvalue, pgetDesc, pindc) {
//            alert(purlval);
//            alert(pdisplayfield);
//            alert(pgetvalue);
//            alert(pgetDesc);
//            alert(pindc);

            var urlval = purlval;//'/AYE/ACRC/SearchCodeComb/' + bSeg;
            var displayfield = pdisplayfield;//'#toAccountV';
            var getvalue = pgetvalue;//'concatedSegment';
            var getDesc = pgetDesc;//'siteAddress';
            var indc = pindc;//'segment2desc';

            autocomwithobject(urlval, getvalue, displayfield, null, getDesc, indc);

        };




        function getLocator(pfSub, pdisplay, pindc) {
//                                                alert('getLocator');
            var displayfieldfrom = pdisplay;
            var indc = pindc;

            AutocomFunc('/AYE/ACRC/SearchLocator/' + pfSub,
                    displayfieldfrom,
                    'locatorValue',
                    null,
                    indc);
        }
        ;


    </script>
</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">PO Lines For -.<span th:text="${poHeader.poNumber+' Supplier- '+poHeader.supplierName}"></span></div>
                <div class="panel-body">
                    <form th:action="@{'/procurment/poLines/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${poHdrId}}"
                          th:object="${poLines}" th:method="post">
                        <!--+${role.role}  +${role.role}-->

                 <span style="font-weight: bold" th:each="m :${msg}">
                        <p th:style="${m.tag} ? 'color:#ed1c24;':'color:#4aa509;'">
                            <span th:if="${m.tag==null}" th:text="${m.msg}"> </span>
                            <span th:unless="${m.tag==null}" th:text="${m.tag+' '+m.msg}"></span>
                        </p>
                 </span>
                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputid" placeholder="Id" th:field="*{id}"
                                   name="id"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('id')}"
                                  th:errors="*{id}">Id Error</span>
                        </div>

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputpoHeader" placeholder="inputpoHeader" th:field="*{poHeader}"
                                   name="poHeader"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('poHeader')}"
                                  th:errors="*{poHeader}">Id Error</span>
                        </div>

                        <div class="form-group">
                            <input type="hidden" id="inputmasterItemInvOrgId" placeholder="masterItemInvOrgId" name="masterItem" th:field="*{masterItem.id.inventoryInformations.id}" class="form-control" th:value="*{masterItem}"/>
                            <input type="hidden" id="inputmasterItem" placeholder="masterItem" name="masterItem" class="form-control" th:field="*{masterItem.id.id}" th:value="*{masterItem}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('poHeader')}" th:errors="*{poHeader}">Id Error</span>
                        </div>


                        <div th:class="${#fields.hasErrors('itemCode')} ? 'form-group has-error' :'form-group required col-sm-12'">
                            <label class="col-sm-3 control-label " for="inputitemCode">Item & Primary UOM</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-4 ">
                                <input type="text" id="inputitemCode" placeholder="itemCode" name="itemCode" th:field="*{itemCode}" class="form-control" required="required" autofocus
                                        th:readonly="*{poQuotationHeader}" />
                                <p th:errors="*{itemCode}" class="help-block"></p>
                            </div>
                            <script th:inline="javascript">

//                                $(document).ready(function(){
//                                    var ltrnsType=[[${poTrnsType.typeOfPo}]];
//                                    if(ltrnsType=="SERVICE")
//                                    {
//                                        $("#inputitemCode").attr('readonly','readonly');
//                                        $("#inputdescription").removeAttr('readonly');
//                                    }
//                                })
                                function SearchItemPOLineObj(objparms) {
//                                            alert(objparms.description);
                                    var objparmV = objparms;
                                    $('#inputmasterItem').val(objparmV.id.id).trigger("change");
                                    $('#inputdescription').val(objparmV.description).trigger("change");
                                    $('#inputprimUom').val(objparmV.defaultUom.id).trigger("change");
                                    $('#inputuomCode').val(objparmV.defaultUom.uomCode).trigger("change");
                                    $('#inputtrnsUom').val(objparmV.defaultUom.id).trigger("change");
                                    $('#inputtrnsUomCode').val(objparmV.defaultUom.uomCode).trigger("change");
                                    $('#inputconversionRate').val(objparmV.defaultUom.defaultConvRate).trigger("change");
                                    document.getElementById('inputtrnsUomCode').readOnly =false;
                                    document.getElementById('inputtrnsQty').readOnly =false;
                                    document.getElementById('inputunitPrice').readOnly =false;
                                    document.getElementById('inputamount').readOnly =false;
                                    document.getElementById('inputbaseAmount').readOnly =false;
                                    document.getElementById('lastPurchasePrice').disabled = false;

                                };

                                document.getElementById('inputitemCode').oninput = function() {
                                    var lItmCode = document.getElementById('inputitemCode').value;
                                    var itemType="";
                                    var ltrnsType=[[${poTrnsType.typeOfPo}]];

                                    if (lItmCode.length > 2) {
                                        if(ltrnsType=="SERVICE")
                                        {
                                            itemType="N";
                                        }else
                                        {
                                            itemType="S";
                                        }

                                        var  lInvOrg=document.getElementById('inputmasterItemInvOrgId').value;

                                        var itemUrl = '/AYE/ACRC/SearchOrgItemCodeByType/' + lInvOrg + '/' + lItmCode+ '/' + itemType;
//                                            alert(itemUrl);
//                                        autocomwithobject(itemUrl, 'itemCode', '#inputitemCode', null, 'description', 'poLineItem');
                                        autocomwithobjectwod(itemUrl, 'itemCode', '#inputitemCode', 'description', 'poLineItem');
                                        document.getElementById('inputitemCode').focus();
                                    }


                                }
                            </script>
                            <div class="col-sm-3 ">
                                <input type="text" id="inputuomCode" placeholder="uomCode"
                                       name="itemCode" th:field="*{uomCode}" class="form-control" readonly="readonly"/>

                                <p th:errors="*{uomCode}" class="help-block"></p>
                            </div>
                            <div class="col-sm-1 ">
                            <button type="button" data-toggle="modal" th:id="lastPurchasePrice" data-target="#modal-lastPurchasePrice"
                                    th:attr="data-target='#modal-lastPurchasePrice'" class="clickMe" data-id="price" disabled title="Last Purchase Price">
                                <span class="glyphicon" >&#xe164;</span>
                            </button>
                                <script th:inline="javascript">
                                        var mb = '#lastPurchasePrice';
                                    $(mb).click(function(){
//                                        alert('cc');
                                        getContent(1);
                                    })

                                    function getContent(btnId) {
                                        var pId = [[${pageId}]];
                                        var tId = [[${temltId}]];
                                        var invOrgId = document.getElementById('inputmasterItemInvOrgId').value;
                                        var itemId = document.getElementById('inputmasterItem').value;

                                        var l_urlVal = '/AYE/procurment/getLastPurchasePrice/E/'+ pId + '/' + tId+'/'+invOrgId + '/' + itemId;
                                        var l_url = window.location.origin + l_urlVal;
                                        $('#replace_poLastPrice_div').load(l_url);
                                    };

                                    $(document).ready(function()
                                    {
                                        var lItemId1 = document.getElementById('inputmasterItem').value;
                                        if (lItemId1.length>0)
                                        {
                                            document.getElementById('lastPurchasePrice').disabled = false;
                                        }else
                                        {
                                            document.getElementById('lastPurchasePrice').disabled = true;
                                        }
                                    })

                                </script>
                            </div>
                        </div>
                        <div th:class="${#fields.hasErrors('itemDesc')} ? 'form-group has-error' :'form-group col-sm-12'">
                            <label class="col-sm-3 control-label " for="inputdescription"></label>

                            <div class="col-sm-1 "><b></b></div>
                            <div class="col-sm-8  ">
                                <input type="text" id="inputdescription" placeholder="Description" name="itemDesc"
                                       th:field="*{itemDesc}" class="form-control" readonly/>
                                <p th:errors="*{itemDesc}" class="help-block"></p>
                            </div>
                        </div>
                        <div class="col-sm-12">

                            <div class="col-sm-4 " align="center"></div>
                            <div class="col-sm-4 " align="center">UOM</div>
                            <div class="col-sm-4 " align="center">Qty</div>
                        </div>

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="inputprimUom" placeholder="primUom" th:field="*{primUom}" name="primUom" />
                            <span class="help-block" th:if="${#fields.hasErrors('primUom')}" th:errors="*{primUom}">Id Error</span>
                        </div>

                        <div th:class="${#fields.hasErrors('uomCode')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class="col-sm-3 control-label " for="inputuomCode">UOM & Qty</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-4 ">
                                <input type="text" id="inputtrnsUomCode" placeholder="trnsUomCode"
                                       name="trnsUomCode" th:field="*{trnsUomCode}" class="form-control" required="required"/>

                                <input type="hidden" id="inputorgHierarchy"
                                       name="orgHierarchy" th:field="*{orgHierarchy}" class="form-control"/>

                                <p th:errors="*{trnsUomCode}" class="help-block"></p>
                            </div>
                            <script th:inline="javascript">


                                $('#inputtrnsUomCode').ready(function()
                                {
                                    var itemVal =document.getElementById('inputitemCode').value;
//                                    alert('x');
                                    if (itemVal.length>0)
                                    {
                                        document.getElementById('inputtrnsUomCode').readOnly =false;
                                        document.getElementById('inputamount').readOnly =false;
                                        document.getElementById('inputbaseAmount').readOnly =false;
                                    }else
                                    {
                                        document.getElementById('inputtrnsUomCode').readOnly =true;
                                        document.getElementById('inputtrnsQty').readOnly =true;
                                        document.getElementById('inputunitPrice').readOnly =true;

                                    }
                                });

                                $("#inputtrnsUomCode").ready(function () {
                                    var date = $('#inputdate').val();
                                    if (date != "") {
                                        $("#inputperiodName").val(moment(date).format('MMM-YY'));
                                    }
                                });

                                function SearchUomObj(objparms) {
//                                            alert('x');
                                    var objparmL = objparms;
                                    $('#inputtrnsUom').val(objparmL.toUom.id).trigger("change");
                                    $('#inputconversionRate').val(objparmL.convRate).trigger("change");
                                };


                                var x = '#inputitemCode';



                                document.getElementById('inputtrnsUomCode').oninput = function () {
                                    if (document.getElementById('inputitemCode').value.length>1)
                                    {
                                        var itmId = document.getElementById('inputmasterItem').value;
                                        var orgId = document.getElementById('inputmasterItemInvOrgId').value;
//                                            alert(itmId);
                                        var urlvals = '/AYE/ACRC/SearchUomByItem/' + orgId + '/' + itmId;
//                                    alert(urlvals);
                                        var displayfield = '#inputtrnsUomCode';
                                        var dbfield = '#inputtrnsUomCode';
                                        var getvalue = 'toCode';

                                        autocomwithobject(urlvals, 'toCode', '#inputtrnsUomCode', null, 'convRate', 'poLineUOM');
                                        document.getElementById('inputtrnsUomCode').focus();

                                    }


                                }

                            </script>
                            <div class="col-sm-4 ">
                                <input style="text-align: end" type="text" id="inputtrnsQty" placeholder="trnsQty"
                                       name="Qty" th:field="*{trnsQty}" class="form-control" required="required"/>

                                <p th:errors="*{trnsQty}" class="help-block"></p>
                            </div>

                            <script th:inline="javascript">
                                document.getElementById('inputtrnsQty').oninput = function(){
                                    var lQty;
                                    var convrate;
                                    var lQAmount;
                                    var lUnitPrice1;
                                    var lAmount1;
                                    var erate1;
                                    lUnitPrice1=document.getElementById('inputunitPrice').value;
                                    convrate=document.getElementById('inputconversionRate').value;
                                    lQty=document.getElementById('inputtrnsQty').value;
                                    erate1=document.getElementById('inputexchRate').value;
                                    if (lQty.length>0)
                                    {

                                        lQAmount =convrate*lQty;
//                                         alert(lAmount);
                                        document.getElementById('inputprimaryQty').value=lQAmount;
                                        if (lUnitPrice1.length>0)
                                        {
                                            lAmount1=lUnitPrice1*lQty/erate1;
                                            document.getElementById('inputamount').value=lAmount1;
                                            document.getElementById('inputbaseAmount').value=lUnitPrice1*lQty;
                                        }else
                                        {
                                            document.getElementById('inputamount').value=0;
                                            document.getElementById('inputbaseAmount').value=0;
                                        }
                                    }else
                                    {
                                        document.getElementById('inputprimaryQty').value=0;
                                        document.getElementById('inputamount').value=0;
                                        document.getElementById('inputbaseAmount').value=0;
                                    }
                                };
                            </script>
                        </div>

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="inputprimaryQty" placeholder="primaryQty" th:field="*{primaryQty}" name="primaryQty"/>
                            <span class="help-block" th:if="${#fields.hasErrors('primaryQty')}" th:errors="*{primaryQty}">Id Error</span>
                        </div>

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="inputtrnsUom" placeholder="trnsUom" th:field="*{trnsUom}" name="trnsUom"/>
                            <span class="help-block" th:if="${#fields.hasErrors('trnsUom')}" th:errors="*{trnsUom}">Id Error</span>
                        </div>


                        <div class="form-group">
                            <input type="hidden" class="form-control" id="inputconversionRate" placeholder="conversionRate" th:field="*{conversionRate}" name="conversionRate"/>
                            <span class="help-block" th:if="${#fields.hasErrors('conversionRate')}" th:errors="*{conversionRate}">Id Error</span>
                        </div>

                        <div class="col-sm-12">

                            <div class="col-sm-4 " align="center"></div>
                            <div class="col-sm-2 " align="center">Price</div>
                            <div class="col-sm-3 " align="center">Amount</div>
                            <div class="col-sm-3 " align="center">Orgin Amount</div>
                        </div>

                        <div th:class="${#fields.hasErrors('trnsQty')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class="col-sm-3 control-label " for="inputtrnsQty">Price & Amount</label>

                            <div class="col-sm-1 "><b>:</b></div>


                            <div class="col-sm-2 ">
                                <input style="text-align: end" type="text" id="inputunitPrice" placeholder="unitPrice"
                                       name="Unit Price" th:field="*{unitPrice}" class="form-control" required="required"
                                  th:readonly="*{poQuotationHeader}"/>

                                <p th:errors="*{unitPrice}" class="help-block"></p>
                            </div>
                            <script th:inline="javascript">
                                document.getElementById('inputunitPrice').oninput = function(){
                                    var lUnitPrice;
                                    var lQty;
                                    var erate;
                                    var lAmount;

                                    lUnitPrice=document.getElementById('inputunitPrice').value;
                                    lQty=document.getElementById('inputtrnsQty').value;
                                    erate=document.getElementById('inputexchRate').value;
//                                    alert(lUnitPrice);
                                    if (lQty.length>0)
                                    {

                                        lAmount =lUnitPrice*lQty/erate;
//                                         alert(lUnitPrice+' ' +lQty+' '+erate);
                                        document.getElementById('inputamount').value=lAmount;
                                        document.getElementById('inputbaseAmount').value=lUnitPrice*lQty;
                                    }
                                };
                            </script>
                            <div class="col-sm-3 ">
                                <input style="text-align: end" type="text" id="inputamount" placeholder="amount"
                                       name="amount" th:field="*{amount}" class="form-control" readonly="readonly" />
                                <script th:inline="javascript">
                                    document.getElementById('inputamount').oninput = function(){

                                        var lUnitPriceA;
                                        var lAmountA=document.getElementById('inputamount').value;
                                        var lQtyA=document.getElementById('inputtrnsQty').value;
                                        var erateA=document.getElementById('inputexchRate').value;
                                        if (lQtyA.length>0)
                                        {
//                                            alert('X');

                                            lUnitPriceA =(lAmountA*erateA)/lQtyA;
//                                         alert(lUnitPriceA);
                                            document.getElementById('inputunitPrice').value=lUnitPriceA;
                                            document.getElementById('inputbaseAmount').value=lUnitPriceA*lQtyA;

                                        }
                                    }
                                </script>

                                <p th:errors="*{amount}" class="help-block"></p>
                            </div>
                            <div class="col-sm-3 ">
                                <input style="text-align: end" type="text" id="inputbaseAmount" placeholder="Base Amount"
                                       name="amount" th:field="*{baseAmount}" class="form-control" readonly="readonly" />
                                <script th:inline="javascript">
                                    document.getElementById('inputbaseAmount').oninput = function(){

                                        var lUnitPriceA;
                                        var lAmountBase=document.getElementById('inputbaseAmount').value;
                                        var lQtyA=document.getElementById('inputtrnsQty').value;
                                        var erateA=document.getElementById('inputexchRate').value;
                                        if (lQtyA.length>0)
                                        {
//                                            alert('X');

//                                            lUnitPriceA =(lAmountA/erateA)/lQtyA;
//                                         alert(lUnitPriceA);
                                            document.getElementById('inputunitPrice').value=lAmountBase/lQtyA;
                                            document.getElementById('inputamount').value=lAmountBase/erateA;

                                        }
                                    }
                                </script>
                            </div>

                        </div>


                        <div class="form-group">
                            <input type="hidden" class="form-control" id="inputexchRate" placeholder="exchRate" th:field="*{exchRate}" name="exchRate"/>
                            <span class="help-block" th:if="${#fields.hasErrors('exchRate')}" th:errors="*{exchRate}">Id Error</span>
                        </div>




                        <div th:class="${#fields.hasErrors('subinventory')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class=" col-sm-3 control-label " for="inputsubinventory">Subinventory</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-4">
                                <select class="form-control" name="subinventory" id="inputsubinventory"
                                        th:field="*{subinventory}" required="required">
                                    <option value="">Please select One</option>
                                    <option th:each="sub : ${subInvs}" th:text="${sub.code}" th:value="${sub.id}"
                                            th:attr="data-locConfrom=${sub.isLocatorControl}">
                                        module
                                    </option>
                                </select>
                                <input type="hidden" id="locSubinvLocConfrom"
                                       th:field="*{subinventory.isLocatorControl}"
                                       th:value="*{subinventory}"/>
                                <script th:inline="javascript">
                                    $("#inputsubinventory").change(function () {
                                        var varSubinvLocConfrom = ($(this.options[this.selectedIndex]).attr('data-locConfrom'));
//                                        alert(varSubinvLocConfrom +'xx');

                                        document.getElementById('locSubinvLocConfrom').value = varSubinvLocConfrom;
                                        if (varSubinvLocConfrom == "false") {
//                                                alert(varSubinvLocCon);
                                            document.getElementById('inputsubinvLocator').readOnly = true;
                                            document.getElementById("inputsubinvLocator").value = "";
                                        } else {
                                            document.getElementById('inputsubinvLocator').readOnly = false;
                                        }
                                    })

                                    $(document).ready(function(){
                                        var varSubinv= document.getElementById('inputsubinventory').value ;
//                                        alert(varSubinv+'xx');

//                                        document.getElementById('locSubinvLocConfrom').value = varSubinvLocConfrom;
                                        if (varSubinv == "") {
//                                                alert("Y");
                                            document.getElementById('inputsubinvLocator').readOnly = true;
                                            document.getElementById("inputsubinvLocator").value = "";
                                        } else if (varSubinv!="")
                                        {
//                                            alert("x");
                                            var fromSubLocCon = document.getElementById('locSubinvLocConfrom').value;
//                                            var fromSubLocCon = ($(this.options[this.selectedIndex]).attr('data-locConfrom'));
                                            if (fromSubLocCon == "false") {
//                                                alert(fromSubLocCon);
                                                document.getElementById('inputsubinvLocator').readOnly = true;
                                                document.getElementById("inputsubinvLocator").value = "";
                                            } else {
                                                document.getElementById('inputsubinvLocator').readOnly = false;
                                            }

                                        }
                                        else {
                                            document.getElementById('inputsubinvLocator').readOnly = false;
                                        }
                                    });
                                </script>
                                <!--<input type="hidden" id="inputSubinvLocContrl" th:field="*{fromSubinventory.isLocatorControl}" />-->
                            </div>
                            <div class="col-sm-4">

                                <input type="text" class="form-control" name="subinvLocator" id="inputsubinvLocator"
                                       th:field="*{subinvLocator}" th:value="*{subinvLocator}"
                                       required="required" />
                                <script th:inline="javascript">
                                    var mods = [[${mode}]];
                                    var trns = [[*{id}]];
                                    if (trns != null) {
//                                        var fromSubLocCon = document.getElementById('locSubinvLocConfrom').value;
////                                            var fromSubLocCon = ($(this.options[this.selectedIndex]).attr('data-locConfrom'));
//                                        if (fromSubLocCon == "false") {
//                                                alert(fromSubLocCon);
//                                            document.getElementById('inputsubinvLocator').readOnly = true;
//                                            document.getElementById("inputsubinvLocator").value = "";
//                                        } else {
//                                            document.getElementById('inputsubinvLocator').readOnly = false;
//                                        }
                                    }

                                    function SearchFloctObj(objparms) {
//                                            alert('x');
                                        var objparmV = objparms;
                                        $('#inputsubinvLocator').val(objparmV.id).trigger("change");
                                    }
                                    ;

                                    document.getElementById('inputsubinvLocator').oninput = function () {
                                        FromLocatorInf();
                                    };

                                    function FromLocatorInf() {
                                        var fLoc = document.getElementById('inputsubinvLocator').value;
                                        if (fLoc.length > 2) {
                                            var displayfieldfrom = [['#inputsubinvLocator']];
                                            var varFromSubinv = document.getElementById('inputSubinventory').value;
                                            getLocator(varFromSubinv, displayfieldfrom, 'floc');
                                            document.getElementById('inputsubinvLocator').focus();
                                        }
                                        ;
                                    }

                                </script>

                            </div>
                        </div>

                        <div th:class="${#fields.hasErrors('subinventory')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class=" col-sm-3 control-label " for="inputsubinventory">Additional Information</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputlineNotes" placeholder="Notes" th:field="*{lineNotes}" name="lineNotes"/>
                                <span class="help-block" th:if="${#fields.hasErrors('lineNotes')}" th:errors="*{lineNotes}">lineNotes Error</span>
                            </div>

                        </div>


                        <div th:if="*{poQuotationHeader}" class="col-sm-12">

                            <div class="col-sm-4 " align="center"></div>
                            <div class="col-sm-2 " align="center">Quotation</div>
                            <div class="col-sm-2 " align="center">Qt. Line</div>
                            <div class="col-sm-2 " align="center">Requisition</div>
                            <div class="col-sm-2 " align="center">Req. Line</div>
                        </div>
                        <div th:if="*{poQuotationHeader}" th:class="${#fields.hasErrors('subinventory')} ? 'form-group has-error' :'form-group col-sm-12 ' ">
                            <label class=" col-sm-3 control-label " for="inputsubinventory">Quotation & Requsition Info.</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="inputpoQuotationNumber" th:field="*{poQuotationHeader.qtaNumber}" readonly/>

                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="inputpopoQuotationLineId" th:field="*{poQuotationLine.id}" readonly/>
                            </div>

                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="inputpoReqHeaderNumber" th:field="*{poReqHeader.reqNumber}" readonly/>
                            </div>

                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="inputpoReqLinesId" th:field="*{poReqLines.id}" readonly/>
                            </div>

                        </div>



                            <div class="form-group">
                                <input type="hidden" class="form-control" id="inputpoQuotationHeader" th:field="*{poQuotationHeader}" />
                                <input type="hidden" class="form-control" id="inputpoQuotationDetail" th:field="*{poQuotationDetail}" />
                                <input type="hidden" class="form-control" id="inputpopoQuotationLine" th:field="*{poQuotationLine}" />
                            <input type="hidden" th:field="*{poReqLines}" name="poReqLines"/>
                            <input type="hidden"  th:field="*{poReqHeader}" name="poReqHeader"/>
                            <input type="hidden" class="form-control" id="inputcolumncreatedBy" placeholder="columncreatedBy"
                                   th:field="*{commonColumn.createdBy}" name="columncreatedBy"/>
                            <input type="hidden" class="form-control" id="inputcolumnDate" placeholder="columnDate"
                                   th:field="*{commonColumn.creationDate}" name="columnDate"/>
                            <span class="help-block" th:if="${#fields.hasErrors('commonColumn.creationDate')}"
                                  th:errors="*{commonColumn.creationDate}">User Name Error</span>
                        </div>

                        <div>
                            <button type="button" data-toggle="modal" data-target="#modal-RecordHistory" th:id="btnIdHM"
                                    th:attr="data-target='#modal-RecordHistory'"  title="Record History" >
                                <span class="glyphicon glyphicon-record"></span>
                            </button>
                            <script th:inline="javascript">
                                document.getElementById('btnIdHM').onclick =
                                        function () {
                                            var obj = [[${poLines.commonColumn}]];

                                            histabledataset(obj);
                                        };

                            </script>

                        </div>
                        <div data-th-replace="fragments/recordHistoryModal :: recordhis-modal"></div>



                        <div class="text-right">
                            <a  th:href="@{/procurment/poLines/E/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${poHdrId}" class="btn btn-default">New Line</a>

                            <a th:href="@{/procurment/poHeader/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${poHdrId}" class="btn btn-default">Back</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>

                        <div class="modal modal-lastPurchasePrice fade in" th:id="modal-lastPurchasePrice">

                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span></button>
                                        <h5 class="modal-title">Last 5 Transactions</h5>

                                        <div class="modal-body">

                                            <div class="table-striped">
                                                <div id="replace_poLastPrice_div"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </form>

                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>UomCode(PO)</th>
                        <th>Quantity(PO)</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Base Amt</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:if="!${#lists.isEmpty(npoLines)}">
                        <tr th:each="l : ${npoLines}">

                            <td th:text="*{l.itemCode}"></td>
                            <td th:text="*{l.uomCode}"></td>
                            <td th:text="*{l.trnsQty}"></td>
                            <td th:text="*{l.unitPrice}"></td>
                            <td th:text="*{l.amount}"></td>
                            <td th:text="*{l.baseAmount}"></td>
                            <td>
                                <div class="btn-group" role="group" aria-label="...">
                                    <a th:href="@{/procurment/poLinesEdit/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${l.poHeader.id}+'/'+${l.id}"
                                       class="btn btn-success"><span
                                            class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>

                                </div>

                                <div class="btn-group" role="group" aria-label="...">
                                    <a th:href="@{'/procurment/PolineDelete/U/'}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${l.poHeader.id}+'/'+${l.id}"
                                       class="btn btn-danger"><span
                                            class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>

                                </div>
                            </td>

                        </tr>
                    </div>
                    <div th:if="${#lists.isEmpty(npoLines)}">
                        <tr>
                            <td>No Data exists!</td>
                        </tr>
                    </div>

                    </tbody>

                </table>
            </div>
            <div class="panel-footer">
            </div>
        </div>
        <!--</div>-->
    </div>
</div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
