<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:id="modal-OpenReqInfo" class="modal modal-OpenReqInfo"
     data-th-fragment="OpenReqInfo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <div class="panel-heading"><b>Search Requisition For RFQ</b></div>
                <div>
                    <form th:action="@{'/rfq/requsition/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${rfqId} }"
                          th:object="${poReqSearch}" th:method="post">

                            <span style="font-weight: bold" th:each="m :${msg}">
                                <p th:style="${m.tag} ? 'color:#ed1c24;':'color:#4aa509;'">
                                    <span th:if="${m.tag==null}" th:text="${m.msg}"> </span>
                                    <span th:unless="${m.tag==null}" th:text="${m.tag+' '+m.msg}"></span>
                                </p>
                            </span>



                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputreqNumber">Req. Number</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control" type="text" id="inputreqNumber"
                                       th:field="*{reqNumber}" name="reqNumber" />
                                <input type="hidden" th:field="*{orgHierarchy}"  id="inputorgHierarchy" />
                                <input type="hidden" th:field="*{poReqHeader}" id="inputpoReqHeaderId" />
                                <input type="hidden" th:field="*{invOrg}" id="inputinvOrg" />

                                <script th:inline="javascript">
                                    poReqSearchObj=[[${poReqSearch}]];
                                    function SearchPoReqObjRfqLineSearch(objparms) {
                                        var objparmV = objparms;
                                        $('#inputpoReqHeaderId').val(objparmV.poReqHeader.id).trigger("change");
                                        poReqSearchObj["poReqHeader"]=objparmV.poReqHeader.id;
                                        poReqSearchObj["reqNumber"]=objparmV.poReqHeader.reqNumber;
                                    };
                                    document.getElementById('inputreqNumber').oninput = function () {
                                        var poNum = document.getElementById('inputreqNumber').value;
                                        if (poNum.length==0)
                                        {
                                            document.getElementById('inputpoReqHeaderId').value='';
                                        }
                                        if (poNum.length > 1) {
                                            var  lOrg=document.getElementById('inputorgHierarchy').value;
                                            var poReqUrl = '/AYE/ACRC/SearchOrgApproveReqNum/' +lOrg+'/'+poNum;
//                                          alert(poReqUrl);
                                            autocomwithobject(poReqUrl , 'reqNumber', '#inputreqNumber', null, 'reqDate', 'reqNumberSerchReqPo');
                                            document.getElementById('inputreqNumber').focus();
                                        }
                                    }

                                </script>
                                <span class="help-block" th:if="${#fields.hasErrors('reqNumber')}"
                                      th:errors="*{reqNumber}">Name Error</span>
                            </div>
                        </div>


                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputreqFromDate">Req. Date</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>

                            <div class="col-sm-4  ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputreqFromDate"
                                       th:field="*{{reqFromDate}}"
                                       name="fromDate"/>
                                <span class="help-block" th:if="${#fields.hasErrors('reqFromDate')}"
                                      th:errors="*{reqFromDate}">Date Error</span>
                            </div>

                            <div class="col-sm-4  ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputreqToDate"
                                       th:field="*{{reqToDate}}"
                                       name="reqToDate"/>
                                <span class="help-block" th:if="${#fields.hasErrors('reqToDate')}"
                                      th:errors="*{reqToDate}">Date Error</span>
                            </div>

                        </div>

                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputMasterItem">Item Code</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control" type="hidden" id="inputMasterItemidId"
                                       th:field="*{masterItemId}"/>
                                <!--<input class="form-control" type="hidden" id="inputMasterItemidinventoryInformationsId"-->
                                       <!--th:field="*{masterItem.id.inventoryInformations.id}"/>-->
                                <input class="form-control" type="text" id="inputMasterItem"
                                       th:field="*{itemCode}"/>
                            </div>
                            <script th:inline="javascript">

                                function SearchPoRfqReqItemObj(objparms) {
                                    var objparmV = objparms;
                                    $('#inputMasterItemidId').val(objparmV.id.id).trigger("change");
//                                    $('#inputMasterItemidinventoryInformationsId').val(objparmV.id.inventoryInformations.id).trigger("change");
                                    poReqSearchObj["masterItemId"]=objparmV.id.id;
                                    poReqSearchObj["itemCode"]=objparmV.itemCode;

                                };

                                document.getElementById('inputMasterItem').oninput = function() {
                                    var lItmCode = document.getElementById('inputMasterItem').value;
                                    if (lItmCode.length==0)
                                    {
                                        document.getElementById('inputMasterItemidId').value='';
                                        poReqSearchObj["masterItemId"]='';
                                        poReqSearchObj["itemCode"]='';
                                    }
                                    if (lItmCode.length > 2) {
                                        var  lInvOrg=document.getElementById('inputinvOrg').value;
                                        var itemUrl = '/AYE/ACRC/SearchOrgItemCode/' + lInvOrg + '/' + lItmCode;
//                                        alert(itemUrl );
                                        autocomwithobject(itemUrl, 'itemCode', '#inputMasterItem', null, 'description', 'poRfqReqItemSerc');
                                        document.getElementById('inputMasterItem').focus();
                                    }
                                }
                            </script>

                        </div>

                        <div th:class="${#fields.hasErrors('department')} ? 'form-group has-error' :'form-group col-sm-12 ' ">
                            <label class="col-sm-3 control-label " for="inputdepartment">Department</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-8 ">

                                <select id="inputdepartment" name="department" th:field="*{department}" class="form-control" required>
                                    <option value="">Select One</option>
                                    <option th:each="d :${departments}" th:text="${d.codeDetail}" th:value="${d.codes}"></option>

                                </select>
                                <script th:inline="javascript">
                                    $('#inputdepartment').change(function(){
//                                        alert('xx');
                                        poReqSearchObj["department"]=$('#inputdepartment').val();
                                    })
                                </script>
                                <p th:errors="*{department}" class="help-block"></p>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputcreatedBy">User</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control" type="hidden" id="inputcreatedBy" th:field="*{createdBy}"/>
                                <input class="form-control" type="text" id="inputcreatedByUser" th:field="*{createdBy.userName}"/>
                            </div>
                            <script th:inline="javascript">

                                function SearchReqUserSercObj(objparms) {
//                                            alert('x');
                                    var objparmV = objparms;
                                    $('#inputcreatedBy').val(objparmV.id).trigger("change");
                                    poReqSearchObj["createdBy"]=objparmV.id;

                                };

                                document.getElementById('inputcreatedByUser').oninput = function() {
                                    var luserName = document.getElementById('inputcreatedByUser').value;
                                    if (luserName.length==0)
                                    {
                                        document.getElementById('inputcreatedBy').value='';

                                    }
                                    if (luserName.length > 2) {

                                        var userUrl = '/AYE/ACRC/getUserByname/' + luserName;
//                                            alert(userUrl);
                                        autocomwithobject(userUrl , 'userName', '#inputcreatedByUser', null, null, 'reqUserSerc');
                                        document.getElementById('inputcreatedByUser').focus();
                                    }
                                }
                            </script>
                        </div>




                        <div class="text-right Padding10px" align="right">

                            <a th:id="searchReqId" name="searchReq"  class="btn btn-success" th:text="Search" >
                                Find
                            </a>
                            <!--</span>-->

                            <script th:inline="javascript">
//                                $(document).ready(function () {
//
//                                    setRfqCreateBtn();
//                                });
                                $('#searchReqId').click(function(){
                                    if (chkAddReqRfqLineEmpty(1)!=false)
                                    {
                                        getContent(1);
                                    }
                                });

                                function getContent(btnId) {
                                    poReqSearchObj["invOrg"]=[[${poReqSearch.invOrg.id}]];
                                    poReqSearchObj["orgHierarchy"]=[[${poReqSearch.orgHierarchy.id}]];
                                    poReqSearchObj["reqFromDate"]=[[${poReqSearch.reqFromDate}]];
                                    poReqSearchObj["reqToDate"]=[[${poReqSearch.reqToDate}]];
//                                    poReqSearchObj["department"]=[[${poReqSearch.department}]];

                                    var pNum = btnId;
                                    var mod = "E";
                                    var pId = [[${pageId}]];
                                    var tId = [[${temltId}]];
                                    var InvOrgId = [[${poReqSearch.invOrg.id}]];
                                    var rfqId = [[${poRfqLines.poRfqHeader.id}]];

                                    var obj = poReqSearchObj;
                                    l_urlVal = '/AYE/rfq/requsition/' + mod + '/' + pId + '/' + tId + '/' + InvOrgId+'/'+rfqId ;
                                    var l_url = window.location.origin + l_urlVal;
                                    $('#replaceRfqRes_div').load(l_url,obj);
                                    billPaySearchObj=[[${poReqSearch}]];
                                } ;

                            </script>

                        </div>
                        <div id="replaceRfqRes_div">
                        </div>


                    </form>


                </div>
                <div class="panel-footer">
                </div>

            </div>

        </div>
    </div>
</div>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</body>
</html>