<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script>
        function setCreateAddBillBtn()
        {

            var pLidC = 0;
            var cLineId;
            $('.nLineId').each(function () {
                if ($(this).is(':checked'))
                {
                    pLidC=pLidC+1;
                }
            });

            if (pLidC==0)
            {
                $('#btnRes').prop('disabled',true);
            }else
            {
                $('#btnRes').prop('disabled',false);
            }

        }
    </script>

</head>
<body>

<div id="PoRfqBalanceListDto" th:fragment="PoRfqBalanceListDto" class="PoRfqBalanceListDto">
    <div class="form-group col-sm-12">

        <div >

            <div>
                <a id="btnRes" class="btn btn-success" onclick="myfunc(this)" title="Add To Line">Add</a>
            </div>


            <table class="table table-bordered table-hover table-striped">
            <thead>

            <tr>
                <!--<th>Id</th>-->
                <th width="1%">?</th>
                <th>Req Num.</th>
                <th>Item</th>
                <th>UOM</th>
                <th>Qty</th>
                <th>Notes</th>
                <th>Id</th>

            </tr>

            </thead>
            <tbody>
            <tr th:each="c : ${poRfqBalances.poRfqBalanceList}">
                <!--<td th:text="${trnsType.id}">Id</td>-->
                <td>
                    <input class="nLineId" type="checkbox" name="c.id" th:id="${c.id}" onchange="Selectallcheckbox(this)" th:value="${c.poReqLines.id}"/>
                    <!--<input type="checkbox" name="c.id[]" autocomplete="off" value="">-->
                </td>


                <td th:text="${c.reqNumber}" th:id="reqNumber+${c.id}" ></td>
                <td th:text="${c.masterItem.itemCode}" ></td>
                <td th:text="${c.trnsUomCode}" ></td>
                <td th:text="${#numbers.formatDecimal(c.trnsQty,0, 'COMMA', 2, 'POINT')}" ></td>
                <td th:text="${c.lineNotes}" ></td>
                <td th:text="${c.id}" ></td>

            </tr>


            </tbody>

        </table>
            <div>
                <a id="btnRes" class="btn btn-success" onclick="myfunc(this)" title="Add To Line">Add</a>



            </div>
            <script>

                var arr =[];
                function Selectallcheckbox(element){
                    var n=arr.length;
                    var cVals=element.value;
                    var dVal=0;
                    var cVal=0;


                    if (n!=0&&n>0)
                    {
                        $.each( arr, function( key, value ) {
                            if (cVals==value)
                            {
                                spl(key,arr);
                                dVal=2;
                            }else
                            {
                                cVal=2
                            }
                        });

                    }else
                    {
                        arr.push(element.value);
                    }

                    if (dVal==0&&cVal==2)
                    {
                        arr.push(element.value);
                    }
                }

                function spl(i,a)
                {
                    a.splice(i,1);
                }

                function myfunc(x)
                {

                    if (arr.length==0)
                    {
                        alert("No Line Select! Please Select a Line First!!")
                    }else
                    {
                        var lineIds= arr;

                        var lmod = xMode;
                        var lpId = xPageId;
                        var ltId = xtempId;
                        var invOrgId  = [[${poReqSearch.invOrg.id}]];

                        var hdrId=xHdrId;

                        var l_urlVal = '/AYE/rfq/requsitionAdd/' + lmod + '/' + lpId + '/' + ltId + '/' + invOrgId+'/'+hdrId;
                        var l_url = window.location.origin + l_urlVal;
                        $.post(l_url, $.param({ reqLineIds: arr }, true),function (data) {
                            return true;
                        });
                        $('#modal-OpenReqInfo').modal('hide');
                        alert('Line Successfully Addedd!');

                        frmSub();

                    }


                }

            </script>




            </div>
        </div>
    </div>
</body>
</html>