<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:insert="Procurment/PO/PoScriptLink"/>
    <!--<link-->
            <!--href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css"-->
            <!--rel="stylesheet" type="text/css"/>-->
    <!--<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>-->
    <!--<script-->
            <!--src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"-->
            <!--type="text/javascript"></script>-->
    <!--<link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>-->

    <!--<script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>-->
    <!--<script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>-->
<script>
    function getTrnsId(pIndc)
    {
        if(pIndc=='PO_REQ')
        {
            return $('#inputid').val();
        }
    }
    function setPostBtn(pId)
    {

        var pLidC = 0;
        var cLineId;
        $('.rowNumClass').each(function () {
//            alert($(this).text());
            if ($(this).text()!='')
            {
                pLidC=pLidC+1;
            }
        });

        if (pLidC==0)
        {
            $('#'+pId).prop('disabled',true);
        }else
        {
            $('#'+pId).prop('disabled',false);
        }

    }
</script>
</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">

                <!-- Default panel contents -->
                <div class="panel-heading"><b>Request For Quation</b></div>
                <div class="panel-body">
                    <form th:action="@{'/rfq/rfqHeader/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}}"
                          th:object="${poRfqHeader}"
                          th:method="post">
                        <!--+${role.role}  +${role.role}-->
                        <p></p>

        <span style="font-weight: bold" th:each="m :${msg}">
            <p th:style="${m.tag} ? 'color:#ed1c24;':'color:#4aa509;'">
                <span th:if="${m.tag==null}" th:text="${m.msg}"> </span>
                <span th:unless="${m.tag==null}" th:text="${m.tag+' '+m.msg}"></span>
            </p></span>

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputid" placeholder="Id" th:field="*{id}" name="id"/>

                            <span class="help-block" th:if="${#fields.hasErrors('id')}"
                                  th:errors="*{id}">Id Error</span>
                        </div>



                         <div th:class="${#fields.hasErrors('rfqNumber')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class="col-sm-3 control-label " for="inputrfqNumber">Number</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-4 ">
                                <input type="text" id="inputrfqNumber" placeholder="Number"
                                       name="rfqNumber" th:field="*{rfqNumber}" class="form-control" readonly="readonly"/>

                                <p th:errors="*{rfqNumber}" class="help-block"></p>
                            </div>

                             <div class="col-sm-4 ">
                                 <input type="hidden" id="inputstatus" placeholder="Status"
                                        name="Status" th:field="*{status}" class="form-control" readonly="readonly"/>
                                 <input type="text" id="inputstatus" placeholder="Status"
                                        name="Status" th:field="*{status.displayName}" class="form-control" th:value="*{status}" readonly="readonly"/>

                                 <p th:errors="*{status}" class="help-block"></p>
                             </div>
                             <input type="hidden" id="inputorgHierarchy" placeholder="orgHierarchy"
                                    name="orgHierarchy" th:field="*{orgHierarchy}" class="form-control"/>
                             <input type="hidden" id="inputinventoryInformations" placeholder="inventoryInformations"
                                    name="inventoryInformations" th:field="*{inventoryInformations}" class="form-control"/>
                        </div>

                        <!--<div class="form-group">-->
                        <!--<label for="inputpoNumber">Po Number</label>-->
                        <!--<input type="text" class="form-control" id="inputpoNumber" placeholder="Name" th:field="*{poNumber}" name="poNumber" />-->
                        <!--&lt;!&ndash;<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>&ndash;&gt;-->
                        <!--<span class="help-block" th:if="${#fields.hasErrors('poNumber')}" th:errors="*{poNumber}">PO Number Error</span>-->
                        <!--</div>-->


                        <div th:class="${#fields.hasErrors('startDate')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class="col-sm-3 control-label " for="inputstartDate">Date</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-4 ">
                                <input type="date" id="inputstartDate" placeholder="startDate"
                                       name="startDate" th:field="*{startDate}" class="form-control"/>

                                <p th:errors="*{startDate}" class="help-block"></p>
                            </div>
                            <div class="col-sm-4 ">
                                <input type="date" id="inputendDate" placeholder="endDate"
                                       name="endDate" th:field="*{endDate}" class="form-control"/>

                                <p th:errors="*{endDate}" class="help-block"></p>
                            </div>

                        </div>



                        <div th:class="${#fields.hasErrors('desctiptions')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class="col-sm-3 control-label " for="inputdesctiptions">Department</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-8 ">
                                <input type="text" id="inputdesctiptions" placeholder="desctiptions"
                                       name="desctiptions" th:field="*{desctiptions}" class="form-control"/>

                                <p th:errors="*{desctiptions}" class="help-block"></p>
                            </div>
                        </div>


                        <div class="form-group">

                            <input type="hidden" class="form-control" id="inputcolumncreatedBy"
                                   placeholder="columncreatedBy"
                                   th:field="*{commonColumn.createdBy}" name="columncreatedBy"/>
                            <input type="hidden" class="form-control" id="inputcolumnDate"
                                   th:field="*{commonColumn.creationDate}" name="columnDate" />
                            <span class="help-block" th:if="${#fields.hasErrors('commonColumn.creationDate')}"
                                  th:errors="*{commonColumn.creationDate}">User Name Error</span>
                            <!--th:value="*{#dates.format(commonColumn.creationDate, 'dd-MM-yyyy HH:mm:ss')}"-->
                        </div>



                        <div>
                            <button type="button" data-toggle="modal" data-target="#modal-RecordHistory" th:id="btnIdHM"
                                    th:attr="data-target='#modal-RecordHistory'"  title="Record History" >
                                <span class="glyphicon glyphicon-record"></span>
                            </button>
                            <script th:inline="javascript">
                                document.getElementById('btnIdHM').onclick =
                                        function () {
                                            var obj = [[${poRfqHeader.commonColumn}]];

                                            histabledataset(obj);
                                        };

                            </script>

                        </div>
                        <div data-th-replace="fragments/recordHistoryModal :: recordhis-modal"></div>


                        <div class="text-right Padding10px ">
                            <a th:href="@{/rfq/rfqHeader/E/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}"
                               class="btn btn-default">New</a>
                            <!--and poHeader.poStatus== T(com.aye.web.model.PoStatus).N and ${rcvCount== 0}-->
                            <span th:if="${poRfqHeader.id != null and poRfqHeader.status== T(com.aye.web.model.Rfq.CommonStatus).N  } " >
                            <a th:href="@{/rfq/rfqLines/E/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${poRfqHeader.id}"
                               class="btn btn-default">Line</a>
                            </span>

                            <a th:href="@{/rfq/search/E/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}"
                               class="btn btn-default">Search</a>
                            <!--th:if ="${rcvCount== 0}" and ${ADD}-->
                            <span th:if ="${poRfqHeader.status== T(com.aye.web.model.Rfq.CommonStatus).N} " >
                                <button type="submit" name="save" class="btn btn-primary" >Save</button>
                            </span>
                            <!--#lists.size(poHeader.poLines) &gt; 0 and  onclick="return checkemptyfield()" and ${POST} and ${!enableAppHierarchy} -->
                            <span th:if =" ${poRfqHeader.status== T(com.aye.web.model.Rfq.CommonStatus).N} and ${poRfqHeader.id != null}">
                                <button type="submit" name="postRfq" id="btpost" class="btn btn-primary">Post</button>
                            </span>

                            <!--<span th:if ="${poRfqHeader.status== T(com.aye.web.model.rfq.status).N} and ${poRfqHeader.id != null}">-->
                                <!--<button type="button" data-toggle="modal" data-target="#modal-approval" th:id="btpost"-->
                                    <!--th:attr="data-target='#modal-approval'"  title="Post" class="btn btn-primary">Post-->
                                    <!--<span ></span>-->
                                <!--</button>-->
                            <!--</span>-->

                            <script th:inline="javascript">
                                $(document).ready(function(){
                                    setPostBtn('btpost');
                                })
                            </script>


                        </div>


                    <div class="marginbtm10px" th:if="${poRfqHeader.id!=null}">
                        <div class="col-sm-12 brder accgl-col">
                            <div class="col-sm-1 accgl-col brderright" style="width: 20px">SL</div>
                            <div class="col-sm-3 accgl-col brderright" align="center">Item</div>
                            <div class="col-sm-2 accgl-col brderright" align="center">Quantity</div>
                            <div class="col-sm-1 accgl-col brderright" align="center">UOM</div>
                            <!--<div class="col-sm-2 accgl-col brderright " align="center">Unit Price</div>-->
                            <!--<div class="col-sm-2 accgl-col brderright" align="center">Amount</div>-->
                            <div class="col-sm-4 accgl-col brderright" align="center">Date</div>
                            <div class="col-sm-1 accgl-col brderrigh" align="center">Action</div>
                        </div>

                        <div class="col-sm-12 accgl-col brder "
                             th:each="lines,rowStat : *{poRfqLines}">
                            <div class="col-sm-1  form-group accgl-col high_control top_marg brderright rowNumClass"
                                 th:text="${rowStat.count}" style="width: 20px; ">1
                                <!--<script>-->
                                    <!--function btdasable() {-->
                                        <!--var bt = document.getElementById('post');-->
                                        <!--if (*{poLines[__${rowStat.index}__].id}!= '') {-->
                                            <!--bt.disabled = false;-->
                                        <!--}-->
                                        <!--else {-->
                                            <!--bt.disabled = true;-->
                                        <!--}-->
                                    <!--}-->
                                <!--</script>-->

                            </div>


                            <div class="col-sm-3 form-group accgl-col top_marg brderright">
                                <input th:type="hidden"  th:field="*{poRfqLines[__${rowStat.index}__].id}" />
                                <input th:type="hidden" th:field="*{poRfqLines[__${rowStat.index}__].poRfqHeader}" />
                                <input th:type="hidden" th:field="*{poRfqLines[__${rowStat.index}__].orgHierarchy}" />
                                <input th:type="hidden" th:field="*{poRfqLines[__${rowStat.index}__].inventoryInformations}" />
                                <input th:type="hidden" th:field="*{poRfqLines[__${rowStat.index}__].lineNotes}" />
                                <input th:type="hidden" th:field="*{poRfqLines[__${rowStat.index}__].commonColumn.createdBy}" />
                                <input th:type="hidden" th:field="*{poRfqLines[__${rowStat.index}__].commonColumn.creationDate}" />
                                <input th:type="hidden" th:field="*{poRfqLines[__${rowStat.index}__].supplierLine}" />
                                <input class="td form-control " th:type="text"
                                       th:field="*{poRfqLines[__${rowStat.index}__].supplierLine.name}"
                                       height="2" readonly="readonly"/>
                            </div>

                            <div class="col-sm-2 form-group accgl-col top_marg brderright">
                                <input style="text-align: end" class="td form-control qtyClass" th:type="text"
                                       th:field="*{poRfqLines[__${rowStat.index}__].supplierEmail}"
                                       height="2" readonly="readonly"/>
                            </div>

                            <div class="col-sm-1 form-group accgl-col top_marg brderright">
                                <input class="td form-control " th:type="text"
                                       th:field="*{poRfqLines[__${rowStat.index}__].notifySupplier}"
                                       height="2" readonly="readonly"/>
                            </div>
                            <!--<div class="col-sm-2 form-group accgl-col top_marg brderright">-->
                                <!--<input class="td form-control " th:type="text"-->
                                       <!--th:field="*{poLines[__${rowStat.index}__].amount}"-->
                                       <!--height="2" readonly="readonly"/>-->
                            <!--</div>-->
                            <div class="col-sm-2 form-group accgl-col top_marg brderright">
                                <input class="td form-control " th:type="date"
                                       th:field="*{{poRfqLines[__${rowStat.index}__].startDate}}"
                                       height="2" readonly="readonly"/>

                            </div>
                            <div class="col-sm-2 form-group accgl-col top_marg brderright">
                                <input class="td form-control " th:type="text"
                                       th:field="*{poRfqLines[__${rowStat.index}__].endDate}"
                                       height="2" readonly="readonly"/>
                            </div>

                            <div class="col-sm-1 form-group accgl-col top_marg " align="center" >
                                <!--<div th:if ="${rcvCount== 0}"  th:if="${poHeader.poStatus== T(com.aye.web.model.PoStatus).N }" class="btn-group" role="group" aria-label="..." style="margin-top: 2px">-->
                                <div class="btn-group" role="group" aria-label="..." style="margin-top: 2px" th:if="${poRfqHeader.status== T(com.aye.web.model.Rfq.CommonStatus).N  }">
                                    <a th:href="@{/rfq/rfqLines/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'
                                    +*{poRfqLines[__${rowStat.index}__].poRfqHeader.id} +'/'
                                    +*{poRfqLines[__${rowStat.index}__].id}"
                                       class="btn btn-success"><span
                                            class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>

                                </div>
                            </div>

                        </div>

                        </div>
                        <div class="panel-footer">
                        </div>


                </form>
                    <!--<span th:if="${enableAppHierarchy}">-->
                    <!--<div data-th-replace="fragments/ApprovalModal :: approval-modal"></div>-->
                        <!--</span>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    </div>
        <!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
        <script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>



</html>
