<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>


    <link th:insert="Inventory/InvScriptLink"/>

</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Inventory Item Classification Combinitions</div>
                <div class="panel-body">
                    <form action="'/InvClass/addClassifications/'+${mode}+'/'+${pageId}+'/'+${temltId}+${keySegHeaderId}"
                          th:action="@{'/InvClass/addClassifications/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${keySegHeaderId}}"
                          th:object="${invItemClassifications}" th:method="post">
                        <span style="color: #ed1c24;font-weight: bold" th:text="${msg}" color="red"></span>

                        <div class="form-group">
                            <!--<label for="inputSegment1">Name</label>-->
                            <input type="hidden" class="form-control" id="inputid" placeholder="id"
                                   th:field="*{id}" name="id"/>
                            <span class="help-block" th:if="${#fields.hasErrors('id')}"
                                  th:errors="*{id}">Name Error</span>
                        </div>
                        <div class="form-group required col-sm-12" th:each="x :${keySegmentLineList.keySegmentLines}"
                             th:if="${x.segmenteColumn == T(com.aye.web.model.common.SegmentColumn).Segment1}">


                            <label class="col-sm-3 control-label " for="inputsegment1"
                                   th:text="${x.segmenteName}">Name</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control fields" required="required" type="text" id="inputsegment1"
                                       th:attr="placeholder=${x.segmenteName}"
                                       th:field="*{segment1}" name="segment1"/>

                                <input class="form-control " required="required" type="hidden" id="inputsegment1id"
                                       th:attr="placeholder=${x.segmenteName}"
                                        />
                                <span class="help-block" th:if="${#fields.hasErrors('segment1')}"
                                      th:errors="*{segment1}">Name Error</span>


                                <script th:inline="javascript">


                                    var seghdrId = [[${x.segmentHeader.id}]];
                                    var urlval = '/AYE/ACRC/getSegmentLineData/' + seghdrId;
                                    var displayfield = '#inputsegment1';
                                    var dbfield = '#inputsegment1id'
                                    var getvalue = 'code';
                                    autocom(urlval, getvalue, displayfield, dbfield);

                                </script>


                            </div>


                        </div>


                        <div class="form-group required col-sm-12" th:each="x :${keySegmentLineList.keySegmentLines}"
                             th:if="${x.segmenteColumn == T(com.aye.web.model.common.SegmentColumn).Segment2}">

                            <label class="col-sm-3 control-label " for="inputSegment2"
                                   th:text="${x.segmenteName}">Name</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control fieldss" required="required" type="text" id="inputSegment2"
                                       th:attr="placeholder=${x.segmenteName}"
                                       th:field="*{Segment2}" name="Segment2"/>
                                <span class="help-block" th:if="${#fields.hasErrors('Segment2')}"
                                      th:errors="*{Segment2}">Name Error</span>

                                <input class="form-control" required="required" type="hidden" id="inputSegment2id"
                                       th:attr="placeholder=${x.segmenteName}"
                                        />

                                <script th:inline="javascript">


                                    var seghdrId = [[${x.segmentHeader.id}]];
                                    var urlval = '/AYE/ACRC/getSegmentLineData/' + seghdrId;
                                    var displayfield = '#inputSegment2';
                                    var dbfield = '#inputSegment2id'
                                    var getvalue = 'code';
                                    autocom(urlval, getvalue, displayfield, dbfield);


                                </script>


                            </div>

                        </div>


                        <div class="form-group required col-sm-12" th:each="x :${keySegmentLineList.keySegmentLines}"
                             th:if="${x.segmenteColumn == T(com.aye.web.model.common.SegmentColumn).Segment3}">

                            <label class="col-sm-3 control-label " for="inputsegment3"
                                   th:text="${x.segmenteName}">Name</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control" required="required" type="text" id="inputsegment3"
                                       th:attr="placeholder=${x.segmenteName}"
                                       th:field="*{segment3}" name="segment3"/>
                                <span class="help-block" th:if="${#fields.hasErrors('segment3')}"
                                      th:errors="*{segment3}">Name Error</span>
                                <input class="form-control" required="required" type="hidden" id="inputsegment3id"
                                       th:attr="placeholder=${x.segmenteName}"
                                        />

                                <script th:inline="javascript">


                                    var seghdrId = [[${x.segmentHeader.id}]];
                                    var urlval = '/AYE/ACRC/getSegmentLineData/' + seghdrId;
                                    var displayfield = '#inputsegment3';
                                    var dbfield = '#inputsegment3id'
                                    var getvalue = 'code';
                                    autocom(urlval, getvalue, displayfield, dbfield);


                                </script>
                            </div>
                        </div>


                        <div class="form-group required col-sm-12" th:each="x :${keySegmentLineList.keySegmentLines}"
                             th:if="${x.segmenteColumn == T(com.aye.web.model.common.SegmentColumn).Segment4}">

                            <label class="col-sm-3 control-label " for="inputsegment4"
                                   th:text="${x.segmenteName}">Name</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8  ">
                                <input class="form-control" required="required" type="text" id="inputsegment4"
                                       th:attr="placeholder=${x.segmenteName}"
                                       th:field="*{segment4}" name="segment4"/>
                                <span class="help-block" th:if="${#fields.hasErrors('segment4')}"
                                      th:errors="*{segment4}">Name Error</span>
                                <input class="form-control" required="required" type="hidden" id="inputsegment4id"
                                       th:attr="placeholder=${x.segmenteName}"
                                        />

                                <script th:inline="javascript">


                                    var seghdrId = [[${x.segmentHeader.id}]];
                                    var urlval = '/AYE/ACRC/getSegmentLineData/' + seghdrId;
                                    var displayfield = '#inputsegment4';
                                    var dbfield = '#inputsegment4id'
                                    var getvalue = 'code';
                                    autocom(urlval, getvalue, displayfield, dbfield);


                                </script>
                            </div>
                        </div>

                        <div class="form-group required col-sm-12" th:each="x :${keySegmentLineList.keySegmentLines}"
                             th:if="${x.segmenteColumn == T(com.aye.web.model.common.SegmentColumn).Segment5}">

                            <label class="col-sm-3 control-label " for="inputsegment5"
                                   th:text="${x.segmenteName}">Name</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control" required="required" type="text" id="inputsegment5"
                                       th:attr="placeholder=${x.segmenteName}"
                                       th:field="*{segment5}" name="segment5"/>
                                <span class="help-block" th:if="${#fields.hasErrors('segment5')}"
                                      th:errors="*{segment5}">Name Error</span>
                                <input class="form-control" required="required" type="text" id="inputsegment5id"
                                       th:attr="placeholder=${x.segmenteName}" />

                                <script th:inline="javascript">


                                    var seghdrId = [[${x.segmentHeader.id}]];
                                    var urlval = '/AYE/ACRC/getSegmentLineData/' + seghdrId;
                                    var displayfield = '#inputsegment5';
                                    var dbfield = '#inputsegment5id'
                                    var getvalue = 'code';
                                    autocom(urlval, getvalue, displayfield, dbfield);

                                </script>
                            </div>
                        </div>


                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3 control-label " for="inputStartDate">Start Date</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8  ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputStartDate"
                                       placeholder="yyyy-MM-dd" th:field="*{{startDates}}"
                                       name="startDates"/>
                                <span class="help-block" th:if="${#fields.hasErrors('startDates')}"
                                      th:errors="*{startDates}">Start Date Error</span>
                            </div>
                        </div>

                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3 control-label " for="inputEndDate">End Date</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8  ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputEndDate"
                                       placeholder="yyyy-MM-dd" th:field="*{endDates}"
                                       name="endDates"/>
                                <span class="help-block" th:if="${#fields.hasErrors('endDates')}"
                                      th:errors="*{endDates}">Start Date Error</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputkeySegmentHeader"
                                   placeholder="keySegmentHeader"
                                   th:field="*{keySegmentHeader}" name="keySegmentHeader"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                                <span class="help-block" th:if="${#fields.hasErrors('keySegmentHeader')}"
                                      th:errors="*{keySegmentHeader}">User Name Error</span>
                        </div>


                        <!--<div class="form-group">-->
                        <!--<label for="inputStartDate">Start Date</label>-->
                        <!--<input type="excDate" value="01-01-2019" class="form-control" id="inputStartDate" placeholder="yyyy-MM-dd" th:field="*{{startDates}}"-->
                        <!--name="startDates" />-->
                        <!--<span class="help-block" th:if="${#fields.hasErrors('startDates')}"-->
                        <!--th:errors="*{startDates}">Start Date Error</span>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<label for="inputEndDate">End Date</label>-->
                        <!--<input type="excDate" class="form-control" id="inputEndDate" placeholder="endDates"-->
                        <!--th:field="*{endDates}" name="endDates"/>-->
                        <!--<span class="help-block" th:if="${#fields.hasErrors('endDates')}" th:errors="*{endDates}">End Date Error</span>-->
                        <!--</div>-->

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumn" placeholder="column"
                                   th:field="*{column.createdBy}" name="column"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                                <span class="help-block" th:if="${#fields.hasErrors('column.createdBy')}"
                                      th:errors="*{column.createdBy}">User Name Error</span>
                        </div>

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumnDate" placeholder="columnDate"
                                   th:field="*{column.creationDate}" name="columnDate"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                                <span class="help-block" th:if="${#fields.hasErrors('column.creationDate')}"
                                      th:errors="*{column.creationDate}">User Name Error</span>
                        </div>


                        <div class="text-right">
                            <a th:href="@{/InvClass/addClassifications/}+'E/' + ${pageId}+'/'+${temltId}+'/'+${keySegHeaderId}"
                               class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>

                        <!--<div th:utext="${htmlTag}"></div>-->


                    </form>

                </div>
                <div class="panel-footer">
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
