<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>

    <!--<link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>-->

    <!--<script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>-->
    <!--<script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>-->
    <!--<script th:src="@{/js/validation.js}"></script>-->
    <!--<script th:src="@{/js/export.js}"></script>-->

    <link th:insert="Inventory/InvScriptLink"/>
</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><p th:text="'Manage Inventory Informations for '+${parentOrg.code}"></p>
                </div>
                <div class="panel-body">
                    <form th:action="@{'/InvInfo/Info/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${orgId}}"
                          th:object="${inventoryInfo}" th:method="post">
                        <!--+${role.role}  +${role.role}-->

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="inputid" placeholder="id"
                                   th:field="*{id}" name="id"/>
                            <span class="help-block" th:if="${#fields.hasErrors('id')}"
                                  th:errors="*{id}">Name Error</span>
                        </div>

                        <div th:class="${#fields.hasErrors('code')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">

                            <label class=" col-sm-3 control-label " for="inputcode">CODE</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" id="inputcode" placeholder="code"
                                       name="code" th:field="*{code}"
                                       class="form-control"
                                        />


                                <p th:errors="*{code}" class="help-block"></p>
                            </div>

                            <label class=" col-sm-1 control-label " for="inputname">Name</label>

                            <div class="col-sm-5">
                                <input type="text" id="inputname" placeholder="name"
                                       name="code" th:field="*{name}"
                                       class="form-control"
                                        />


                                <p th:errors="*{name}" class="help-block"></p>
                            </div>


                        </div>

                        <div th:class="${#fields.hasErrors('address')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class=" col-sm-3 control-label " for="inputname">Address</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">
                                <textarea id="inputaddress" placeholder="address"
                                          name="name" th:field="*{address}"
                                          class="form-control"
                                        ></textarea>

                                <p th:errors="*{address}" class="help-block"></p>
                            </div>
                        </div>


                        <!--<div class="form-group">-->
                        <!--<label for="inputaddress">Address</label>-->
                        <!--<input type="text" class="form-control" id="inputaddress" placeholder="address"-->
                        <!--th:field="*{address}" name="address"/>-->
                        <!--<span class="help-block" th:if="${#fields.hasErrors('address')}"-->
                        <!--th:errors="*{address}">Address Error</span>-->
                        <!--</div>-->

                        <div th:class="${#fields.hasErrors('calendarHeader')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class=" col-sm-3 control-label " for="inputcalendarHeader">Calendar</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control" name="type" id="inputcalendarHeader"
                                        th:field="*{calendarHeader}">
                                    <option value=""> Select</option>
                                    <option th:each="cal : ${calendarHeader}"
                                            th:text="${cal.name}"
                                            th:value="${cal.id}">module
                                    </option>
                                </select>

                                <p th:errors="*{calendarHeader}" class="help-block"></p>
                            </div>

                            <label class=" col-sm-2 control-label " for="inputcostingMethod">Costing Method</label>

                            <div class="col-sm-3">
                                <input type="text" id="inputcostingMethod" placeholder="costingMethod"
                                       name="name" th:field="*{costingMethod}"
                                       class="form-control"
                                        />

                                <p th:errors="*{costingMethod}" class="help-block"></p>
                            </div>
                        </div>


                        <!--<div th:class="${#fields.hasErrors('costingMethod')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">-->
                        <!--<label class=" col-sm-3 control-label " for="inputcostingMethod">Costing Method</label>-->

                        <!--<div class="col-sm-1 ">-->
                        <!--<b>:</b>-->
                        <!--</div>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input type="text" id="inputcostingMethod" placeholder="costingMethod"-->
                        <!--name="name" th:field="*{costingMethod}"-->
                        <!--class="form-control"-->
                        <!--/>-->

                        <!--<p th:errors="*{costingMethod}" class="help-block"></p>-->
                        <!--</div>-->
                        <!--</div>-->


                        <div th:class="${#fields.hasErrors('inventoryApAccV')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class=" col-sm-3 control-label " for="inventoryApAccV">AP Account</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">
                                <input type="hidden" class="form-control" id="inputinventoryApAcc"
                                       th:field="*{inventoryApAcc.id}" name="inventoryApAcc"/>

                                <input class="form-control" th:type="text" required="required" placeholder="AP Account"
                                       th:field="*{inventoryApAccV.concatedSegment}" id="inventoryApAccV"/>

                            <span class="help-block" th:if="${#fields.hasErrors('inventoryApAcc')}"
                                  th:errors="*{inventoryApAcc}">inventoryApAcc Error</span>
                                <script th:inline="javascript">


                                    var org = [[${parentOrg.segmentLine.code}]];
                                    //                                var tmpDtlId=[[${temltId}]];
                                    //                                                                alert(org);
                                    var urlval = '/AYE/ACRC/SearchCodeCombInvSetup/' + org + '/' + [[${parentOrg.id}]];
                                    //                                 alert(urlval);
                                    var displayfield = '#inventoryApAccV';
                                    //   alert(displayfield)
                                    var dbfield = '#inputinventoryApAcc';
                                    //alert(dbfield)
                                    var getvalue = 'concatedSegment';
                                    var tmplt = 'ccDesc';

                                    autocomwithtemplate(urlval, getvalue, displayfield, dbfield, tmplt);


                                </script>

                                <p th:errors="*{inventoryApAccV}" class="help-block"></p>
                            </div>
                        </div>


                        <div th:class="${#fields.hasErrors('salesAccV')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class=" col-sm-3 control-label " for="salesAccV">Sales Account</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">
                                <input type="hidden" class="form-control" id="inputsalesAcc" placeholder="Sales Account"
                                       th:field="*{salesAcc}" name="salesAcc"/>
                                <span class="help-block" th:if="${#fields.hasErrors('salesAcc')}"
                                      th:errors="*{salesAcc}">salesAcc Error</span>

                                <input class="form-control" th:type="text" required="required"
                                       placeholder="Sales Account"
                                       th:field="*{salesAccV.concatedSegment}" id="salesAccV"/>

                                <span class="help-block" th:if="${#fields.hasErrors('salesAccV')}"
                                      th:errors="*{salesAccV}">salesAccV Error</span>

                                <script th:inline="javascript">


                                    var org = [[${parentOrg.segmentLine.code}]];
                                    var tmpDtlId = [[${temltId}]];
                                    //                                alert(org);
                                    var urlval = '/AYE/ACRC/SearchCodeCombInvSetup/' + org + '/' + [[${parentOrg.id}]];
                                    // alert(urlval);
                                    var displayfield = '#salesAccV';
                                    //   alert(displayfield)
                                    var dbfield = '#inputsalesAcc';
                                    //alert(dbfield)
                                    var getvalue = 'concatedSegment';
                                    var tmplt = 'ccDesc';

                                    autocomwithtemplate(urlval, getvalue, displayfield, dbfield, tmplt);


                                </script>


                                <p th:errors="*{inventoryApAccV}" class="help-block"></p>
                            </div>
                        </div>

                        <div th:class="${#fields.hasErrors('cogsAccV')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class=" col-sm-3 control-label " for="cogsAccV">COGS Account</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">
                                <input type="hidden" class="form-control" id="inputcogsAcc" th:field="*{cogsAcc}"
                                       name="cogsAcc"/>
                                <input class="form-control" th:type="text" required="required"
                                       placeholder="COGS Account"
                                       th:field="*{cogsAccV.concatedSegment}" id="cogsAccV"/>

                                <span class="help-block" th:if="${#fields.hasErrors('cogsAccV')}"
                                      th:errors="*{cogsAccV}"> cogsAccV Error</span>

                                <script th:inline="javascript">


                                    var org = [[${parentOrg.segmentLine.code}]];
                                    var tmpDtlId = [[${temltId}]];
                                    //                                alert(org);
                                    var urlval = '/AYE/ACRC/SearchCodeCombInvSetup/' + org + '/' + [[${parentOrg.id}]];
                                    // alert(urlval);
                                    var displayfield = '#cogsAccV';
                                    //   alert(displayfield)
                                    var dbfield = '#inputcogsAcc';
                                    //alert(dbfield)
                                    var getvalue = 'concatedSegment';
                                    var tmplt = 'ccDesc';

                                    autocomwithtemplate(urlval, getvalue, displayfield, dbfield, tmplt);


                                </script>
                                <p th:errors="*{cogsAccV}" class="help-block"></p>
                            </div>
                        </div>


                        <div th:class="${#fields.hasErrors('cogsAccV')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class=" col-sm-3 control-label " for="materialAccV">Material Account</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">
                                <input type="hidden" class="form-control" id="inputmaterialAcc"
                                       th:field="*{materialAcc}"
                                       name="materialAcc"/>
                                <input class="form-control" th:type="text" required="required"
                                       placeholder="Material Account"
                                       th:field="*{materialAccV.concatedSegment}" id="materialAccV"/>

                            <span class="help-block" th:if="${#fields.hasErrors('materialAccV')}"
                                  th:errors="*{materialAccV}"> materialAccV Error</span>

                                <script th:inline="javascript">


                                    var org = [[${parentOrg.segmentLine.code}]];
                                    var tmpDtlId = [[${temltId}]];
                                    //                                alert(org);
                                    var urlval = '/AYE/ACRC/SearchCodeCombInvSetup/' + org + '/' + [[${parentOrg.id}]];
                                    //                                var urlval = '/AYE/ACRC/getItemMasterOrg';
                                    // alert(urlval);
                                    var displayfield = '#materialAccV';
                                    //   alert(displayfield)
                                    var dbfield = '#inputmaterialAcc';
                                    //alert(dbfield)
                                    var getvalue = 'concatedSegment';
                                    //                                var getvalue = 'code';

                                    var tmplt = 'ccDesc';

                                    autocomwithtemplate(urlval, getvalue, displayfield, dbfield, tmplt);


                                </script>
                                <p th:errors="*{materialAccV}" class="help-block"></p>
                            </div>
                        </div>

                        <div th:class="${#fields.hasErrors('cogsAccV')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class=" col-sm-3 control-label " for="inputwipAccV">WIP Account</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">
                                <input type="hidden" class="form-control" id="inputwipAcc"
                                       th:field="*{wipAcc}" name="wipAcc"/>

                                <input class="form-control" th:type="text" required="required" placeholder="WIP Account"
                                       th:field="*{wipAccV.concatedSegment}" id="inputwipAccV"/>

                                <span class="help-block" th:if="${#fields.hasErrors('wipAcc')}"
                                      th:errors="*{wipAcc}">inventoryApAcc Error</span>
                                <script th:inline="javascript">


                                    var org = [[${parentOrg.segmentLine.code}]];
                                    var tmpDtlId = [[${temltId}]];
                                    // alert(org);
                                    var urlval = '/AYE/ACRC/SearchCodeCombInvSetup/' + org + '/' + [[${parentOrg.id}]];
                                    // alert(urlval);
                                    var displayfield = '#inputwipAccV';
                                    // alert(displayfield)
                                    var dbfield = '#inputwipAcc';
                                    //alert(dbfield)
                                    var getvalue = 'concatedSegment';
                                    var tmplt = 'ccDesc';

                                    autocomwithtemplate(urlval, getvalue, displayfield, dbfield, tmplt);


                                </script>


                            </div>
                        </div>

                        <div th:class="${#fields.hasErrors('intransitAccV')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class=" col-sm-3 control-label " for="inputintransitAccV">Inv. Intransit Account</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">
                                <input type="hidden" class="form-control" id="inputintransitAcc"
                                       th:field="*{intransitAcc}" name="intransitAcc"/>

                                <input class="form-control" th:type="text" required="required" placeholder="Inv. Intransit Account"
                                       th:field="*{intransitAccV.concatedSegment}" id="inputintransitAccV"/>

                                <span class="help-block" th:if="${#fields.hasErrors('intransitAcc')}"
                                      th:errors="*{intransitAcc}">intransitAcc Error</span>
                                <script th:inline="javascript">


                                    var org = [[${parentOrg.segmentLine.code}]];
                                    var tmpDtlId = [[${temltId}]];
                                    // alert(org);
                                    var urlval = '/AYE/ACRC/SearchCodeCombInvSetup/' + org + '/' + [[${parentOrg.id}]];
                                    // alert(urlval);
                                    var displayfield = '#inputintransitAccV';
                                    // alert(displayfield)
                                    var dbfield = '#inputintransitAcc';
                                    //alert(dbfield)
                                    var getvalue = 'concatedSegment';
                                    var tmplt = 'ccDesc';

                                    autocomwithtemplate(urlval, getvalue, displayfield, dbfield, tmplt);


                                </script>


                            </div>
                        </div>


                        <div th:class="${#fields.hasErrors('isItemMaster')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class=" col-sm-3 control-label " for="inputisItemMaster">Item Master</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control" id="inputisItemMaster" th:field="*{isItemMaster}"
                                        name="isItemMaster">
                                    <option value="">Select</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>

                                </select>

                            <span class="help-block" th:if="${#fields.hasErrors('isItemMaster')}"
                                  th:errors="*{isItemMaster}">Active Error</span>

                                <script th:inline="javascript">

                                </script>

                            </div>
                        </div>

                        <div id="inputitemOrgdiv"
                             th:class="${#fields.hasErrors('itemOrg')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class=" col-sm-3 control-label " for="iiid">Item Organization</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="ii" placeholder="Item Organization"
                                       th:field="*{itemOrg.code}" name="itemOrg"/>
                                <span class="help-block" th:if="${#fields.hasErrors('itemOrg')}"
                                      th:errors="*{itemOrg}">Hirearchy Error</span>
                                <input type="hidden" class="form-control" id="iiid" th:field="*{itemOrg.id}"/>
                                <script th:inline="javascript">
                                    var itemmaster;
                                    // var itemmaster;
                                    $("#inputisItemMaster").change(function () {
                                        inputisItemMaster = (this.value);
                                        // alert(inputisItemMaster);

                                        if (inputisItemMaster == 1) {

                                            document.getElementById('inputitemOrgdiv').style.display = 'none';
                                        }
                                        else {
                                            document.getElementById('inputitemOrgdiv').style.display = 'block';
                                            //   inputisItemMaster=(this.value);
                                            var org = [[${parentOrg.orgHierarchy.id}]];
                                            var urlval = '/AYE/ACRC/getItemMasterOrg/' + org;
//                                        alert(urlval);
                                            var displayfield = '#ii';
                                            var dbfield = '#iiid';
                                            var getvalue = 'code';
                                            autocom(urlval, getvalue, displayfield, dbfield);

                                        }
                                    });

                                    //                                $(document).ready(function(){
                                    //
                                    //                                });
                                </script>


                            </div>
                        </div>

                        <div id="inputkeySegmentHeader"
                             th:class="${#fields.hasErrors('keySegmentHeader')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class=" col-sm-3 control-label " for="inputkeySegmentHeader">Item
                                Classification</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">

                                <select class="form-control" name="type"
                                        th:field="*{keySegmentHeader}">
                                    <option value=""> Select</option>
                                    <option th:each="itmClass : ${itemClassifications}"
                                            th:text="${itmClass.structureCode}"
                                            th:value="${itmClass.id}">module
                                    </option>
                                </select>
                                <script th:inline="javascript">
                                    $("#inputisItemMaster").change(function () {
                                        inputisItemMaster = (this.value);
                                        // alert(inputisItemMaster);

                                        if (inputisItemMaster == 0) {

                                            document.getElementById('inputkeySegmentHeader').style.display = 'none';
                                        }
                                        else {
                                            document.getElementById('inputkeySegmentHeader').style.display = 'block';
                                        }
                                    });

                                </script>
                                <!--<input type="text" class="form-control" id="inputkeySegmentHeader" placeholder="Item Classifications"-->
                                <!--th:field="*{keySegmentHeader.structureCode}" name="keySegmentHeader" />-->
                                <!--<span class="help-block" th:if="${#fields.hasErrors('keySegmentHeader')}"-->
                                <!--th:errors="*{keySegmentHeader}">Hirearchy Error</span>-->
                            </div>
                        </div>


                        <div id="inputlocatorSegment"
                             th:class="${#fields.hasErrors('locatorSegment')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class=" col-sm-3 control-label " for="inputlocatorSegment">Locator
                                Classification</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">


                                <select class="form-control" name="type"
                                        th:field="*{locatorSegment}">
                                    <option value=""> Select</option>
                                    <option th:each="locSeg : ${locatorSegments}"
                                            th:text="${locSeg.structureCode}"
                                            th:value="${locSeg.id}">module
                                    </option>
                                </select>
                                <script th:inline="javascript">
                                    $("#inputisItemMaster").change(function () {
                                        inputisItemMaster = (this.value);
                                        // alert(inputisItemMaster);

                                        if (inputisItemMaster == 0) {

                                            document.getElementById('inputlocatorSegment').style.display = 'none';
                                        }
                                        else {
                                            document.getElementById('inputlocatorSegment').style.display = 'block';
                                        }
                                    });

                                </script>
                                <!--<input type="text" class="form-control" id="inputkeySegmentHeader" placeholder="Item Classifications"-->
                                <!--th:field="*{keySegmentHeader.structureCode}" name="keySegmentHeader" />-->
                                <!--<span class="help-block" th:if="${#fields.hasErrors('keySegmentHeader')}"-->
                                <!--th:errors="*{keySegmentHeader}">Hirearchy Error</span>-->
                            </div>
                        </div>

                        <div class="form-group">
                            <!--<label for="inputinventory">Inv Org</label>-->
                            <input type="hidden" class="form-control" id="inputinventory" placeholder="Inv Org"
                                   th:field="*{orgHierarchy.name}" name="orgHierarchy" readonly="readonly"/>
                                <span class="help-block" th:if="${#fields.hasErrors('orgHierarchy')}"
                                      th:errors="*{orgHierarchy}">Hirearchy Error</span>
                            <!--<input type="hidden" class="form-control" id="inputhirearchyid" th:field="*{orgHierarchy.id}"/>-->


                            <!--<script>-->
                            <!--$(document).ready(function(){-->
                            <!--$("#inputcalendarHeader").change(function(){-->
                            <!--alert("al");-->
                            <!--orgtype='IO'-->

                            <!--var urlval='/AYE/ACRC/getInvOrg/'+orgtype;-->
                            <!--var displayfield='#inputinventory';-->
                            <!--var dbfield ='#inputhirearchyid';-->
                            <!--var getvalue='code';-->
                            <!--autocom(urlval, getvalue,displayfield, dbfield);-->
                            <!--});-->
                            <!--});-->
                            <!--</script>-->

                        </div>


                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumn" placeholder="column"
                                   th:field="*{column.createdBy}" name="column"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                                <span class="help-block" th:if="${#fields.hasErrors('column.createdBy')}"
                                      th:errors="*{column.createdBy}">User Name Error</span>
                        </div>

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumnDate" placeholder="columnDate"
                                   th:field="*{column.creationDate}" name="columnDate"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                                <span class="help-block" th:if="${#fields.hasErrors('column.creationDate')}"
                                      th:errors="*{column.creationDate}">User Name Error</span>
                        </div>


                        <div class="text-right Padding10px">
                            <a th:href="@{/OM/OrgAdd/E/}+${pageId}+'/'+${temltId}"
                               class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-primary" onclick="return checkinvInfoAccValid()">Save
                            </button>
                        </div>


                    </form>


                    <div class="form-group col-sm-12 marginbtm10px">
                        <table id="tblDataLine" class="table table-bordered table-hover table-striped marginbtm10px">
                            <thead>


                            <th>Code</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Item Org</th>
                            <th>Class Structure</th>
                            <th>Costing Method</th>
                            <th>calendar</th>
                            <th>Hide/Show</th>


                            </thead>
                            <tbody>
                            <div th:if="!${#lists.isEmpty(inventoryInfos)}">
                                <div th:each="inv : ${inventoryInfos}">
                                    <tr>
                                        <td th:text="*{inv.code}"></td>
                                        <td th:text="*{inv.name}"></td>
                                        <td th:text="*{inv.address}"></td>
                                        <td th:text="( *{inv.isItemMaster} ? *{inv.code} :*{inv.itemOrg.code})"></td>
                                        <td th:text="( *{inv.keySegmentHeader} ? *{inv.keySegmentHeader.structureCode}:*{inv.itemOrg.keySegmentHeader.structureCode})"></td>
                                        <td th:text="*{inv.costingMethod}"></td>
                                        <td th:text="*{inv.calendarHeader.name}"></td>
                                        <td width="10px"><a href="#" th:id="${inv.id}" th:title="${inv.id}">Click</a>
                                        </td>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="8">

                                            <div th:id="extra+${inv.id}" style="display: none; ">
                                                <div class="col-sm-12 "
                                                     style="padding-bottom: 20px; padding-left: 0px;">
                                                    <div style="text-align: left ; background-color:#D5DBDB; color: #222222;"
                                                         class="colps_div_hdr col-sm-6">
                                                        Account Informations
                                                    </div>
                                                    <div class="col-sm-12 ">
                                                        <div class="col-sm-3 ">AP Account</div>
                                                        <div class="col-sm-3 "
                                                             style="border-right: 1px solid transparent"
                                                             th:text="*{inv.inventoryApAccV.ccCode}"></div>
                                                        <div class="col-sm-6 "
                                                             style="border-right: 1px solid transparent"
                                                             th:text="*{inv.inventoryApAccV.ccDesc}"></div>

                                                    </div>
                                                    <div class="col-sm-12 ">
                                                        <div class="col-sm-3 ">Sales Account</div>
                                                        <div class="col-sm-3 "
                                                             style="border-right: 1px solid transparent"
                                                             th:text="*{inv.salesAccV.ccCode}"></div>
                                                        <div class="col-sm-6 "
                                                             style="border-right: 1px solid transparent"
                                                             th:text="*{inv.salesAccV.ccDesc}"></div>

                                                    </div>
                                                    <div class="col-sm-12 ">
                                                        <div class="col-sm-3 ">COGS Account</div>
                                                        <div class="col-sm-3 "
                                                             style="border-right: 1px solid transparent"
                                                             th:text="*{inv.cogsAccV.ccCode}"></div>
                                                        <div class="col-sm-6 "
                                                             style="border-right: 1px solid transparent"
                                                             th:text="*{inv.cogsAccV.ccDesc}"></div>

                                                    </div>
                                                    <div class="col-sm-12 ">
                                                        <div class="col-sm-3 ">Material Account</div>
                                                        <div class="col-sm-3 "
                                                             style="border-right: 1px solid transparent"
                                                             th:text="*{inv.materialAccV.ccCode}"></div>
                                                        <div class="col-sm-6 "
                                                             style="border-right: 1px solid transparent"
                                                             th:text="*{inv.materialAccV.ccDesc}"></div>

                                                    </div>
                                                    <div class="col-sm-12 ">
                                                        <div class="col-sm-3 ">WIP Account</div>
                                                        <div class="col-sm-3 "
                                                             style="border-right: 1px solid transparent"
                                                             th:text="*{inv.wipAccV.ccCode}"></div>
                                                        <div class="col-sm-6 "
                                                             style="border-right: 1px solid transparent"
                                                             th:text="*{inv.wipAccV.ccDesc}"></div>

                                                    </div>

                                                    <div class="col-sm-12 ">
                                                        <div class="col-sm-3 ">Intransit Account</div>
                                                        <div class="col-sm-3 "
                                                             style="border-right: 1px solid transparent"
                                                             th:text="*{inv.intransitAccV?.ccCode}"></div>
                                                        <div class="col-sm-6 "
                                                             style="border-right: 1px solid transparent"
                                                             th:text="*{inv.intransitAccV?.ccDesc}"></div>

                                                    </div>

                                                </div>
                                            </div>
                                            <script th:inline="javascript">
                                                // alert('dsaf');
                                                var a = '#' + [[${inv.id}]];
                                                $(a).click(function () {
                                                    var dbfield = [[${inv.id}]];
                                                    var df = '#extra' + [[${inv.id}]];
                                                    $(df + $(this).attr('id').substr(5)).slideToggle("slow");
                                                    event.preventDefault();

                                                });

                                            </script>
                                </div>
                                </td>

                                </tr>


                            </div>

                            <div th:if="${#lists.isEmpty(inventoryInfos)}">
                                <tr>
                                    <td>No Data exists!</td>
                                </tr>
                            </div>

                            </tbody>


                        </table>

                    </div>


                </div>
                <div class="panel-footer">
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
