<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:insert="Manufaturing/MnfScriptLink"/>
    <!--<link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>-->

    <!--<script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>-->
    <!--<script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>-->
    <script>
        function multipleFuncCall(param1)
        {
            checkDate();
            prevDbClick(param1);
        }

    </script>
</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <!--<div class="container">-->
            <div class="col-sm-8">


            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="form-group col-sm-12  jepg_cust_head">
                    <div class="form-group col-sm-5 " style="padding-left: 0; color: #172D44;font-weight: bold ">Production Batch Entry</div>
                </div>
                <div class="panel-body">
                    <form id="bomF" th:action="@{'/batch/batchCreate/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}}"
                          th:object="${batchHeader}" th:method="post">
                        <!--<button type="submit" name="rpt" th:value="Journal_voucher" class="btn btn-primary">Voucher</button>-->
                        <!--color: #ed1c24;-->
                        <span style="font-weight: bold" th:each="m :${msg}">
                            <p th:style="${m.tag} ? 'color:#ed1c24;':'color:#4aa509;'">
                                <span th:if="${m.tag==null}" th:text="${m.msg}"> </span>
                                <span th:unless="${m.tag==null}" th:text="${m.tag+' '+m.msg}"></span>
                            </p></span>
                        <div class="submit-progress hidden">
                            <label th:style="'color:#4aa509;'">Please wait while Saving Data...</label>
                        </div>
                        <div class="form-group">
                            <!--<label for="inputSegment1">Name</label>-->
                            <input type="hidden" class="form-control" id="inputheaderId"
                                   th:field="*{headerId}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('headerId')}"
                                  th:errors="*{headerId}">Name Error</span>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputprodBatchNumber">Number</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="text" id="inputprodBatchNumber" placeholder="Number"
                                       th:field="*{prodBatchNumber}" name="prodBatchNumber" readonly="readonly"/>

                                <span class="help-block" th:if="${#fields.hasErrors('prodBatchNumber')}"
                                      th:errors="*{prodBatchNumber}"> Number Error</span>
                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="hidden" id="inputbatchStatus"
                                       placeholder="Status" th:field="*{batchStatus}" />
                                <input class="form-control" type="text" id="inputbatchStatusLoc"
                                       placeholder="Status" th:field="*{batchStatus.displayName}" th:value="*{batchStatus}" readonly="readonly"/>
                                <span class="help-block" th:if="${#fields.hasErrors('batchStatus')}"
                                      th:errors="*{batchStatus}">Status Error</span>
                            </div>
                            <input class="form-control" type="hidden" id="inputorgHierarchy"
                                   th:field="*{orgHierarchy}" name="orgHierarchy" required="required"/>

                            <input class="form-control" type="hidden" id="inputinventoryInformations"
                                   th:field="*{inventoryInformations}" name="inventoryInformations" required="required"/>
                            <script th:inline="javascript">

                            </script>

                        </div>

                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputbomHeader">Bills of Material</label>
                            <div class="col-sm-1 ">
                            <div>:</div>
                            </div>
                            <div class="col-sm-4 " th:if="${batchHeader.batchStatus==T(com.aye.web.model.BatchStatus).N}" id="inputbomHeaderAfter">
                                <input readonly="true" class="form-control" th:field="*{bomHeader.name}" type="text" />

                            </div>
                            <div class="col-sm-4 " th:if="${batchHeader.batchStatus==T(com.aye.web.model.BatchStatus).N}" id="inputbomHeaderBefor">
                                <select class="form-control" id="inputbomHeader"  th:field="*{bomHeader}">
                                    <option value="">Select</option>
                                    <option th:each="bom :${boms}" th:text="${bom.name}"
                                            th:value="${bom.headerId}"
                                            th:attr="data-bomNumber=${bom.number}"></option>
                                </select>

                                <script th:inline="javascript">

                                    $(document).ready(function(){
                                        document.getElementById('inputbomHeaderAfter').style.display = "none";
                                    })

                                    $("#inputbomHeader").change(function () {
                                                var lindx=$("#inputbomHeader option:selected").index();

                                                var varBomLineNumber = ($(this.options[this.selectedIndex]).attr('data-bomNumber'));
//                                                alert(varBomLineNumber);
                                                if (lindx == 0) {
                                                    document.getElementById('inputbomHeaderNumber').value = "";

                                                }else{

                                                    document.getElementById('inputbomHeaderNumber').value = varBomLineNumber;
                                                }
                                            }
                                    )

                                </script>

                            </div>
                            <div class="col-sm-4 " th:if="${batchHeader.batchStatus==T(com.aye.web.model.BatchStatus).N}">
                                <input class="form-control" type="text" id="inputbomHeaderNumber"  th:field="*{bomHeader.number}" th:value="*{bomHeader}" readonly/>
                            </div>

                            <div class="col-sm-4 " th:if="${batchHeader.batchStatus!=T(com.aye.web.model.BatchStatus).N}">
                                <input class="form-control" type="text" id="inputbomHeaderName"  th:field="*{bomHeader.name}" th:value="*{bomHeader}" readonly/>
                                <input class="form-control" type="hidden" id="inputbomHeader"  th:field="*{bomHeader}" />


                            </div>
                            <div class="col-sm-4 " th:if="${batchHeader.batchStatus!=T(com.aye.web.model.BatchStatus).N}">

                                <input class="form-control" type="text" id="inputbomHeaderNumber"  th:field="*{bomHeader.number}" th:value="*{bomHeader}" readonly/>
                            </div>
                            </div>

                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputstartDate">Date</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="date" id="inputstartDate"  th:field="*{{startDate}}"
                                       th:readonly="${batchHeader.batchStatus!=T(com.aye.web.model.BatchStatus).N}"/>

                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="date" id="inputendDate"
                                       th:field="*{{endDate}}"/>

                            </div>
                        </div>
                        <div class="form-group col-sm-12 " >
                            <label class="col-sm-3 control-label " for="inputstartDate">Note</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <textarea   class="form-control input-lg" type="text" id="inputnote"
                                       placeholder="Additional Text" th:field="*{note}" form="bomF"> </textarea>

                            </div>

                        </div>

                        <div class="form-group ">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumn" placeholder="column"
                                   th:field="*{column.createdBy}" name="column"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                                <span class="help-block" th:if="${#fields.hasErrors('column.createdBy')}"
                                      th:errors="*{column.createdBy}">User Name Error</span>
                        </div>

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumnDate" placeholder="columnDate"
                                   th:field="*{column.creationDate}" name="columnDate"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                                <span class="help-block" th:if="${#fields.hasErrors('column.creationDate')}"
                                      th:errors="*{column.creationDate}">User Name Error</span>
                        </div>


                        <div class="form-group  col-sm-12 text-right Padding10px" >

                            <div class="col-sm-2 text-left" th:if="${batchHeader.headerId!=null} ">
                                <button type="button" data-toggle="modal" data-target="#modal-RecordHistory" th:id="btnIdHM"
                                        th:attr="data-target='#modal-RecordHistory'"  title="Record History" >
                                    <span class="glyphicon glyphicon-record"></span>
                                </button>
                                <script th:inline="javascript">
                                    document.getElementById('btnIdHM').onclick =
                                            function () {
                                                var obj = [[${batchHeader.column}]];
                                                histabledataset(obj);
                                            };

                                </script>
                                <div data-th-replace="fragments/recordHistoryModal :: recordhis-modal"></div>
                            </div>


                            <span th:if="${batchHeader.headerId!=null and batchHeader.batchStatus==T(com.aye.web.model.BatchStatus).N}">
                                <a th:href="@{'/batch/batchLine/E/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${batchHeader.headerId}}"
                                   class="btn btn-default">Lines</a>
                            </span>

                            <a th:href="@{'/batch/batchCreate/E/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}}"
                               class="btn btn-default">New</a>

                            <!--<span th:if="${!bomHeader.isApprove}">-->
                            <span th:if="${batchHeader.batchStatus==T(com.aye.web.model.BatchStatus).N} and ${ADD} ">
                                <button type="submit" class="btn btn-primary" id="btSave" onclick="return prevDbClick(this.id)">Save</button>
                            </span>

                            <span th:if="${(batchHeader.batchStatus==T(com.aye.web.model.BatchStatus).N) and batchHeader.headerId!=null}  and ${DELETE} ">
                                <button type="submit" name="delete" class="btn btn-danger">Delete</button>
                            </span>

                            <a th:href="@{/batch/search/E/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}"
                               class="btn btn-default">Search</a>
                            <span th:if="${batchHeader.batchStatus==T(com.aye.web.model.BatchStatus).N and batchHeader.headerId!=null and
                            #lists.size(batchHeader.prodBatchLines) &gt; 0} and ${POST}">
                                <button type="submit" name="complete" class="btn btn-primary" id="btComp" onclick="return prevDbClick(this.id)">Complete</button>
                                                    <!--<a th:href="@{'/batch/batchCcomplete/E/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${batchHeader.headerId}}"-->
                                                       <!--class="btn btn-default">Complete</a>-->
                            </span>
                            <span th:if="${batchHeader.batchStatus==T(com.aye.web.model.BatchStatus).C and batchHeader.headerId!=null and
                            #lists.size(batchHeader.prodBatchLines) &gt; 0}  and ${CANCEL} ">
                                <button type="submit" name="cancel" class="btn btn-primary" id="btCancel" onclick="return multipleFuncCall(this.id)">Cancel</button>
                                <!--<a th:href="@{'/batch/batchCancel/E/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${batchHeader.headerId}}"-->
                                   <!--class="btn btn-default">Cancel</a>-->
                            </span>
                        </div>

                        <div class=" col-sm-12 table-responsive dist_view" th:if="${(batchHeader.headerId)!=null}">
                            <div class="col-sm-12 brder accgl-col">
                                <!--<div class="col-sm-2 accgl-col brderright" style="width: 20px">Id</div>-->
                                <div class="col-sm-1 accgl-col brderright" align="center">Type</div>
                                <div class="col-sm-3 accgl-col brderright" align="center">Item</div>
                                <div class="col-sm-2 accgl-col brderright" align="center">UOM</div>
                                <div class="col-sm-2 accgl-col brderright" align="center">Qty</div>
                                <div class="col-sm-2 accgl-col  brderright" align="center">Type</div>
                                <div class="col-sm-1 accgl-col  brderright" align="center">%</div>
                                <div class="col-sm-1 accgl-col " align="center">Edit</div>

                            </div>
                            <div class="col-sm-12 accgl-col brder "
                                 th:each="line,rowStat : *{prodBatchLines}">

                                <!--<div class="col-sm-2  form-group accgl-col top_marg brderright"-->
                                <!--th:text="${rowStat.count}" style="width: 20px">1-->
                                <!--</div>-->

                                <div class="col-sm-1 form-group accgl-col top_marg brderright" align="left">
                                    <input th:field="*{prodBatchLines[__${rowStat.index}__].lineId}" th:type="hidden"/>
                                    <input th:field="*{prodBatchLines[__${rowStat.index}__].prodBatchHeader}" th:type="hidden"/>
                                    <input th:field="*{prodBatchLines[__${rowStat.index}__].bomLines}" th:type="hidden"/>
                                    <input th:field="*{prodBatchLines[__${rowStat.index}__].masterItem.id.id}" th:type="hidden"/>
                                    <input th:field="*{prodBatchLines[__${rowStat.index}__].masterItem.id.inventoryInformations}" th:type="hidden"/>
                                    <input th:field="*{prodBatchLines[__${rowStat.index}__].unitofMeasure}" th:type="hidden"/>
                                    <input th:field="*{prodBatchLines[__${rowStat.index}__].unitofMeasure}" th:type="hidden"/>
                                    <input th:field="*{prodBatchLines[__${rowStat.index}__].defaultUom}" th:type="hidden"/>
                                    <input th:field="*{prodBatchLines[__${rowStat.index}__].defaultUomCode}" th:type="hidden"/>
                                    <input th:field="*{prodBatchLines[__${rowStat.index}__].convRate}" th:type="hidden"/>
                                    <input th:field="*{prodBatchLines[__${rowStat.index}__].subinventory}" th:type="hidden"/>
                                    <input th:field="*{prodBatchLines[__${rowStat.index}__].subInvCode}" th:type="hidden"/>
                                    <input th:field="*{prodBatchLines[__${rowStat.index}__].subinvLocator}" th:type="hidden"/>
                                    <input th:field="*{prodBatchLines[__${rowStat.index}__].locatorCode}" th:type="hidden"/>
                                    <input th:field="*{prodBatchLines[__${rowStat.index}__].standerdQty}" th:type="hidden"/>
                                    <input th:field="*{prodBatchLines[__${rowStat.index}__].column.creationDate}" th:type="hidden"/>
                                    <input th:field="*{prodBatchLines[__${rowStat.index}__].column.createdBy}" th:type="hidden"/>
                                    <input class="td form-control " th:type="text"
                                           th:field="*{prodBatchLines[__${rowStat.index}__].bomLineType}"
                                           height="1" readonly="readonly"/>
                                    <!--<input class="td form-control " th:type="text"-->
                                           <!--th:field="*{prodBatchLines[__${rowStat.index}__].bomLineType.displayName}"-->
                                           <!--height="2" readonly="readonly"/>-->
                                </div>
                                <div class="col-sm-3 form-group accgl-col top_marg brderright">
                                    <input class="td form-control " th:type="text"
                                           th:field="*{prodBatchLines[__${rowStat.index}__].masterItem.itemCode}"
                                           height="2" readonly="readonly"/>
                                </div>

                                <div class="col-sm-2 form-group accgl-col top_marg brderright">
                                    <input class="td form-control " th:type="text"
                                           th:field="*{prodBatchLines[__${rowStat.index}__].uomCode}"
                                           height="2" readonly="readonly"/>
                                </div>

                                <div class="col-sm-2 form-group accgl-col top_marg brderright">
                                    <input class="td form-control " th:type="text"
                                           th:field="*{prodBatchLines[__${rowStat.index}__].actualQty}"
                                           height="2" readonly="readonly"/>
                                </div>

                                <div class="col-sm-2 form-group accgl-col top_marg brderright">
                                    <span class="td form-control "
                                           th:text="*{prodBatchLines[__${rowStat.index}__].bomLines} ? 'Actual':'Dynamic'"
                                           height="2" readonly="readonly"/>
                                    </span>
                                </div>

                                <div class="col-sm-1 form-group accgl-col top_marg brderright">
                                    <span class="td form-control "
                                           th:text="*{#numbers.formatDecimal(prodBatchLines[__${rowStat.index}__].allocationPercent,0,2)}"
                                           height="2" readonly="readonly"/>
                                    </span>
                                </div>

                                  <div class="col-sm-1 form-group accgl-col top_marg brderright">
                                  <span th:if="${batchHeader.batchStatus==T(com.aye.web.model.BatchStatus).N}">
                                    <a th:href="@{/batch/batchLine/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${batchHeader.headerId}+
                                    '/'+*{prodBatchLines[__${rowStat.index}__].lineId}"
                                       class="btn btn-primary form-control">Update</a>
                                </span>
                                </div>


                            </div>
                        </div>


                    </form>
                </div>




            </div>
                <div class="panel-footer">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default" th:if="${batchHeader.headerId!=null}" >
                    <!-- Default panel contents -->
                    <div class="form-group col-sm-12  jepg_cust_head">
                        <div class="form-group col-sm-5 " style="padding-left: 0; color: #172D44;font-weight: bold ">Line Entry</div>

                    </div>
                <div class="panel-body">
                            <form th:action="@{'/batch/batchLineProcess/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${batchFg.headerId}}"
                                  th:object="${batchFg}" th:method="post">
                        <!--<div>-->
                            <!--<input th:type="text" th:text="${batchFg.headerId}"/>-->
                        <!--</div>-->

                        <div class="form-group">
                            <!--<label for="inputSegment1">Name</label>-->
                            <input type="hidden" th:field="*{headerId}"/>
                            <input type="hidden" th:field="*{prodBatchNumber}"/>
                            <input type="hidden" th:field="*{batchStatus}"/>
                            <input type="hidden" th:field="*{orgHierarchy}"/>
                            <input type="hidden" th:field="*{inventoryInformations}"/>
                            <input type="hidden" th:field="*{inventoryInformations}"/>
                            <input type="hidden" th:field="*{startDate}"/>
                            <input type="hidden" th:field="*{endDate}"/>
                            <input type="hidden" th:field="*{bomHeader}"/>
                            <input type="hidden" th:field="*{batchStatus}"/>
                            <input type="hidden" th:field="*{note}"/>
                            <input type="hidden" th:field="*{note}"/>
                            <input type="hidden" th:field="*{column.createdBy}"/>
                            <input type="hidden" th:field="*{column.creationDate}"/>

                        </div>


                        <div class=" col-sm-12 table-responsive dist_view" th:if="${(batchHeader.headerId)!=null}">
                            <div class="col-sm-12 brder accgl-col">
                                <!--<div class="col-sm-2 accgl-col brderright" style="width: 20px">Id</div>-->
                                <!--<div class="col-sm-2 accgl-col brderright" align="center">Type</div>-->
                                <div class="col-sm-6 accgl-col brderright" align="center">Item</div>
                                <div class="col-sm-3 accgl-col brderright" align="center">UOM</div>
                                <div class="col-sm-3 accgl-col " align="center">Qty</div>
                                <!--<div class="col-sm-2 accgl-col  brderright" align="center">Type</div>-->
                                <!--<div class="col-sm-1 accgl-col " align="center">Edit</div>-->

                            </div>
                            <div class="col-sm-12 accgl-col brder "
                                 th:each="line,rowStat : ${batchFg.prodBatchLines}">
                                <!--class="col-sm-2 form-group accgl-col top_marg brderright"-->
                                <div>
                                    <input th:field="${batchFg.prodBatchLines[__${rowStat.index}__].lineId}" th:type="hidden"/>
                                    <input th:field="${batchFg.prodBatchLines[__${rowStat.index}__].prodBatchHeader}" th:type="hidden"/>
                                    <input th:field="${batchFg.prodBatchLines[__${rowStat.index}__].bomLines}" th:type="hidden"/>
                                    <input th:field="${batchFg.prodBatchLines[__${rowStat.index}__].masterItem.id.id}" th:type="hidden"/>
                                    <input th:field="${batchFg.prodBatchLines[__${rowStat.index}__].masterItem.id.inventoryInformations}" th:type="hidden"/>
                                    <input th:field="${batchFg.prodBatchLines[__${rowStat.index}__].unitofMeasure}" th:type="hidden"/>
                                    <input th:field="${batchFg.prodBatchLines[__${rowStat.index}__].unitofMeasure}" th:type="hidden"/>
                                    <input th:field="${batchFg.prodBatchLines[__${rowStat.index}__].defaultUom}" th:type="hidden"/>
                                    <input th:field="${batchFg.prodBatchLines[__${rowStat.index}__].defaultUomCode}" th:type="hidden"/>
                                    <input th:field="${batchFg.prodBatchLines[__${rowStat.index}__].convRate}" th:type="hidden"/>
                                    <input th:field="${batchFg.prodBatchLines[__${rowStat.index}__].subinventory}" th:type="hidden"/>
                                    <input th:field="${batchFg.prodBatchLines[__${rowStat.index}__].subInvCode}" th:type="hidden"/>
                                    <input th:field="${batchFg.prodBatchLines[__${rowStat.index}__].subinvLocator}" th:type="hidden"/>
                                    <input th:field="${batchFg.prodBatchLines[__${rowStat.index}__].locatorCode}" th:type="hidden"/>
                                    <input th:field="${batchFg.prodBatchLines[__${rowStat.index}__].standerdQty}" th:type="hidden"/>
                                    <input th:field="${batchFg.prodBatchLines[__${rowStat.index}__].column.creationDate}" th:type="hidden"/>
                                    <input th:field="${batchFg.prodBatchLines[__${rowStat.index}__].column.createdBy}" th:type="hidden"/>
                                    <input class="td form-control " th:type="hidden"
                                           th:field="${batchFg.prodBatchLines[__${rowStat.index}__].bomLineType}"
                                           height="2" readonly="readonly"/>
                                    <input class="td form-control " th:type="hidden"
                                           th:field="${batchFg.prodBatchLines[__${rowStat.index}__].bomLineType.displayName}"
                                           height="2" readonly="readonly"/>
                                </div>
                                <div class="col-sm-6 form-group accgl-col top_marg brderright">
                                    <input class="td form-control " th:type="text"
                                           th:field="${batchFg.prodBatchLines[__${rowStat.index}__].masterItem.itemCode}"
                                           height="2" readonly="readonly"/>
                                </div>

                                <div class="col-sm-3 form-group accgl-col top_marg brderright">
                                    <input class="td form-control " th:type="text"
                                           th:field="${batchFg.prodBatchLines[__${rowStat.index}__].uomCode}"
                                           height="2" readonly="readonly"/>
                                </div>

                                <div class="col-sm-3 form-group accgl-col top_marg ">
                                    <input class="td form-control " th:type="text"
                                           th:field="${batchFg.prodBatchLines[__${rowStat.index}__].actualQty}"
                                           height="2"
                                            th:readonly="${batchFg.batchStatus!=T(com.aye.web.model.BatchStatus).N}"/>
                                </div>

                                <!--<div class="col-sm-2 form-group accgl-col top_marg brderright">-->
                                <!--<span class="td form-control "-->
                                <!--th:text="*{prodBatchLines[__${rowStat.index}__].bomLines} ? 'Actual':'Dynamic'"-->
                                <!--height="2" readonly="readonly"/>-->
                                <!--</span>-->
                                <!--</div>-->

                                <!--<div class="col-sm-1 form-group accgl-col top_marg brderright">-->
                                <!--<span th:if="${batchHeader.batchStatus==T(com.aye.web.model.BatchStatus).N}">-->
                                <!--<a th:href="@{/batch/batchLine/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${batchHeader.headerId}+-->
                                <!--'/'+*{prodBatchLines[__${rowStat.index}__].lineId}"-->
                                <!--class="btn btn-primary form-control">Update</a>-->
                                <!--</span>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div>
                             <span th:if="${batchHeader.batchStatus==T(com.aye.web.model.BatchStatus).N} and ${batchHeader.headerId!=null}">
                                <button type="submit" class="btn btn-primary">Process</button>
                            </span>
                        </div>
                    </form>
                </div>
                </div>
                </div>

        </div>
        <!--<div class="col-sm-4">-->
    <!-- -->
            <!--</div>-->
    </div>

</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>

</body>
</html>
