<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:insert="Manufaturing/MnfScriptLink"/>
    <!--<link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>-->

    <!--<script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>-->
    <!--<script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>-->
    <script>


        var count =0;

        function selectedobj(value, ind) {
            if (ind == 'batchLineItem') {
                batchLineItem(value);
            }else
            if (ind=='batchLineUom')
            {
                lUomAct='Creat';
                batchLineUomObj(value,lUomAct);
            }

        }
        ;


    </script>

</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-12">
        <div class="col-sm-8">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="form-group col-sm-12  jepg_cust_head">
                    <div class="form-group col-sm-5 " style="padding-left: 0; color: #172D44">Production Batch Lines </div>
                </div>
                <div class="panel-body">

                    <form
                            th:action="@{'/batch/batchLine/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+*{prodBatchHeader.headerId}}"
                            th:object="${batchLines}" th:method="post">
                        <!--<button type="submit" name="rpt" th:value="Journal_voucher" class="btn btn-primary">Voucher</button>-->
                        <!--color: #ed1c24;-->
                        <span style="font-weight: bold" th:each="m :${msg}">
                            <p th:style="${m.tag} ? 'color:#ed1c24;':'color:#4aa509;'">
                                <span th:if="${m.tag==null}" th:text="${m.msg}"> </span>
                                <span th:unless="${m.tag==null}" th:text="${m.tag+' '+m.msg}"></span>
                            </p></span>                        <div class="form-group">
                        <!--<label for="inputSegment1">Name</label>-->
                        <input type="hidden" class="form-control" id="inputLineId"
                               th:field="*{lineId}"/>
                        <input type="hidden" class="form-control" id="inputheaderId"
                               th:field="*{prodBatchHeader}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('lineId')}"
                                  th:errors="*{lineId}">Name Error</span>
                    </div>

                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputmasterItemInvId">Line Informations</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-2 " th:if="*{bomLines}!=null">
                                <input class="form-control" type="text" id="inputbomLineType" th:field="*{bomLineType}" readonly/>
                            </div>
                            <div class="col-sm-2 " th:if="*{bomLines}==null" >

                                <select class="form-control" id="inputbomLineType" th:field="*{bomLineType}" required="required"
                                        th:disabled="*{bomLines}!=null">
                                    <option value="">Select</option>
                                    <option th:each="o : ${T(com.aye.web.model.common.BomLineType).values()}"
                                            th:value="${o}"
                                            th:text="${o.displayName}"></option>

                                </select>
                            </div>

                            <div class="col-sm-4 ">
                                <input class="form-control" type="hidden" id="inputbomLines"
                                       th:field="*{bomLines}" name="bomLines"/>
                            <input class="form-control" type="hidden" id="inputmasterItemInvId"
                                       th:field="*{masterItem.id.inventoryInformations}" name="masterItem"/>

                                <input class="form-control" type="hidden" id="inputmasterItemInvCode"
                                       th:field="*{masterItem.id.inventoryInformations.code}" name="masterItem"/>

                                <input class="form-control" type="hidden" id="inputmasterItemId"
                                       th:field="*{masterItem.id.id}" name="masterItemId"/>

                                <input class="form-control" type="text" id="inputitemCode" placeholder="Item" required="required"
                                       th:field="*{masterItem.itemCode}" name="itemCode" th:readonly="*{bomLines}!=null"/>

                                <input class="form-control" type="hidden" id="inputdefaultUom"
                                       th:field="*{defaultUom}" name="defaultUom"/>

                                <input class="form-control" type="hidden" id="inputdefaultUomCode"
                                       th:field="*{defaultUomCode}" name="defaultUomCode"/>

                                <span class="help-block" th:if="${#fields.hasErrors('masterItem')}"
                                      th:errors="*{masterItem}">Order Number Error</span>
                            </div>
                            <script th:inline="javascript">
                                var lInvId = document.getElementById('inputmasterItemInvId').value;
                                var lordTrnsType = [[${trnsType}]];

                                var lInvOrgs;
                                var lOrderUomId;
                                function batchLineItem(objparms) {

                                    lOrderUomId = 'inputorderUom';
                                    var lOrdUomObj;
                                    var objparmV = objparms;

//                                    inputmasterItemInvId
//                                    inputmasterItemInvCode
//                                    inputmasterItemId
//                                    inputunitofMeasureuomCode
//                                    inputunitofMeasureid
//                                    inputuomCode

                                    var itemId = '#inputmasterItemId' ;
                                    var masterItemInvId = '#inputmasterItemInvId' ;
                                    var masterItemInvCode = '#inputmasterItemInvCode' ;
                                    var primUomCode = '#inputdefaultUomCode';
                                    var primUomId = '#inputdefaultUom';
                                    var lItemCode2 = '#inputitemCode';
                                    var lorderUomCode = '#inputuomCode';
                                    var lorderUomuomCode = '#inputunitofMeasureuomCode';
                                    var lorderUomid = '#inputunitofMeasureid';
//                                    var lInvOrgObj = objparmV.orderTrnsV2s;
                                    lOrdUomObj = objparmV.orderTrnsV3s;
                                    lOrderTrnsV2s = objparmV.orderTrnsV2s;
                                    lOrderTrnsV3s = objparmV.orderTrnsV3s;
                                    var uSelPrice = '#inputunitSellingtPrice';//priceListLine.amount
                                    var uLstPrice = '#inputunitListPrice';//priceListLine.amount
                                    var lpriceListName = '#inputpriceListLinePriceLstHname';//priceListName
                                    var lpriceListLid = '#inputpriceListLine';//priceListLine.id
                                    var lConvRate = '#inputconvRate';//defaultUom.defaultConvRate

//
                                    $(itemId).val(objparmV.id.id).trigger("change");
                                    $(masterItemInvId).val(objparmV.id.inventoryInformations.id).trigger("change");
                                    $(masterItemInvCode).val(objparmV.itemCode).trigger("change");

                                    $(primUomId).val(objparmV.defaultUom.id).trigger("change");
                                    $(primUomCode).val(objparmV.defaultUom.uomCode).trigger("change");
                                    $(lItemCode2).val(objparmV.itemCode).trigger("change");
                                    $(lorderUomCode).val(objparmV.defaultUom.uomCode).trigger("change");
                                    $(lorderUomuomCode).val(objparmV.defaultUom.uomCode).trigger("change");
                                    $(lorderUomid).val(objparmV.defaultUom.id).trigger("change");
                                    $(lConvRate).val(objparmV.defaultUom.defaultConvRate).trigger("change");

                                };


                                document.getElementById('inputitemCode').oninput = function () {
                                    var dvalue = 'inputitemCode';
                                    var pDisplayfieldvar = '#inputitemCode';
                                    var pDbfieldvar = '#inputmasterItemId';

                                    myFunctionItem(dvalue, pDisplayfieldvar, pDbfieldvar);
                                };

                                function myFunctionItem(pRow, pDisFld, pDbFld) {
                                    var lpDisFld = pDisFld;
                                    var lpDbFld = pDbFld;

                                    var lItemCode = document.getElementById(pRow).value;
//                                                        alert(lItemCode);
                                    if (lItemCode.length > 2) {

                                        LineItem(lItemCode, lordTrnsType, lpDisFld, lpDbFld);
                                        document.getElementById('inputitemCode').focus();
                                    }
                                }


                                function LineItem(itm, pOrdTrnsType, pdis, pdb) {
                                    var displayfieldvar = pdis;
                                    var dbfieldvar = pdb;
                                    var morgid = [[${invOrgId}]];
                                    var urlval = '/AYE/ACRC/SearchOrgItemCode/' + morgid + '/' + itm;
//                                                                                     alert(urlval);
                                    var displayfield = displayfieldvar;
                                    var getvalue = 'itemCode';
                                    var indc = 'batchLineItem';
                                    var desc = 'defaultUomCode';
//                                    alert(urlval)
                                    autocomwithobject(urlval, getvalue, displayfield, null, desc, indc);
                                }


                            </script>
                            <div class="col-sm-2 ">
                                <input class="form-control" type="hidden" id="inputunitofMeasureuomCode"
                                       th:field="*{unitofMeasure.uomCode}" name="unitofMeasureCode"/>
                                <input class="form-control" type="hidden" id="inputunitofMeasureid"
                                       th:field="*{unitofMeasure.id}" name="unitofMeasure"/>

                                <input class="form-control" type="text" id="inputuomCode"
                                       th:field="*{uomCode}" name="uomCode" placeholder="Uom"/>
                                <script th:inline="javascript">


                                    function batchLineUomObj(uomObj,act)
                                    {

                                        var lUomObj =uomObj;
//                                        alert(uomObj.convRate);

//                                        var uSelPrice = '#inputunitSellingtPrice';
//                                        var uLstPrice = '#inputunitListPrice';
//                                        var lpriceListName = '#inputpriceListLinePriceLstHname';
//                                        var lpriceListLid = '#inputpriceListLine';
                                        var lConvRate = '#inputconvRate';
                                        var lordUomCode = '#inputunitofMeasureuomCode';
                                        var lordUomId = '#inputunitofMeasureid';

                                        if (act=='clear')
                                        {
//                                            document.getElementById('inputunitSellingtPrice').value='';
//                                            document.getElementById('inputunitListPrice').value='';
//                                            document.getElementById('inputpriceListLinePriceLstHname').value='';
//                                            document.getElementById('inputpriceListLine').value='';
                                            document.getElementById('inputconvRate').value='';
//                                            document.getElementById('inputorderUomCode').value='';
//                                            document.getElementById('inputorderUomid').value='';
                                        }else
                                        {
//                                            $(uSelPrice).val(lUomObj.amount).trigger("change");
//                                            $(uLstPrice).val(lUomObj.amount).trigger("change");
//                                            $(lpriceListName).val(lUomObj.priceListName).trigger("change");
//                                            $(lpriceListLid).val(lUomObj.priceListLine.id).trigger("change");
                                            $(lConvRate).val(lUomObj.convRate).trigger("change");
                                            $(lordUomCode).val(lUomObj.toCodeName).trigger("change");
                                            $(lordUomId).val(lUomObj.toUom.id).trigger("change");

                                        }

//                                        clearQtyAmtData();

                                    }



                                    document.getElementById('inputuomCode').oninput = function()
                                    {
                                        var lInvId = document.getElementById('inputmasterItemInvId').value;
                                        var lItemId = document.getElementById('inputmasterItemId').value;
                                        var lordTrnsType = [[${trnsType}]];

                                        var locUom = document.getElementById('inputuomCode').value;
                                        if (locUom.length>1)
                                        {
                                            document.getElementById('inputunitofMeasureid').value='';
//                                            alert(lInvId+'  '+lItemId);
                                            var uomUrl = '/AYE/ACRC/SearchUomByItem/' + lInvId +'/'+lItemId;
//                                            alert(uomUrl);
                                            autocomwithobject(uomUrl, 'toCode', '#inputuomCode', null, 'convRate', 'batchLineUom');
                                            document.getElementById('inputuomCode').focus();
                                        }
                                    }

                                </script>
                            </div>

                        </div>

                        <div class="col-sm-12 form-group  ">
                            <label class=" col-sm-3 control-label " for="inputSubinventory">Sub Inventory</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-4">
                                <select class="form-control" name="Subinventory" id="inputSubinventory"
                                        th:field="*{subinventory}" >
                                    <option value="">Please select One</option>
                                    <option th:each="sub : ${subInv}" th:text="${sub.code}" th:value="${sub.id}"
                                            th:attr="data-locConfrom=${sub.isLocatorControl}">
                                        module
                                    </option>
                                </select>

                                <input type="hidden" id="inputesubInvCode"
                                       th:field="*{subInvCode}"/>
                                <input type="hidden" id="locSubinvLocConfrom"
                                       th:field="*{subinventory.isLocatorControl}"
                                       th:value="*{subinventory}"/>
                                <script th:inline="javascript">
                                    $("#inputSubinventory").change(function () {
                                        var varSubinvLocConfrom = ($(this.options[this.selectedIndex]).attr('data-locConfrom'));
                                        var varSubinvCode = ($(this.options[this.selectedIndex]).text());
//                                        alert(varSubinvCode);
                                        document.getElementById('locSubinvLocConfrom').value = varSubinvLocConfrom;
                                        document.getElementById('inputesubInvCode').value = varSubinvCode;
                                        if (varSubinvLocConfrom == "false") {
//                                                alert(varSubinvLocCon);
                                            document.getElementById('locatorCode').readOnly = true;
                                            document.getElementById("locatorCode").value = "";
                                        } else {
                                            document.getElementById('locatorCode').readOnly = false;
                                        }
                                    })
                                </script>
                                <!--<input type="hidden" id="inputSubinvLocContrl" th:field="*{fromSubinventory.isLocatorControl}" />-->
                            </div>
                            <div class="col-sm-4">
                                <input type="hidden" class="form-control" name="subinvLocator" id="inputsubinvLocator"
                                       th:field="*{subinvLocator}" th:value="*{subinvLocator}"/>
                                <input type="text" class="form-control" name="locatorCode" id="locatorCode"
                                       th:field="*{locatorCode}" th:value="*{locatorCode}" placeholder="Locator"/>
                                <script th:inline="javascript">
                                    var mods = [[${mode}]];
                                    var trns = 'X';
                                    if (trns != null) {
                                        var fromSubLocCon = document.getElementById('locSubinvLocConfrom').value;
//                                            var fromSubLocCon = ($(this.options[this.selectedIndex]).attr('data-locConfrom'));
                                        if (fromSubLocCon == "false") {
//                                                alert(fromSubLocCon);
                                            document.getElementById('locatorCode').readOnly = true;
                                            document.getElementById("locatorCode").value = "";
                                        } else {
                                            document.getElementById('locatorCode').readOnly = false;
                                        }
                                    }

                                    function SearchloctDelvObj(objparms) {
//                                            alert('x');
                                        var objparmV = objparms;
                                        $('#inputsubinvLocator').val(objparmV.id).trigger("change");
                                    }
                                    ;

                                    document.getElementById('locatorCode').oninput = function () {
                                        LocatorInf();
                                    };

                                    function LocatorInf() {
                                        var fLoc = document.getElementById('locatorCode').value;
                                        if (fLoc.length > 2) {
                                            var displayfieldfrom = [['#locatorCode']];
                                            var varFromSubinv = document.getElementById('inputSubinventory').value;
                                            getLocatorDelv(varFromSubinv, displayfieldfrom, 'locDelv');
                                            document.getElementById('locatorCode').focus();
                                        }
                                        ;
                                    }

                                </script>

                            </div>
                        </div>




                        
    
                        <div class="col-sm-12 form-group ">
                            <label class="col-sm-3 control-label " for="inputstanderdQty">Qty</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="text" id="inputactualQty"
                                       th:field="*{actualQty}" required="required"/>

                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="text" id="inputstanderdQty"
                                       th:field="*{standerdQty}" readonly/>

                                <input class="form-control" type="hidden" id="inputconvRate"
                                       th:field="*{convRate}"/>
                                <input class="form-control" type="hidden" id="inputallocationPercent"
                                       th:field="*{allocationPercent}"/>
                            </div>
                        </div>



                        <div class="form-group ">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumn" placeholder="column"
                                   th:field="*{column.createdBy}" name="column"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                                <span class="help-block" th:if="${#fields.hasErrors('column.createdBy')}"
                                      th:errors="*{column.createdBy}">User Name Error</span>
                        </div>

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumnDate" placeholder="columnDate"
                                   th:field="*{column.creationDate}" name="columnDate"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                                <span class="help-block" th:if="${#fields.hasErrors('column.creationDate')}"
                                      th:errors="*{column.creationDate}">User Name Error</span>
                        </div>


                        <div>
                            <a class="btn btn-success"
                               th:id="btnId"  th:text="On-hand" th:title="HIT" rel="tooltip">
                            </a>
                            <script th:inline="javascript">
                                document.getElementById('btnId').onclick =
                                        function () {
                                            getContent(1);
                                        };
                                function getContent(btnId) {
                                    var mod = [[${mode}]];
                                    var pId = [[${pageId}]];
                                    var tId = [[${temltId}]];
                                    var invOrgId = [[${invOrgId}]];
                                    var lBhId = [[*{prodBatchHeader.headerId}]];
//                                alert(lBhId);

                                var l_urlVal = '/AYE/batch/getOnhand/' + mod + '/' + pId + '/' + tId+'/'+invOrgId + '/' + lBhId;
                                var l_url = window.location.origin + l_urlVal;
//                                alert(l_url);
                                //load fragment and replace content
                                $('#replace_div').load(l_url);
                                };

                            </script>
                        </div>
                        <div class="form-group  col-sm-12 text-right Padding10px" th:if="*{prodBatchHeader.batchStatus==T(com.aye.web.model.BatchStatus).N}">
                            <a th:href="@{'/batch/batchLine/E/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+*{prodBatchHeader.headerId}}"
                               class="btn btn-default">New</a>
                            <span th:if="${ADD}">
                            <button type="submit" name="save" class="btn btn-primary" onclick="return checkemptyfield()">Save</button>
                            </span>

                            <a th:href="@{/batch/batchCreate/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+*{prodBatchHeader.headerId}"
                               class="btn btn-default">Back</a>
                        </div>



                    </form>
                    <div class="form-group col-sm-12">
                        <table class="table table-bordered table-hover table-striped">

                            <thead>
                            <th>Id</th>
                            <th>Type</th>
                            <th>Item</th>
                            <th>Uom</th>
                            <th>Act.Qty</th>
                            <th>Std.Qty</th>
                            <th>Sub.Inv</th>
                            <th>Allocation</th>
                            <th>Edit</th>
                            </thead>
                            <tbody>
                            <div>
                                <tr th:each="lines : ${AllLines}">
                                    <td th:text="${lines.lineId}"></td>
                                    <td th:text="${lines.bomLineType}"></td>
                                    <td th:text="${lines.masterItem.itemCode}"></td>
                                    <td th:text="${lines.uomCode}"></td>
                                    <td th:text="${lines.actualQty}"></td>
                                    <td th:text="${lines.standerdQty}"></td>
                                    <td th:text="${lines.subInvCode}"></td>
                                    <td th:text="${lines.allocationPercent}"></td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="..." name="edit" th:if="*{lines.prodBatchHeader.batchStatus==T(com.aye.web.model.BatchStatus).N}">
                                            <a th:href="@{/batch/batchLine/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${lines.prodBatchHeader.headerId}+'/'+${lines.lineId}"
                                               class="btn btn-success"><span
                                                    class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                            <span th:if="${lines.bomLines==null}">
                                            <a th:href="@{/batch/deletebatchLine/E/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${lines.prodBatchHeader.headerId}+'/'+${lines.lineId}"
                                               class="btn btn-danger"><span
                                                    class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></span>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="panel-footer">
                </div>
            </div>
            </div>
            <div class="col-sm-4" >
                <div class="panel" >
                    <!-- Default panel contents -->
                    <!--<div class="form-group col-sm-12  jepg_cust_head">-->
                    <!--<div class="panel-body">-->
                        <div class=" col-sm-12 table-responsive dist_view">
                            <div id="replace_div">

                            </div>
                        </div>

                    <!--</div>-->


                </div>
            </div>

        </div>


        </div>

        </div>

<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>

</body>
</html>
