<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:insert="Manufaturing/MnfScriptLink"/>
    <!--<link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>-->

    <!--<script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>-->
    <!--<script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>-->
    <script>


        function selectedobj(value, ind) {
            if (ind == 'Cust') {
                //alert('m');

                SearchCustObj(value);
            }

        }
        ;


    </script>

</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="form-group col-sm-12  jepg_cust_head">
                    <div class="form-group col-sm-5 " style="padding-left: 0; color: #172D44;font-weight: bold ">Bills of Material Entry</div>
                </div>
                <div class="panel-body">
                    <form id="bomF" th:action="@{'/BOM/bomCreate/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}}"
                          th:object="${bomHeader}" th:method="post">
                        <!--<button type="submit" name="rpt" th:value="Journal_voucher" class="btn btn-primary">Voucher</button>-->
                        <!--color: #ed1c24;-->
                        <span style="font-weight: bold" th:each="m :${msg}">
                            <p th:style="${m.tag} ? 'color:#ed1c24;':'color:#4aa509;'">
                                <span th:if="${m.tag==null}" th:text="${m.msg}"> </span>
                                <span th:unless="${m.tag==null}" th:text="${m.tag+' '+m.msg}"></span>
                            </p></span>

                        <div class="form-group">
                            <!--<label for="inputSegment1">Name</label>-->
                            <input type="hidden" class="form-control" id="inputheaderId"
                                   th:field="*{headerId}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('headerId')}"
                                  th:errors="*{headerId}">Name Error</span>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputNumber">Number</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-2 ">
                                <input class="form-control" type="text" id="inputNumber" placeholder="Number"
                                       th:field="*{number}" name="number" readonly="readonly"/>

                                <span class="help-block" th:if="${#fields.hasErrors('number')}"
                                      th:errors="*{number}">Order Number Error</span>
                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="text" id="inputname"
                                       placeholder="Name" th:field="*{name}"  />
                                <span class="help-block" th:if="${#fields.hasErrors('name')}"
                                      th:errors="*{name}">Date Error</span>
                            </div>
                            <div class="col-sm-2 ">
                                <input class="form-control" type="text" id="inputisApprove"
                                       placeholder="isApprove" th:field="*{isApprove}" readonly="readonly"/>
                                <span class="help-block" th:if="${#fields.hasErrors('isApprove')}"
                                      th:errors="*{isApprove}">isApprove Error</span>
                            </div>
                            <input class="form-control" type="hidden" id="inputorgHierarchy"
                                   th:field="*{orgHierarchy}" name="orgHierarchy" required="required"/>

                            <input class="form-control" type="hidden" id="inputinventoryInformations"
                                   th:field="*{inventoryInformations}" name="inventoryInformations" required="required"/>

                        </div>


                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputstartDate">Date & Type</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-3 ">
                                <input class="form-control" type="date" id="inputstartDate"
                                       th:field="*{{startDate}}"/>

                            </div>
                            <div class="col-sm-3 ">
                                <input class="form-control" type="date" id="inputendDate"
                                       th:field="*{{endDate}}"/>

                            </div>
                            <div class="col-sm-2 ">
                                <select class="form-control" id="inputbomType"
                                       th:field="*{bomType}">
                                    <option value="">Select</option>
                                    <option th:each="x : ${T(com.aye.web.model.BomHeader.BomType).values()}" th:text="${x}" th:value="${x}"></option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group col-sm-12 " >
                            <label class="col-sm-3 control-label " for="inputstartDate">Note</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <textarea   class="form-control input-lg" type="text" id="inputnote"
                                       placeholder="Additional Text" th:field="*{note}" form="bomF"> </textarea>

                            </div>

                        </div>

                        <div class="form-group ">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumn" placeholder="column"
                                   th:field="*{column.createdBy}" name="column"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                                <span class="help-block" th:if="${#fields.hasErrors('column.createdBy')}"
                                      th:errors="*{column.createdBy}">User Name Error</span>
                        </div>

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumnDate" placeholder="columnDate"
                                   th:field="*{column.creationDate}" name="columnDate"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                                <span class="help-block" th:if="${#fields.hasErrors('column.creationDate')}"
                                      th:errors="*{column.creationDate}">User Name Error</span>
                        </div>
                        <div class="col-sm-2 text-left">
                            <button type="button" data-toggle="modal" data-target="#modal-warning" th:id="btnIdHM"
                                    th:attr="data-target='#modal-warning'"  title="Record History" >
                                <span class="glyphicon glyphicon-record"></span>
                            </button>
                            <script th:inline="javascript">
                                document.getElementById('btnIdHM').onclick =
                                        function () {
                                            var obj = [[${bomHeader.column}]];
                                            histabledataset(obj);
                                        };

                            </script>
                        </div>
                        <div data-th-replace="fragments/recordHistoryModal :: recordhis-modal"></div>

                        <div class="form-group  col-sm-12 text-right Padding10px">


                            <span th:if="${bomHeader.headerId!=null and !bomHeader.isApprove}">
                            <a th:href="@{'/BOM/bomLine/E/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${bomHeader.headerId}}"
                               class="btn btn-default">Lines</a>
                            </span>

                            <a th:href="@{'/BOM/bomCreate/E/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}}"
                               class="btn btn-default">New</a>

                            <!--<span th:if="${!bomHeader.isApprove}">-->
                            <button type="submit" class="btn btn-primary">Save</button>
                            <!--</span>-->

                            <a th:href="@{/BOM/search/E/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}"
                               class="btn btn-default">Search</a>
                            <span th:if="${!bomHeader.isApprove and bomHeader.headerId!=null and
                            #lists.size(bomHeader.bomLines) &gt; 0}">
                            <button type="submit" name="approve" class="btn btn-primary">Approve</button>
                            </span>
                        </div>

                        <div class=" col-sm-12 table-responsive dist_view" th:if="${(bomHeader.headerId)!=null}">
                            <div class="col-sm-12 brder accgl-col">
                                <!--<div class="col-sm-2 accgl-col brderright" style="width: 20px">Id</div>-->
                                <div class="col-sm-2 accgl-col brderright" align="center">Type</div>
                                <div class="col-sm-3 accgl-col brderright" align="center">Item</div>
                                <div class="col-sm-2 accgl-col brderright" align="center">UOM</div>
                                <div class="col-sm-2 accgl-col brderright" align="center">Primary</div>
                                <div class="col-sm-2 accgl-col  brderright" align="center">Qty</div>
                                <div class="col-sm-1 accgl-col " align="center">Edit</div>

                            </div>
                            <div class="col-sm-12 accgl-col brder "
                                 th:each="line,rowStat : *{bomLines}">

                                <!--<div class="col-sm-2  form-group accgl-col top_marg brderright"-->
                                <!--th:text="${rowStat.count}" style="width: 20px">1-->
                                <!--</div>-->

                                <div class="col-sm-2 form-group accgl-col top_marg brderright">
                                    <input class="td form-control " th:type="hidden"
                                           th:field="*{bomLines[__${rowStat.index}__].bomLineType}"
                                           height="2" readonly="readonly"/>
                                    <input class="td form-control " th:type="text"
                                           th:field="*{bomLines[__${rowStat.index}__].bomLineType.displayName}"
                                           height="2" readonly="readonly"/>
                                </div>
                                <div class="col-sm-3 form-group accgl-col top_marg brderright">
                                    <input class="td form-control " th:type="text"
                                           th:field="*{bomLines[__${rowStat.index}__].masterItem.itemCode}"
                                           height="2" readonly="readonly"/>
                                </div>

                                <div class="col-sm-2 form-group accgl-col top_marg brderright">
                                    <input class="td form-control " th:type="text"
                                           th:field="*{bomLines[__${rowStat.index}__].uomCode}"
                                           height="2" readonly="readonly"/>
                                </div>

                                <div class="col-sm-2 form-group accgl-col top_marg brderright">
                                    <input class="td form-control " th:type="text"
                                           th:field="*{bomLines[__${rowStat.index}__].defaultUomCode}"
                                           height="2" readonly="readonly"/>
                                </div>

                                <div class="col-sm-2 form-group accgl-col top_marg brderright">
                                    <input class="td form-control " th:type="text"
                                           th:field="*{bomLines[__${rowStat.index}__].bomQty}"
                                           height="2" readonly="readonly"/>
                                </div>

                                  <div class="col-sm-1 form-group accgl-col top_marg brderright">
                                  <span th:if="${!bomHeader.isApprove}">
                                    <a th:href="@{/BOM/bomLine/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${bomHeader.headerId}+
                                    '/'+*{bomLines[__${rowStat.index}__].lineId}"
                                       class="btn btn-primary form-control">Update</a>
                                </span>
                                </div>


                            </div>
                        </div>


                    </form>
                    <div data-th-replace="fragments/recordHistoryModal :: recordhis-modal"></div>
                </div>


                <div class="panel-footer">
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>

</body>
</html>
