<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:insert="Manufaturing/MnfScriptLink"/>
    <!--<link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>-->

    <!--<script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>-->
    <!--<script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>-->
    <script th:inline="javascript">
        function selectedobj(value, ind) {
            if(ind == 'ProdbatchNumber')
            {
                SearchBatchNumberObj(value);
            } else
            if(ind == 'bomSearchItem')
            {
                bomSearchItem(value);
            }
        };


    </script>
</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="form-group col-sm-12  jepg_cust_head">
                    <div class="form-group col-sm-5 " style="padding-left: 0; color: #000000;font-weight: bold ">Bills of Materials Search</div>
                </div>
                <div class="panel-body">
                    <form id="bomF" th:action="@{'/BOM/search/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+1}"
                          th:object="${bomSearch}" th:method="post">

                        <div class="form-group">
                            <!--<label for="inputSegment1">Name</label>-->
                            <input type="hidden" class="form-control" id="inputheaderId"
                                   th:field="*{headerId}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('headerId')}"
                                  th:errors="*{headerId}">Name Error</span>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputpbomNumber">Number</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="text" id="inputpbomNumber" placeholder="Number"
                                       th:field="*{number}" name="bomNumber" />

                                <!--<input class="form-control" type="text" id="inputpname" placeholder="name"-->
                                       <!--th:field="*{name}" name="name" readonly="readonly"/>-->

                                <span class="help-block" th:if="${#fields.hasErrors('number')}"
                                      th:errors="*{number}"> Number Error</span>
                            </div>
                            <script th:inline="javascript">
                                function SearchBatchNumberObj(objparms) {
//                                            alert('x');
                                    var objparmL = objparms;
                                    $('#inputheaderId').val(objparmL.headerId).trigger("change");

                                };
                                document.getElementById('inputprodBatchNumber').oninput =function()
                                {
                                    var lnumber=document.getElementById('inputprodBatchNumber').value;
                                    if (lnumber.length>0)
                                    {
                                        var invOrgId = document.getElementById('inputinventoryInformations').value;
                                        var urlvals = '/AYE/ACRC/getInvOrgBatchNumber/' + invOrgId  + '/' + lnumber;
//                                        alert(urlvals);
                                        autocomwithobject(urlvals, 'prodBatchNumber', '#inputprodBatchNumber', null, 'startDate', 'ProdbatchNumber');
                                        document.getElementById('inputprodBatchNumber').focus();
                                    }else
                                    {
                                        document.getElementById('inputheaderId').value="";
                                    }

                                }

                            </script>
                            <div class="col-sm-4 ">
                                <select class="form-control" type="hidden" id="inputisApprove"
                                        placeholder="isApprove" th:field="*{isApprove}" >
                                    <option value="">Select</option>
                                    <option th:text="Active" th:value="1"></option>
                                    <option th:text="Inactive" th:value="0"></option>
                                </select>
                            </div>
                            <input class="form-control" type="hidden" id="inputorgHierarchy"
                                   th:field="*{orgHierarchy}" name="orgHierarchy" required="required"/>

                            <input class="form-control" type="hidden" id="inputinventoryInformations"
                                   th:field="*{inventoryInformations}" name="inventoryInformations" required="required"/>

                        </div>

                        <!--<div class="form-group col-sm-12">-->
                            <!--<label class="col-sm-3 control-label " for="inputbomHeader">Bills of Material</label>-->
                            <!--<div class="col-sm-1 ">-->
                            <!--<div>:</div>-->
                            <!--</div>-->
                            <!--<div class="col-sm-8 ">-->
                                <!--<select class="form-control" id="inputbomHeader"  th:field="*{bomHeader}">-->
                                    <!--<option value="">Select</option>-->
                                    <!--<option th:each="bom :${boms}" th:text="${bom.name}" th:value="${bom.headerId}"></option>-->
                                <!--</select>-->


                            <!--</div>-->
                        <!--</div>-->

                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputstartDateFrom">Start Date</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="date" id="inputstartDateFrom"
                                       th:field="*{{startDateFrom}}"/>

                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="date" id="inputstartDateTo"
                                       th:field="*{{startDateTo}}"/>

                            </div>
                        </div>



                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputendDateFrom">End Date</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="date" id="inputendDateFrom"
                                       th:field="*{{endDateFrom}}"/>

                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="date" id="inputendDateTo"
                                       th:field="*{{endDateTo}}"/>

                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputbomLineType">Line Type & Item</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-3 ">
                                <select class="form-control" id="inputbomLineType" th:field="*{bomLineType}" >
                                    <option value="">Select</option>
                                    <option th:each="o : ${T(com.aye.web.model.common.BomLineType).values()}"
                                            th:value="${o}"
                                            th:text="${o.displayName}"></option>

                                </select>
                            </div>

                            <div class="col-sm-5 ">
                                <input class="form-control" type="hidden" id="inputmasterItemInvId"
                                       th:field="*{masterItem.id.inventoryInformations}" name="masterItem"/>

                                <input class="form-control" type="hidden" id="inputmasterItemInvCode"
                                       th:field="*{masterItem.id.inventoryInformations.code}" name="masterItem"/>

                                <input class="form-control" type="hidden" id="inputmasterItemId"
                                       th:field="*{masterItem.id.id}" name="masterItemId"/>

                                <input class="form-control" type="text" id="inputitemCode" placeholder="Item"
                                       th:field="*{masterItem.itemCode}" name="itemCode"/>

                            </div>
                            <script th:inline="javascript">

                                function bomSearchItem(objparms) {

                                    var objparmV = objparms;

                                    var itemId = '#inputmasterItemId' ;
                                    var masterItemInvId = '#inputmasterItemInvId' ;
                                    var masterItemInvCode = '#inputmasterItemInvCode' ;
                                    $(itemId).val(objparmV.id.id).trigger("change");
                                    $(masterItemInvId).val(objparmV.id.inventoryInformations.id).trigger("change");
                                    $(masterItemInvCode).val(objparmV.itemCode).trigger("change");

                                };



                                document.getElementById('inputitemCode').oninput = function () {
                                    var dvalue = 'inputitemCode';
                                    var pDisplayfieldvar = '#inputitemCode';
                                    var pDbfieldvar = '#inputmasterItemId';


                                    myFunctionItem(dvalue, pDisplayfieldvar, pDbfieldvar);
                                };

                                function myFunctionItem(pRow, pDisFld, pDbFld) {
                                    var lpDisFld = pDisFld;
                                    var lpDbFld = pDbFld;

                                    var lItemCode = document.getElementById(pRow).value;
//                                                        alert(lItemCode);
                                    if (lItemCode.length > 2) {

                                        LineItem(lItemCode, lpDisFld, lpDbFld);
                                        document.getElementById('inputitemCode').focus();
                                    }
                                    if (lItemCode.length==0)
                                    {
                                        document.getElementById('inputmasterItemId').value="";

                                    }

                                }


                                function LineItem(itm, pdis, pdb) {
                                    var displayfieldvar = pdis;
                                    var dbfieldvar = pdb;
                                    var morgid = [[${invOrgId}]];
                                    var urlval = '/AYE/ACRC/SearchOrgItemCode/' + morgid + '/' + itm;
//                                                                                     alert(urlval);
                                    var displayfield = displayfieldvar;
                                    var getvalue = 'itemCode';
                                    var indc = 'bomSearchItem';
                                    var desc = 'defaultUomCode';
//                                    alert(urlval)
                                    autocomwithobject(urlval, getvalue, displayfield, null, desc, indc);
                                }


                            </script>
                            </div>



                            <div class="form-group  col-sm-12 text-right Padding10px">

                            <a th:href="@{'/BOM/bomCreate/E/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}}"
                               class="btn btn-default">New</a>

                            <!--<span th:if="${!bomHeader.isApprove}">-->
                            <span>
                                <button type="submit" name="go" class="btn btn-primary">Search</button>
                            </span>

                        </div>

                        <div class="form-group col-sm-12">

                            <table class="table table-bordered table-hover table-striped">
                                <thead>

                                <th>Number</th>
                                <th>BOM</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>View</th>
                                </thead>
                                <tbody>

                                <div>
                                    <tr th:each="header : ${bomHeaders}">
                                        <td th:text="${header.number}"></td>
                                        <td th:text="${header.name}"></td>
                                        <td th:text="${header.startDate}"></td>
                                        <td th:text="${header.endDate}"></td>
                                        <td th:text="${header.isApprove}"></td>
                                        <td>

                                            <div class="btn-group" role="group" aria-label="..." name="edit">
                                                <a th:href="@{/BOM/bomCreate/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${header.headerId}"
                                                   class="btn btn-success"><span
                                                        class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                            </div>

                                        </td>


                                    </tr>
                                </div>

                                <div th:if="${#lists.isEmpty(bomHeaders)}">
                                    <tr>
                                        <td>No Data exists!</td>
                                    </tr>
                                </div>

                                </tbody>

                            </table>

                            <div data-th-replace="fragments/pagination :: page-pagination">

                        </div>

                    </form>

                </div>


                <div class="panel-footer">
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>

</body>
</html>
