<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:insert="Procurment/PO/PoScriptLink"/>
    <!--<link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>-->

    <!--<script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>-->
    <!--<script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>-->
    <script>

        function selectedobj(value, ind) {
            if(ind == 'poNumberSerFrec')
            {
                SearchPorecpoObj(value);
            }else
            if (ind == 'poSupSerc') {
                SearchSupObjSrc(value);
            }
            else
            if (ind == 'poItemSerc') {
                SearchPoItemObj(value);
            }
            else
            if (ind == 'poRcvSerc') {
                SearchRcvNumObj(value);
            }
        };

           </script>

</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Search PO Receive Entry</div>
                <div class="panel-body">
                    <form th:action="@{'/poReceive/search/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${invOrgId} }"
                          th:object="${poRcvSearch}" th:method="post">
                        <!--+${role.role}  +${role.role}-->
                        <span style="font-weight: bold" th:each="m :${msg}">
                            <p th:style="${m.tag} ? 'color:#ed1c24;':'color:#4aa509;'">
                                <span th:if="${m.tag==null}" th:text="${m.msg}"> </span>
                                <span th:unless="${m.tag==null}" th:text="${m.tag+' '+m.msg}"></span>
                            </p></span>

                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputrcvNumber">Receive Number</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" type="text" id="rcvTrnsTypeId"
                                th:field="*{rcvTrnsType}" name="rcvTrnsType">
                                    <option value="">Select One</option>
                                    <option th:each="typ : ${T(com.aye.web.model.RcvTrnsType).values()} "
                                            th:text="${typ.displayName}" th:value="${typ}"></option>
                                </select>
                                <script th:inline="javascript">
                                    $("#rcvTrnsTypeId").change(function () {
                                        document.getElementById('inputrcvId').value='';
                                        document.getElementById('inputrcvNumber').value='';
                                    });

                                </script>
                                <!--<input class="form-control" type="text" id="rcvTrnsType"-->
                                       <!--th:field="*{rcvTrnsType}" name="rcvTrnsType"/>-->
                                <input type="hidden" id="inputOrgHierarchy" name="orgHierarchy"
                                       th:field="*{orgHierarchy}" th:value="*{orgHierarchy}" class="form-control"/>
                                <input type="hidden" id="inputinvOrgs" name="invOrgs"
                                       th:field="*{inventoryInformations}" th:value="*{inventoryInformations}" class="form-control"/>

                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="hidden" id="inputrcvId"
                                       th:field="*{rcvId}" name="rcvId"/>

                                <input class="form-control" type="text" id="inputrcvNumber"
                                       th:field="*{rcvNumber}" name="rcvNumber" />

                                <span class="help-block" th:if="${#fields.hasErrors('rcvNumber')}"
                                      th:errors="*{rcvNumber}">Order Number Error</span>

                            </div>

                            <script th:inline="javascript">
                                function SearchRcvNumObj(objparms) {
//                                    alert('x');
                                    var objparmV = objparms;
                                    $('#inputrcvId').val(objparmV.id).trigger("change");
                                };

                                document.getElementById('inputrcvNumber').oninput = function () {
                                    if (document.getElementById('inputrcvNumber').value.length==0)
                                    {
                                        document.getElementById('inputrcvId').value='';
                                    }


                                    myFunctionRcv();
                                };
                                function myFunctionRcv() {
                                    var innerVar = document.getElementById('inputrcvNumber').value;
                                    if (innerVar.length > 2) {

                                        var locRcvTrnsType =document.getElementById('rcvTrnsTypeId').value;
//                                        alert(locRcvTrnsType );
                                        var displayfieldfrom = [['#inputrcvNumber']];
                                        var varLocOrg = document.getElementById('inputOrgHierarchy').value;
                                        var  locInvOrg=document.getElementById('inputinvOrgs').value;

                                        var indcRcv = 'poRcvSerc';
                                        var rcvNumUrl ;
                                        var temp;
                                        if (locRcvTrnsType.length>0)
                                        {
                                            rcvNumUrl ="/AYE/ACRC/SearchRcvNumberByType/"+varLocOrg+'/'+locInvOrg+'/'+locRcvTrnsType;
                                            temp = 'rcvDate';
                                        }else{
                                            rcvNumUrl ="/AYE/ACRC/SearchRcvNumber/"+varLocOrg+'/'+locInvOrg;
                                            temp = 'rcvTrnsType';
                                        }
//alert(rcvNumUrl);
                                        autocomwithobject(rcvNumUrl, 'rcvNumber', displayfieldfrom, null, temp ,indcRcv);
                                        document.getElementById('inputrcvNumber').focus();
                                    }
                                }
                            </script>


                        </div>


                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputsupplierLine">Supplier & PO Number</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="hidden" id="inputsupplierLine"
                                       th:field="*{supplierLine}"/>
                                <input class="form-control" type="text" id="inputsupplierLineName"
                                       th:field="*{supName}" placeholder="Supplier"/>

                                <script th:inline="javascript">
                                    function SearchSupObjSrc(objparms) {
                                        //alert('x');
                                        var objparmV = objparms;
                                        $('#inputsupplierLine').val(objparmV.id).trigger("change");
                                    };

                                    if (document.getElementById('inputsupplierLineName').value.length==0)
                                    {
                                        document.getElementById('inputsupplierLine').value='';
                                    }
                                    document.getElementById('inputsupplierLineName').oninput = function () {
                                        myFunction();
                                    };
                                    function myFunction() {
                                        var innerVar = document.getElementById('inputsupplierLineName').value;
                                        if (innerVar.length > 2) {
                                            var displayfieldfrom = [['#inputsupplierLineName']];
                                            var varLocOrg = document.getElementById('inputOrgHierarchy').value;

                                            var indcSup = 'poSupSerc';

                                            var poUrl = '/AYE/ACRC/SearchOrgSupplier/' + varLocOrg + '/' + innerVar;
                                            autocomwithobject(poUrl, 'name', displayfieldfrom, null, null,indcSup);
                                            document.getElementById('inputsupplierLineName').focus();
                                        }
                                    }
                                </script>
                            </div>

                            <div class="col-sm-4">
                                <input class="form-control" type="hidden" id="inputpoHeader"
                                       th:field="*{poHeader}"/>
                                <input class="form-control" type="text" id="inputpoHeaderNumber" placeholder="PO Number"
                                       th:field="*{poNumber}"/>
                            </div>

                            <script th:inline="javascript">

                                function SearchPorecpoObj(objparms) {
                                    var objparmV = objparms;
                                    $('#inputpoHeader').val(objparmV.id).trigger("change");
                                };


                                document.getElementById('inputpoHeaderNumber').oninput = function () {
//                                    alert("xx");

                                    var rpoNum = document.getElementById('inputpoHeaderNumber').value;
                                    if (rpoNum.length==0)
                                    {
                                        document.getElementById('inputpoHeader').value='';
                                    }
                                    if (rpoNum.length > 1) {
                                        var porUrl;
//                                         alert('X');
                                        var  rInvOrg=document.getElementById('inputinvOrgs').value;
                                        var  rOrg=document.getElementById('inputOrgHierarchy').value;
                                       // alert(rOrg);

                                        var supId = document.getElementById('inputsupplierLine').value;
                                        if (supId.length>0)
                                        {
                                            porUrl ='/AYE/ACRC/SearchOrgSupPoNum/' +rOrg+ '/' +  rInvOrg +'/'+supId;
                                        }else
                                        {

                                            porUrl = '/AYE/ACRC/SearchOrgPoNum/' +rOrg+ '/' +  rInvOrg +'/'+rpoNum;
                                        }
//                                        alert(porUrl);
                                        autocomwithobject(porUrl, 'poNumber', '#inputpoHeaderNumber', null, 'podate', 'poNumberSerFrec');
                                        document.getElementById('inputpoHeaderNumber').focus();
                                    }
                                }

                            </script>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputFromDate">Item Code</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control" type="hidden" id="inputMasterItemidId"
                                       th:field="*{masterItem.id.id}"/>
                                <input class="form-control" type="hidden" id="inputMasterItemidinventoryInformationsId"
                                       th:field="*{masterItem.id.inventoryInformations.id}"/>
                                <input class="form-control" type="text" id="inputMasterItem"
                                       th:field="*{itemCode}"/>
                            </div>
                            <script th:inline="javascript">

                                function SearchPoItemObj(objparms) {
//                                            alert('x');
                                    var objparmV = objparms;
                                    $('#inputMasterItemidId').val(objparmV.id.id).trigger("change");
                                    $('#inputMasterItemidinventoryInformationsId').val(objparmV.id.inventoryInformations.id).trigger("change");

                                };

                                document.getElementById('inputMasterItem').oninput = function() {
                                    var lItmCode = document.getElementById('inputMasterItem').value;
                                    if (lItmCode.length==0)
                                    {
                                        document.getElementById('inputMasterItemidId').value='';
                                        document.getElementById('inputMasterItemidinventoryInformationsId').value='';

                                    }
                                    if (lItmCode.length > 2) {
                                        var  lInvOrg=document.getElementById('inputinvOrgs').value;

                                        var itemUrl = '/AYE/ACRC/SearchOrgItemCode/' + lInvOrg + '/' + lItmCode;
//                                            alert(itemUrl);
                                        autocomwithobject(itemUrl, 'itemCode', '#inputMasterItem', null, 'description', 'poItemSerc');
                                        document.getElementById('inputMasterItem').focus();
                                    }
                                }
                            </script>

                            </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputFromDate">Date</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputFromDate"
                                       th:field="*{{fromDate}}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('fromDate')}"
                                      th:errors="*{fromDate}">Date Error</span>
                            </div>

                            <div class="col-sm-4 ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputToDate"
                                       placeholder="yyyy-MM-dd" th:field="*{{toDate}}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('toDate')}" th:errors="*{toDate}">Date Error</span>
                            </div>
                        </div>





                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputrcvStatus">Status</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <select class="form-control" type="text" id="inputrcvStatus"
                                        th:field="*{rcvStatus}" >
                                    <option value="">Select One</option>
                                    <option th:each="modt : ${T(com.aye.web.model.RcvStatus).values()}"
                                            th:text="${modt.displayName}" th:value="${modt}" ></option>
                                </select >

                                <span class="help-block" th:if="${#fields.hasErrors('rcvStatus')}"
                                      th:errors="*{rcvStatus}">Receive Status Number Error</span>
                            </div>
                        </div>

                        <div class="form-group  col-sm-12 text-right Padding10px">
                            <a th:href="@{/poReceive/rcvEntry/E/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}"
                               class="btn btn-default">New</a>
                            <button type="submit" name="SearchGrn" class="btn btn-primary">Find</button>

                        </div>
                        </form>



                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <th>Type </th>
                                <th>Number</th>
                                <th>Date</th>
                                <th>Reff</th>
                                <th>Status</th>
                                <th>Show</th>
                                <th>Edit</th>
                                </thead>
                                <tbody>
                                <div th:if="!${#lists.isEmpty(poRcvHeaders)}">
                                    <div th:each="order : ${poRcvHeaders}">
                                    <tr >
                                        <td style="font-size: 12px; color: #323232;" th:text="${order.rcvTrnsType}"></td>
                                        <td style="font-size: 12px ; color: #323232;" th:text="${order.rcvNumber}"></td>
                                        <td style="font-size: 12px; color: #323232;" th:text="${order.rcvDate}"></td>
                                        <td style="font-size: 12px; color: #323232;" th:text="${order.refNumber}"></td>
                                        <td style="font-size: 12px; color: #323232;" th:text="${order.rcvStatus.displayName}"></td>
                                        <td style="font-size: 12px; color: #323232;" width="10px"><a href="#" th:id="${order.id}" th:title="${order.id}" style="font-size: 12px; color: black;">Detail</a>
                                        </td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="..." name="edit">
                                            <!--<span th:if="${order.rcvTrnsType == T(com.aye.web.model.RcvTrnsType).PORMA}">-->
                                            <span th:unless="${order.rcvTrnsType == T(com.aye.web.model.RcvTrnsType).PORMA}">
                                            <a th:href="@{/poReceive/rcvCreate/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${order.id}"
                                               class="btn success"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                            </span>
                                            <!--<span th:unless="${order.rcvTrnsType == T(com.aye.web.model.RcvTrnsType).PORCV}">-->
                                            <span th:if="${order.rcvTrnsType == T(com.aye.web.model.RcvTrnsType).PORMA}">
                                            <a th:href="@{/poReceive/rtvCreate/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${order.id}"
                                               class="btn success"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                            </span>
                                            </div>
                                        </td>

</tr>
                                    <!--<tr>-->
                                        <!--<td colspan="6" >-->
                                            <!--<div th:id="extra+${order.id}" style="display: none; " th:if="!${#lists.isEmpty(order.poRcvLines)}">-->
                                                <!--<div class="col-sm-12 " style="padding-bottom: 20px; padding-left: 0px;">-->
                                                    <!--<div  colspan="6" style="text-align: left ; background-color:#D5DBDB; color:#ADB2B5;" class="colps_div_hdr col-sm-4">-->
                                                        <!--Line Informations</div>-->
                                                    <!--<div class="col-sm-12 colps_div_hdr" style="margin-top: 5px;">-->
                                                        <!--<div class="col-sm-3 " style="border-right: 1px solid transparent; color:#93A2B2"><b>PO Number</b></div>-->
                                                        <!--<div class="col-sm-3 " style="border-right: 1px solid transparent; color:#93A2B2"><b>Item Code</b></div>-->
                                                        <!--<div class="col-sm-2 " style="border-right: 1px solid transparent; color: #93A2B2;"><b>Quantity</b></div>-->
                                                        <!--<div class="col-sm-1 " style="border-right: 1px solid transparent; color: #93A2B2;"><b>UOM</b></div>-->
                                                        <!--<div class="col-sm-2 " style="border-right: 1px solid transparent; color: #93A2B2;"><b>Sub Inv</b></div>-->
                                                    <!--</div>-->
                                                    <!--<div class="col-sm-12 colps_div_hdr" th:each="l : ${order.poRcvLines}" >-->

                                                        <!--<div class="col-sm-3 " style="border-right: 1px solid transparent; margin-top: 1px;" th:text="*{l.poHeader.poNumber}"></div>-->
                                                        <!--<div class="col-sm-3 " style="border-right: 1px solid transparent; margin-top: 1px;" th:text="*{l.itemCode}"></div>-->
                                                        <!--<div class="col-sm-2 " style="border-right: 1px solid transparent; margin-top: 1px;" th:text="*{l.rcvTrnsQty}"></div>-->
                                                        <!--<div class="col-sm-1 " style="border-right: 1px solid transparent; margin-top: 1px;"  th:text="*{l.rcvTrnsUomCode}"></div>-->
                                                        <!--<div class="col-sm-2 " style="border-right: 1px solid transparent; margin-top: 1px;" th:text="*{l.subInvCode}"></div>-->
                                                        <!--&lt;!&ndash;<div class="col-sm-3 " style="border-right: 1px solid transparent" th:text="*{l.rcvTrnsQty}"></div>&ndash;&gt;-->
                                                    <!--</div>-->
                                                <!--</div>-->

                                            <!--</div>-->
                                        <!--</td>-->
                                    <!--</tr>-->

                                    <!--<script th:inline="javascript">-->
                                        <!--var a='#'+[[${order.id}]];-->
                                        <!--//alert(a);-->
                                        <!--$(a).click(function() {-->
                                            <!--var dbfield = [[${order.id}]];-->
                                            <!--var df='#extra'+[[${order.id}]];-->
                                            <!--$(df + $(this).attr('id').substr(5)).slideToggle("slow");-->
                                            <!--event.preventDefault();-->

                                        <!--});-->
                                    <!--</script>-->

                                    </div>
                                    </div>
                                </tbody>
                            </table>
                    <div data-th-replace="fragments/pagination :: page-pagination">
                    </div>
                    <!--<div th:if="${poRcvHeaders!=null}">-->
                        <!--<nav if="${poRcvHeaders.totalPages  > 0}" class="pagination">-->
                            <!--<ul class="pagination justify-content-center font-weight-medium">-->

                                <!--<li class="page-item" th:classappend="${poRcvHeaders.number eq 0} ? 'disabled'">-->

                                    <!--<a class="page-link svg-icon"-->
                                       <!--aria-label="Previous"-->
                                       <!--title="Previous Page" rel="tooltip">-->
                            <!--<span aria-hidden="true" class="glyphicon glyphicon-chevron-left" width="20"-->
                                  <!--height="20"></span>-->
                                    <!--</a>-->
                                <!--</li>-->

                                <!--<li class="page-item" th:each="pageNumber : ${pageNumbers}"-->
                                    <!--th:classappend="${pageNumber eq poRcvHeaders.number } ? 'active'" >-->
                                    <!--<a th:href="@{'/poReceive/searchPoRcv/'+${mode}+'/'+ ${pageId}+'/'+${temltId}+'/'+ ${invOrgId}+'/'+${pageNumber}}"-->
                                       <!--th:text="${pageNumber}" th:class="${pageNumber==poRcvHeaders.number} ? active"></a>-->

                                <!--</li>-->

                                <!--<li class="page-item"-->
                                    <!--th:classappend="${poRcvHeaders.number + 1 eq poRcvHeaders.totalPages} ? 'disabled'">-->
                                    <!--<a class="page-link svg-icon"-->
                                       <!--aria-label="Next"-->
                                       <!--title="Next Page" rel="tooltip">-->
                            <!--<span aria-hidden="true" class="glyphicon glyphicon-chevron-right" width="20"-->
                                  <!--height="20"></span>-->
                                    <!--</a>-->
                                <!--</li>-->


                            <!--</ul>-->
                        <!--</nav>-->
                    <!--</div>-->




                </div>
                <div class="panel-footer">
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
