<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:insert="Procurment/PO/PoScriptLink"/>
    <!--<link-->
            <!--href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css"-->
            <!--rel="stylesheet" type="text/css"/>-->
    <!--<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>-->
    <!--<script-->
            <!--src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"-->
            <!--type="text/javascript"></script>-->
    <!--<link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>-->

    <!--<script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>-->
    <!--<script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>-->
    <script th:inline="javascript">

        function selectedobj(value, ind) {
            if(ind == 'poLineItem')
            {
                SearchItemObj(value);
            }else if (ind == 'poLineUOM')
            {
                SearchUomObj(value);
            }
        };


        function getPoSupInf(pSup, pdisplay, pindc) {
//            alert('11');

//                                                alert('getLocator');
            var varOrg = document.getElementById('inputorgHierarchy').value;

            var displayfieldfrom = pdisplay;
            var indc = pindc;
            AutocomFunc('/AYE/ACRC/SearchOrgSupplier/'+varOrg+'/'+ pSup,
                    displayfieldfrom,
                    'name',
                    null,
                    indc);
        };

        function AutocomFunc(purlval, pdisplayfield, pgetvalue, pgetDesc, pindc) {
//            alert(purlval);
//            alert(pdisplayfield);
//            alert(pgetvalue);
//            alert(pgetDesc);
//            alert(pindc);

            var urlval = purlval;//'/AYE/ACRC/SearchCodeComb/' + bSeg;
            var displayfield = pdisplayfield;//'#toAccountV';
            var getvalue = pgetvalue;//'concatedSegment';
            var getDesc = pgetDesc;//'siteAddress';
            var indc = pindc;//'segment2desc';

            autocomwithobject(urlval, getvalue, displayfield, null, getDesc, indc);

        };




        function getLocator(pfSub, pdisplay, pindc) {
//                                                alert('getLocator');
            var displayfieldfrom = pdisplay;
            var indc = pindc;

            AutocomFunc('/AYE/ACRC/SearchLocator/' + pfSub,
                    displayfieldfrom,
                    'locatorValue',
                    null,
                    indc);
        }
        ;


    </script>
</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-1">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">PO Receive Line Entry</div>
                <div class="panel-body">
                    <form th:action="@{'/poReceive/rcvLine/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${rcvHdr.id}}"
                          th:object="${poRcvLines}"
                          th:method="post">
                        <!--+${role.role}  +${role.role}-->

                 <span style="font-weight: bold" th:each="m :${msg}">
                    <p th:style="${m.tag} ? 'color:#ed1c24;':'color:#4aa509;'">
                    <span th:if="${m.tag==null}" th:text="${m.msg}"> </span>
                    <span th:unless="${m.tag==null}" th:text="${m.tag+' '+m.msg}"></span>
                    </p>
                 </span>

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputid" placeholder="Id" th:field="*{id}"
                                   name="id"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('id')}"
                                  th:errors="*{id}">Id Error</span>
                        </div>
                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputpoRcvHeader" th:field="*{poRcvHeader}"
                                   name="poHeader"/>

                        </div>
                        <div th:if="${rcvHdr.rcvTrnsType != T(com.aye.web.model.RcvTrnsType).INTTRNSRCV}">

                        <div class="form-group">

                            <span class="help-block" th:if="${#fields.hasErrors('poHeader')}" th:errors="*{poHeader}">Id Error</span>
                        </div>


                        <div class="col-sm-12">

                            <div class="col-sm-4 " align="center"></div>
                            <div class="col-sm-2 " align="center">Po Number</div>
                            <div class="col-sm-2 " align="center">Date</div>
                            <div class="col-sm-2 " align="center">Line No.</div>
                            <div class="col-sm-2 " align="center">Po Qty.</div>
                            </div>



                        <div th:class="${#fields.hasErrors('poHeader')} ? 'form-group has-error' :'form-group col-sm-12'">
                            <label class="col-sm-3 control-label " for="inputpoHeader">PO Information</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-2 ">
                                <input type="hidden" id="inputpoHeader" th:field="*{poHeader}" class="form-control" readonly="readonly"/>
                                <input type="text" id="inputpoHeaderpoNumber" th:field="*{poHeader.poNumber}" class="form-control" readonly="readonly"/>
                                <p th:errors="*{poHeader}" class="help-block"></p>
                            </div>

                            <div class="col-sm-2 ">
                                <input type="text" id="inputpoHeaderDate" th:field="*{poHeader.poDate}" class="form-control" readonly="readonly"/>
                                <p th:errors="*{poHeader.poDate}" class="help-block"></p>
                            </div>

                            <div class="col-sm-2 ">
                                <input type="text" id="inputpoLinesiDentyId" th:field="*{poLines.id}" class="form-control" readonly="readonly"/>
                                <p th:errors="*{poLines.id}" class="help-block"></p>
                            </div>
                            <div class="col-sm-2 ">
                                <input style="text-align: end" type="text" id="inputpoLinesiDentyQty" th:field="*{poLines.trnsQty}" class="form-control" readonly="readonly"/>
                                <p th:errors="*{poLines.trnsQty}" class="help-block"></p>
                            </div>
                            <input type="hidden" class="form-control" id="inputpoLines" th:field="*{poLines}"
                                   name="poHeader"/>
                            <input type="hidden" class="form-control" id="inputpoLines" th:field="*{poLines}"
                                   name="poHeader"/>
                            <input type="hidden" class="form-control" id="inputsupplierLine" th:field="*{supplierLine}"
                                   name="poHeader"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('poHeader')}"
                                  th:errors="*{poHeader}">Id Error</span>

                        </div>

                        <div th:class="${#fields.hasErrors('supplierLine.name')} ? 'form-group has-error' :'form-group col-sm-12'">
                            <label class="col-sm-3 control-label " for="inputsupplierLineName"> Supplier Name </label>
                            <div class="col-sm-1 "><b>:</b></div>

                            <div class="col-sm-4 ">
                                    <input type="text" id="inputsupplierLineName" th:field="*{supplierLine.name}" class="form-control" readonly="readonly"/>
                                    <p th:errors="*{supplierLine.name}" class="help-block"></p>

                            </div>
                            <div class="col-sm-4 ">
                                <input type="text" id="inputsupplierLineAddress" th:field="*{supplierLine.siteAddress}" class="form-control" readonly="readonly"/>
                                <p th:errors="*{supplierLine.siteAddress}" class="help-block"></p>
                            </div>

                        </div>
                        </div>

                          <div th:class="${#fields.hasErrors('itemCode')} ? 'form-group has-error' :'form-group required col-sm-12'">
                            <label class="col-sm-3 control-label " for="inputitemCode">Item</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-4 ">
                                <input type="text" id="inputitemCode" placeholder="itemCode" name="itemCode" th:field="*{itemCode}" class="form-control" readonly="readonly"/>
                            </div>
                            <div class="col-sm-4 ">
                                <input type="text" id="inputrcvPrimUomCode" placeholder="UOM"
                                       name="itemCode" th:field="*{rcvPrimUomCode}" class="form-control" readonly="readonly"/>
                                <p th:errors="*{itemCode}" class="help-block"></p>
                                <input type="hidden" id="inputmasterItemInvOrgId" placeholder="masterItemInvOrgId" name="masterItem" th:field="*{masterItem.id.inventoryInformations.id}" class="form-control" th:value="*{masterItem}"/>
                                <input type="hidden" id="inputmasterItem" placeholder="masterItem" name="masterItem" class="form-control" th:field="*{masterItem.id.id}" th:value="*{masterItem}"/>
                            </div>

                        </div>


                        <div class="form-group">
                            <input type="hidden" class="form-control" id="inputrcvPrimUom" placeholder="primUom" th:field="*{rcvPrimUom}" name="primUom"/>
                            <span class="help-block" th:if="${#fields.hasErrors('rcvPrimUom')}" th:errors="*{rcvPrimUom}">Id Error</span>
                        </div>


                        <div class="form-group">
                            <input type="hidden" class="form-control" id="inputrcvPrimaryQty"  th:field="*{rcvPrimaryQty}" name="primaryQty"/>
                            <span class="help-block" th:if="${#fields.hasErrors('rcvPrimaryQty')}" th:errors="*{rcvPrimaryQty}">Id Error</span>
                        </div>

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="inputrcvTrnsUom" placeholder="UOM" th:field="*{rcvTrnsUom}" name="rcvTrnsUom"/>
                            <span class="help-block" th:if="${#fields.hasErrors('rcvTrnsUom')}" th:errors="*{rcvTrnsUom}">rcvTrnsUom Error</span>
                        </div>

                        <div  th:class="${#fields.hasErrors('rcvTrnsUomCode')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class="col-sm-3 control-label " for="inputrcvTrnsUomCode">UOM & Qty</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-4 ">
                                <input type="text" id="inputrcvTrnsUomCode" placeholder="UOM"
                                       name="rcvTrnsUomCode" th:field="*{rcvTrnsUomCode}" class="form-control"/>
                                <p th:errors="*{rcvTrnsUomCode}" class="help-block"></p>
                            </div>
                            <script th:inline="javascript">

                                function SearchUomObj(objparms) {
//                                            alert('x');
                                    var objparmL = objparms;
                                    $('#inputrcvTrnsUom').val(objparmL.toUom.id).trigger("change");
                                    $('#inputconversionRate').val(objparmL.convRate).trigger("change");
                                };


                                var x = '#inputitemCode';

                                document.getElementById('inputrcvTrnsUomCode').oninput = function () {
                                    if (document.getElementById('inputitemCode').value.length>1)
                                    {
                                        var itmId = document.getElementById('inputmasterItem').value;
                                        var orgId = document.getElementById('inputmasterItemInvOrgId').value;
//                                            alert(itmId);
                                        var urlvals = '/AYE/ACRC/SearchUomByItem/' + orgId + '/' + itmId;
//                                    alert(urlvals);
                                        var displayfield = '#inputrcvTrnsUomCode';
                                        var dbfield = '#inputrcvTrnsUomCode';
                                        var getvalue = 'toCode';

                                        autocomwithobject(urlvals, 'toCode', '#inputrcvTrnsUomCode', null, 'convRate', 'poLineUOM');
                                        document.getElementById('inputrcvTrnsUomCode').focus();

                                    }


                                }

                            </script>
                            <div class="col-sm-4 ">
                                <input style="text-align: end" type="text" id="inputrcvTrnsQty" placeholder="Qty"
                                       name="rcvTrnsQty" th:field="*{rcvTrnsQty}" class="form-control"/>

                                <p th:errors="*{rcvTrnsQty}" class="help-block"></p>
                            </div>

                            <script th:inline="javascript">
                                document.getElementById('inputrcvTrnsQty').oninput = function(){
                                    var lQty;
                                    var convrate;
                                    var lAmount;

                                    convrate=document.getElementById('inputconversionRate').value;
                                    lQty=document.getElementById('inputrcvTrnsQty').value;

                                    if (lQty!=null)
                                    {
                                        lAmount =convrate*lQty;
                                        // alert(lAmount);
                                        document.getElementById('inputrcvPrimaryQty').value=+lAmount;
                                    }
                                };
                            </script>

                        </div>

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="inputconversionRate" placeholder="conversionRate" th:field="*{conversionRate}" name="conversionRate"/>
                            <span class="help-block" th:if="${#fields.hasErrors('conversionRate')}" th:errors="*{conversionRate}">Id Error</span>
                        </div>


                            <div>
                                <input type="hidden" id="inputunitPrice" placeholder="unitPrice"
                                       th:field="*{unitPrice}" class="form-control"/>
                                <input type="hidden" id="inputcurrency" th:field="*{currency}" class="form-control"/>
                                <input type="hidden" id="inputcurrencyCode" th:field="*{currencyCode}" class="form-control"/>
                                <input type="hidden" id="inputamount" placeholder="amount"
                                       name="amount" th:field="*{amount}" class="form-control" readonly="readonly"/>

                                <input type="hidden" id="inputamount" th:field="*{baseAmount}" class="form-control" />

                                <p th:errors="*{unitPrice}" class="help-block"></p>
                            </div>


                        <div class="form-group">
                            <input type="hidden" class="form-control" id="inputexchRate" th:field="*{exchRate}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('exchRate')}" th:errors="*{exchRate}">Id Error</span>
                        </div>

                        <div>





                            <div th:class="${#fields.hasErrors('subinventory')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                                <label class=" col-sm-3 control-label " for="inputsubinventory">Subinventory & Locator</label>

                                <div class="col-sm-1 "><b>:</b></div>
                                <div class="col-sm-4">
                                    <select class="form-control" name="subinventory" id="inputsubinventory"
                                            th:field="*{subinventory}" required="required">
                                        <option value="">Please select One</option>
                                        <option th:each="sub : ${subInvs}" th:text="${sub.code}" th:value="${sub.id}"
                                                th:attr="data-locConfrom=${sub.isLocatorControl}">
                                            module
                                        </option>
                                    </select>
                                    <input type="hidden" id="locSubinvLocConfrom"
                                           th:field="*{subinventory.isLocatorControl}"
                                           th:value="*{subinventory}"/>
                                    <script th:inline="javascript">
                                        $("#inputsubinventory").change(function () {
                                            var varSubinvLocConfrom = ($(this.options[this.selectedIndex]).attr('data-locConfrom'));
//                                        alert(varSubinvLocConfrom +'xx');

                                            document.getElementById('locSubinvLocConfrom').value = varSubinvLocConfrom;
                                            if (varSubinvLocConfrom == "false") {
//                                                alert(varSubinvLocCon);
                                                document.getElementById('inputsubinvLocator').readOnly = true;
                                                document.getElementById("inputsubinvLocator").value = "";
                                            } else {
                                                document.getElementById('inputsubinvLocator').readOnly = false;
                                            }
                                        })
                                    </script>
                                    <!--<input type="hidden" id="inputSubinvLocContrl" th:field="*{fromSubinventory.isLocatorControl}" />-->
                                </div>
                                <div class="col-sm-4">

                                    <input type="text" class="form-control" name="subinvLocator" id="inputsubinvLocator"
                                           th:field="*{subinvLocator}" th:value="*{subinvLocator}"
                                            />
                                    <script th:inline="javascript">
                                        var mods = [[${mode}]];
                                        var trns = [[*{id}]];
                                        if (trns != null) {
                                            var fromSubLocCon = document.getElementById('locSubinvLocConfrom').value;
//                                            var fromSubLocCon = ($(this.options[this.selectedIndex]).attr('data-locConfrom'));
                                            if (fromSubLocCon == "false") {
//                                                alert(fromSubLocCon);
                                                document.getElementById('inputsubinvLocator').readOnly = true;
                                                document.getElementById("inputsubinvLocator").value = "";
                                            } else {
                                                document.getElementById('inputsubinvLocator').readOnly = false;
                                            }
                                        }

                                        function SearchFloctObj(objparms) {
//                                            alert('x');
                                            var objparmV = objparms;
                                            $('#inputsubinvLocator').val(objparmV.id).trigger("change");
                                        }
                                        ;

                                        document.getElementById('inputsubinvLocator').oninput = function () {
                                            FromLocatorInf();
                                        };

                                        function FromLocatorInf() {
                                            var fLoc = document.getElementById('inputsubinvLocator').value;
                                            if (fLoc.length > 2) {
                                                var displayfieldfrom = [['#inputsubinvLocator']];
                                                var varFromSubinv = document.getElementById('inputSubinventory').value;
                                                getLocator(varFromSubinv, displayfieldfrom, 'floc');
                                                document.getElementById('inputsubinvLocator').focus();
                                            }
                                            ;
                                        }

                                    </script>

                                </div>
                            </div>

                            <div class="form-group">
                                <input type="hidden" class="form-control" id="inputfromInventoryInformations" th:field="*{fromInventoryInformations}"/>
                                <input type="hidden" class="form-control" id="inputtrnsNumber" th:field="*{trnsNumber}"/>
                                <input type="hidden" class="form-control" id="inputinvTrnsHeader" th:field="*{invTrnsHeader}"/>
                                <input type="hidden" class="form-control" id="inputinvTrnsDetail" th:field="*{invTrnsDetail}"/>
                                <input type="hidden" class="form-control" id="inputcolumncreatedBy" placeholder="columncreatedBy"
                                       th:field="*{commonColumn.createdBy}" name="columncreatedBy"/>
                                <input type="hidden" class="form-control" id="inputcolumnDate" placeholder="columnDate"
                                       th:field="*{commonColumn.creationDate}" name="columnDate"/>
                            <span class="help-block" th:if="${#fields.hasErrors('commonColumn.creationDate')}"
                                  th:errors="*{commonColumn.creationDate}">User Name Error</span>
                            </div>

                            <div>
                                <button type="button" data-toggle="modal" data-target="#modal-RecordHistory" th:id="btnIdHM"
                                        th:attr="data-target='#modal-RecordHistory'"  title="Record History" >
                                    <span class="glyphicon glyphicon-record"></span>
                                </button>
                                <script th:inline="javascript">
                                    document.getElementById('btnIdHM').onclick =
                                            function () {
                                                var obj = [[${poRcvLines.commonColumn}]];

                                                histabledataset(obj);
                                            };

                                </script>

                            </div>
                            <div data-th-replace="fragments/recordHistoryModal :: recordhis-modal"></div>

                            <div class="text-right">

                                <a th:href="@{/poReceive/rcvCreate/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${rcvHdr.id}" class="btn btn-default">Back</a>
                                <span th:if="${ADD}">
                                    <!--th:if="${ADD}"-->
                                <button type="submit" class="btn btn-primary">Save</button>
                                    </span>
                            </div>

                        </div>
                    </form>

                    <table class="table table-bordered table-hover table-striped">
                        <div th:if="${rcvHdr.rcvTrnsType != T(com.aye.web.model.RcvTrnsType).INTTRNSRCV}">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Supplier</th>
                            <th>Item</th>
                            <th>Uom</th>
                            <th>Qty</th>
                            <th>SubInventory</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:if="!${#lists.isEmpty(rcvLineList)}">
                            <tr th:each="l : ${rcvLineList}">

                                <td th:text="*{l.poHeader.poNumber}"></td>
                                <td th:text="*{l.poHeader.supplierLine.name}"></td>
                                <td th:text="*{l.itemCode}"></td>
                                <td th:text="*{l.rcvTrnsUomCode}"></td>
                                <td style="text-align: end" th:text="*{l.rcvTrnsQty}"></td>
                                <td th:text="*{l.subinventory.code}"></td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="...">
                                        <a th:href="@{/poReceive/rcvLine/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${l.poRcvHeader.id}+'/'+${l.id}"
                                           class="btn btn-success"><span
                                                class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>

                                    </div>

                                    <div class="btn-group" role="group" aria-label="...">
                                        <a th:href="@{/poReceive/rcvLineDelete/E/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${l.poRcvHeader.id}+'/'+${l.id}"
                                           class="btn btn-danger"><span
                                                class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>

                                    </div>
                                </td>

                            </tr>
                        </div>
                        <div th:if="${#lists.isEmpty(rcvLineList)}">
                            <tr>
                                <td>No Data exists!</td>
                            </tr>
                        </div>

                        </tbody>
                        </div>
                        <div th:if="${rcvHdr.rcvTrnsType == T(com.aye.web.model.RcvTrnsType).INTTRNSRCV}">
                            <thead>
                            <tr>
                                <th>Number</th>
                                <th>From</th>
                                <th>Item</th>
                                <th>Uom</th>
                                <th>Qty</th>
                                <th>SubInventory</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div th:if="!${#lists.isEmpty(rcvLineList)}">
                                <tr th:each="l : ${rcvLineList}">

                                    <td th:text="*{l.trnsNumber}"></td>
                                    <td th:text="*{l.fromInventoryInformations.name}"></td>
                                    <td th:text="*{l.itemCode}"></td>
                                    <td th:text="*{l.rcvTrnsUomCode}"></td>
                                    <td style="text-align: end" th:text="*{l.rcvTrnsQty}"></td>
                                    <td th:text="*{l.subinventory.code}"></td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="...">
                                            <a th:href="@{/poReceive/rcvLine/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${l.poRcvHeader.id}+'/'+${l.id}"
                                               class="btn btn-success"><span
                                                    class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>

                                        </div>

                                        <div class="btn-group" role="group" aria-label="...">
                                            <a th:href="@{/poReceive/rcvLineDelete/E/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${l.poRcvHeader.id}+'/'+${l.id}"
                                               class="btn btn-danger"><span
                                                    class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>

                                        </div>
                                    </td>

                                </tr>
                            </div>
                            <div th:if="${#lists.isEmpty(rcvLineList)}">
                                <tr>
                                    <td>No Data exists!</td>
                                </tr>
                            </div>

                            </tbody>
                        </div>
                    </table>
                </div>
                <div class="panel-footer">
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
