<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:insert="Procurment/PO/PoScriptLink"/>
    <!--<link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>-->

    <!--<script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>-->
    <!--<script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>-->

    <script th:inline="javascript">

        function selectedobj(value, ind) {
            if(ind == 'poNumberSerch')
            {
                SearchPoObj(value);
            }else
            if (ind == 'poSup') {
                SearchSupObj(value);
            }

            else
            if (ind == 'pay') {
                SearchPayObj(value);
            }
            else
            if (ind == 'payDoc') {
//                alert('xx');

                SearchPayDocObj(value);
            }
            else
            if (ind == 'RcvSerc') {
                SearchRcvNumObj(value);
            }

        };

    </script>

</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Bill Payment Search </div>
                <div class="panel-body">
                    <form id="search"
                          th:action="@{'/BillPay/search/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${invOrgId} }"
                          th:object="${billPaySearch}" method="post">

                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputpaymentNumber">Document & Pay Number</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="text" id="inputpayDocumentNumber"
                                       th:field="*{payDocumentNumber}" name="payDocumentNumber" />

                                <input class="form-control" type="hidden" id="inputpayGlHeader"
                                       th:field="*{payGlHeader}" name="payGlHeader" />
                                <script th:inline="javascript">
                                    function SearchPayDocObj(objparms) {

                                        var objparmV = objparms;
                                        $('#inputpayGlHeader').val(objparmV.glHeader).trigger("change");
                                        $('#inputbillType').val(objparmV.billType).trigger("change");
                                    };

                                    document.getElementById('inputpayDocumentNumber').oninput = function () {
                                        myFunctionPayDoc();
                                    };
                                    function myFunctionPayDoc() {
                                        var innerVar = document.getElementById('inputpayDocumentNumber').value;
                                        if (innerVar.length > 2) {
                                            var displayfieldfromd = [['#inputpayDocumentNumber']];
                                            var varOrg = document.getElementById('inputorgHierarchy').value;
                                            var indcpuyD = 'payDoc';
                                            var payUrlD = '/AYE/ACRC/SearchBillPayOrganizationGlPayDocument/' + varOrg ;
                                            autocomwithobject(payUrlD, 'documentNumber', displayfieldfromd, null, null,indcpuyD);
//                                            alert(payUrlD);
                                            document.getElementById('inputpayDocumentNumber').focus();
                                        }else if( innerVar.length==0)
                                        {
                                            $("#inputbillType").val($("#inputbillType option:first").val());
                                        }
                                    }
                                </script>

                            </div>

                            <div class="col-sm-4 ">
                                <input class="form-control" type="text" id="inputpaymentNumber"
                                       th:field="*{paymentNumber}" name="paymentNumber" />

                                <input class="form-control" type="hidden" id="inputbillsPayHeader"
                                       th:field="*{billsPayHeaderSearch}" name="billsPayHeader" />


                                <input type="hidden" id="inputinvOrg" placeholder="invOrg"
                                       name="invOrgId"  th:field="*{invOrg}"
                                       class="form-control" />

                                <input type="hidden" th:field="*{orgHierarchy}" name="orgHierarchy" id="inputorgHierarchy" />

                                <span class="help-block" th:if="${#fields.hasErrors('paymentNumber')}"
                                      th:errors="*{paymentNumber}">Name Error</span>


                                <script th:inline="javascript">

                                    function SearchPayObj(objparms) {
                                        //alert('x');
                                        var objparmV = objparms;
                                        $('#inputbillsPayHeader').val(objparmV.id).trigger("change");
                                        $('#inputbillType').val(objparmV.billType).trigger("change");
                                    };


                                    document.getElementById('inputpaymentNumber').oninput = function () {
                                        myFunctionPay();
                                    };
                                    function myFunctionPay() {
                                        var innerVar = document.getElementById('inputpaymentNumber').value;
                                        if (innerVar.length > 2) {
                                            var displayfieldfrom = [['#inputpaymentNumber']];
                                            var varOrg = document.getElementById('inputorgHierarchy').value;
                                            var indcpuy = 'pay';
                                            var payUrl = '/AYE/ACRC/SearchOrganizationPayNum/' + varOrg ;
                                            //alert(payUrl);
                                            autocomwithobject(payUrl, 'payNumber', displayfieldfrom, null, null,indcpuy);
                                            document.getElementById('inputpaymentNumber').focus();
                                        }
                                    }

                                </script>

                            </div>
                            </div>



                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputrcvStartDate">Payment Date</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>

                            <div class="col-sm-4  ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputpayStartDate"
                                       th:field="*{{payStartDate}}"
                                       name="fromDate"/>
                                <span class="help-block" th:if="${#fields.hasErrors('payStartDate')}"
                                      th:errors="*{payStartDate}">Date Error</span>
                            </div>

                            <div class="col-sm-4  ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputpayEndDate"
                                       th:field="*{{payEndDate}}"
                                       name="payEndDate"/>
                                <span class="help-block" th:if="${#fields.hasErrors('payEndDate')}"
                                      th:errors="*{payEndDate}">Date Error</span>
                            </div>

                        </div>



                        <div class="form-group col-sm-12 required">
                            <label class="col-sm-3 control-label " for="inputpoNumber">Payment Type & Status </label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4 ">

                                <select id="inputbillType"
                                        name="billType" th:field="*{billType}" class="form-control" required>
                                    <option value="">Select One</option>
                                    <option th:each="t : ${T(com.aye.web.model.Bill.BillType).values()}"
                                            th:text="${t.displayName}"
                                            th:value="${t}"></option>
                                </select>


                                <span class="help-block" th:if="${#fields.hasErrors('billType')}"
                                      th:errors="*{billType}">Name Error</span>
                            </div>
                            <div class="col-sm-4 ">
                                <select class="form-control" id="inputglStatus"
                                        th:field="*{glStatus}" name="glStatus" >
                                    <option value="">Select One</option>
                                    <option th:each="s :${T(com.aye.web.model.common.GlStatus).values()}" th:text="${s.displayName}" th:value="${s}"></option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputrcvNumber">Receive Number</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control" type="text" id="inputrcvNumber"
                                       th:field="*{rcvNumber}" name="rcvNumber" />
                                <input class="form-control" type="hidden" id="inputpoRcvHeader"
                                       th:field="*{poRcvHeader}" name="poRcvHeader" />


                                <span class="help-block" th:if="${#fields.hasErrors('rcvNumber')}"
                                      th:errors="*{rcvNumber}">Name Error</span>


                                <script th:inline="javascript">
                                    function SearchRcvNumObj(objparms) {
//                                    alert('x');
                                        var objparmV = objparms;
                                        $('#inputpoRcvHeader').val(objparmV.id).trigger("change");
                                    };

                                    document.getElementById('inputrcvNumber').oninput = function () {

//alert('ppp');
                                        myFunctionRcv();
                                    };
                                    function myFunctionRcv() {
                                        var innerVar = document.getElementById('inputrcvNumber').value;


                                        if (innerVar.length > 2) {

                                            //var locRcvTrnsType =document.getElementById('rcvTrnsTypeId').value;
//                                        alert(locRcvTrnsType );
                                            var displayfieldfrom = [['#inputrcvNumber']];
                                            var varLocOrg = document.getElementById('inputorgHierarchy').value;
                                            var  locInvOrg=document.getElementById('inputinvOrg').value;
                                           // alert('ppp'+innerVar+varLocOrg+locInvOrg);
                                            var indcRcv = 'RcvSerc';
                                            var rcvNumUrl ;
                                            var temp;

                                                rcvNumUrl ="/AYE/ACRC/SearchRcvNumber/"+varLocOrg+'/'+locInvOrg;
                                               // alert(rcvNumUrl);
                                                temp = 'rcvTrnsType';

//alert(rcvNumUrl);
                                            autocomwithobject(rcvNumUrl, 'rcvNumber', displayfieldfrom, null, temp ,indcRcv);
                                            document.getElementById('inputrcvNumber').focus();
                                        }
                                    }
                                </script>

                            </div>
                        </div>


                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputrcvStartDate">Receive Date</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>

                            <div class="col-sm-4  ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputrcvStartDate"
                                       th:field="*{{rcvStartDate}}"
                                       name="fromDate"/>
                                <span class="help-block" th:if="${#fields.hasErrors('rcvStartDate')}"
                                      th:errors="*{rcvStartDate}">Date Error</span>
                            </div>

                            <div class="col-sm-4  ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputrcvEndDate"
                                       th:field="*{{rcvEndDate}}"
                                       name="rcvEndDate"/>
                                <span class="help-block" th:if="${#fields.hasErrors('rcvEndDate')}"
                                      th:errors="*{rcvEndDate}">Date Error</span>
                            </div>

                        </div>



                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputpoNumber">Po Number</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control" type="text" id="inputpoNumber"
                                       th:field="*{poNumber}" name="poNumber" />

                                <input class="form-control" type="hidden" id="inputpoHeader"
                                       th:field="*{poHeader}" name="poHeader" />


                                <span class="help-block" th:if="${#fields.hasErrors('poNumber')}"
                                      th:errors="*{poNumber}">Name Error</span>


                                <script th:inline="javascript">

                                    function SearchPoObj(objparms) {
                                        var objparmV = objparms;
                                        $('#inputpoHeader').val(objparmV.id).trigger("change");
                                    };


                                    document.getElementById('inputpoNumber').oninput = function () {

                                        var poNum = document.getElementById('inputpoNumber').value;

                                        if (poNum.length > 1) {



                                            var  lInvOrg=document.getElementById('inputinvOrg').value;
                                            var  lOrg=document.getElementById('inputorgHierarchy').value;

                                            var poUrl = '/AYE/ACRC/SearchOrgPoNum/' +lOrg+ '/' +  lInvOrg +'/'+poNum;
                                            //alert(poUrl);

                                            autocomwithobject(poUrl, 'poNumber', '#inputpoNumber', null, 'poDate', 'poNumberSerch');
                                            document.getElementById('inputpoNumber').focus();
                                        }else
                                        {
                                            $('#inputpoHeader').val('');
                                        }
                                    }

                                </script>
                            </div>
                        </div>


                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputrcvStartDate">PO Date</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>

                            <div class="col-sm-4  ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputpoStartDate"
                                       th:field="*{{poStartDate}}"
                                       name="fromDate"/>
                                <span class="help-block" th:if="${#fields.hasErrors('poStartDate')}"
                                      th:errors="*{poStartDate}">Date Error</span>
                            </div>

                            <div class="col-sm-4  ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputpoEndDate"
                                       th:field="*{{poEndDate}}"
                                       name="poEndDate"/>
                                <span class="help-block" th:if="${#fields.hasErrors('poEndDate')}"
                                      th:errors="*{poEndDate}">Date Error</span>
                            </div>

                        </div>








                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputsupplierLine">Supplier Name</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control" type="hidden" id="inputsupplierLine"  inputsupplierLine
                                       th:field="*{supplierLine}"  />
                                <input class="form-control" type="text" id="inputsupplierLineName"
                                       th:field="*{supplierName}" name="supplierName" />
                                <input class="form-control" type="hidden" id="inputuser"
                                       th:field="*{user}" name="user`" />

                                <script th:inline="javascript">

                                    function SearchSupObj(objparms) {
                                        //alert('x');
                                        var objparmV = objparms;
                                        $('#inputsupplierLine').val(objparmV.id).trigger("change");
                                    };

                                    if (document.getElementById('inputsupplierLineName').value.length==0)
                                    {
                                        document.getElementById('inputsupplierLine').value='';
                                    }

                                    document.getElementById('inputsupplierLineName').oninput = function () {

                                        myFunction();
                                    };
                                    function myFunction() {
                                        var innerVar = document.getElementById('inputsupplierLineName').value;
                                        if (innerVar.length > 2) {
                                            var displayfieldfrom = [['#inputsupplierLineName']];
                                            var varOrg = document.getElementById('inputorgHierarchy').value;
                                            var indcSup = 'poSup';//
                                            var poUrl = '/AYE/ACRC/SearchOrgSupplier/' + varOrg + '/' + innerVar;
                                            autocomwithobject(poUrl, 'name', displayfieldfrom, null, null,indcSup);
                                            document.getElementById('inputsupplierLineName').focus();
                                        }
                                    }


                                </script>



                                <span class="help-block" th:if="${#fields.hasErrors('supplierLine')}"
                                      th:errors="*{supplierLine}">Name Error</span>
                            </div>
                        </div>


                        <!--<div class="form-group col-sm-12">-->
                            <!--<label class="col-sm-3 control-label " for="inputpoStatus">Status</label>-->
                            <!--<div class="col-sm-1 ">-->
                                <!--<b>:</b>-->
                            <!--</div>-->
                            <!--<div class="col-sm-8 ">-->
                                <!--<select id="inputpoStatus" th:field="*{poStatus}" name="status" class="form-control">-->
                                    <!--<option value="">Select One</option>-->
                                    <!--<option th:each=" stts : ${T(com.aye.web.model.PoStatus).values()}"-->
                                            <!--th:text="${stts.displayName}"-->
                                            <!--th:value="${stts}">-->
                                    <!--</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="text-right Padding10px" align="right">
                            <!--<a  th:href="@{/InvItem/MasterItem/E/}+${pageId}+'/'+${temltId}"-->
                            <!--class="btn btn-default">Cancel</a>-->
                            <button type="submit" name="search"  class="btn btn-primary" >
                                Find
                            </button>
                            <a th:href="@{/BillPay/billEntry/E/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}"
                               class="btn btn-default">New</a>

                            <span th:if = "${poSearchRes !=null and #lists.size(poSearchRes)>0}">
                                <a onclick="exportTableToExcel('tblDataLine')" class="btn btn-primary">Export</a>
                            </span>
                        </div>

                        <div>

                        </div>
                    </form>

                    <div class="form-group col-sm-12">

                        <table class="table table-bordered table-hover table-striped" id="tblDataLine">
                            <thead>

                            <th>Number</th>
                            <th>Bank Name</th>
                            <th>Pay Mode</th>
                            <th>Ref</th>
                            <th>Document</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Show</th>
                            <th>Action</th>
                            </thead>
                            <tbody>

                            <div>
                                <div th:each="header : ${billsPayHeaders}">
                                <tr >
                                    <td th:text="${header.payNumber}"></td>
                                    <td th:text="${header.bankLine.name}"></td>
                                    <td th:text="${header.paymentMode}"></td>
                                    <td th:text="${header.payAmount}"></td>

                                    <td th:text="${header.glHeader!=null ? header.glHeader.documentNumber:''}"></td>
                                    <td th:text="${header.periodName}"></td>
                                    <!--<td th:text="${header.poStatus}"></td>-->
                                    <td th:text="${header.glStatus.displayName}"></td>
                                    <td style="font-size: 12px; color: #323232;" width="10px"><a href="#" th:id="${header.id}" th:title="${header.id}" style="font-size: 12px; color: black;">Detail</a></td>
                                    <td>

                                        <div class="btn-group" role="group" aria-label="..." name="edit">
                                            <a th:href="@{/BillPay/billPay/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${header.id}"
                                               class="btn btn-success"><span
                                                    class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                        </div>

                                    </td>

                                <tr>
                                    <td colspan="12" >
                                        <div th:id="extra+${header.id}" style="display: none; " th:if="!${#lists.isEmpty(header.billsPayLines)}">
                                            <div class="col-sm-12 " style="padding-bottom: 20px; padding-left: 0px;">
                                                <div  colspan="6" style="text-align: left ; background-color:#D5DBDB; color:#ADB2B5;" class="colps_div_hdr col-sm-4">
                                                    Line Informations</div>
                                                <div class="col-sm-12 colps_div_hdr" style="margin-top: 5px;">

                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent; color: #93A2B2;"><b>Recv Number</b></div>
                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent; color: #93A2B2;"><b>Supplier</b></div>
                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent; color: #93A2B2;"><b>Item Code</b></div>
                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent; color:#93A2B2"><b>Amount</b></div>
                                                </div>
                                                <div class="col-sm-12 colps_div_hdr" th:each="l : ${header.billsPayLines}" >


                                                    <div th:if="${header.billType!=T(com.aye.web.model.Bill.BillType).MNUL}">

                                                    <div th:if="*{l.poRcvLines}!=null">

                                                        <div class="col-sm-3 " style="border-right: 1px solid transparent; margin-top: 1px;" th:text="*{l.poRcvHeader.rcvNumber}"></div>
                                                    </div>
                                                    <div th:if="*{l.poRcvLines}==null">
                                                        <div class="col-sm-3 " style="border-right: 1px solid transparent; margin-top: 1px;" th:text="*{l.poHeader.poNumber}"></div>
                                                    </div>
                                                    </div>
                                                    <div th:if="${header.billType==T(com.aye.web.model.Bill.BillType).MNUL}">
                                                        <div class="col-sm-3 " style="border-right: 1px solid transparent; margin-top: 1px;" th:text="*{l.glHeader.documentNumber}"></div>

                                                    </div>
                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent; margin-top: 1px;"  th:text="*{l.supplierLine.name}"></div>
                                                    <div th:if="${l.masterItem!=null}">
                                                        <div class="col-sm-3 " style="border-right: 1px solid transparent; margin-top: 1px;" th:text="*{l.masterItem.itemCode}"></div>
                                                    </div>
                                                    <div th:if="${l.masterItem!=null}">
                                                        <div class="col-sm-3 " ></div>
                                                    </div>
                                                    <!--<div class="col-sm-3 " style="border-right: 1px solid transparent" th:text="*{l.primaryQty}"></div>-->
                                                    <div class="col-sm-3 " style="border-right: 1px solid transparent; margin-top: 1px;" th:text="*{l.amount}"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>

                                <script th:inline="javascript">
                                    var a='#'+[[${header.id}]];
                                    //alert(a);
                                    $(a).click(function() {
                                        var dbfield = [[${header.id}]];
                                        var df='#extra'+[[${header.id}]];
                                        $(df + $(this).attr('id').substr(5)).slideToggle("slow");
                                        event.preventDefault();

                                    });
                                    //                        $("a[id^=show_]").click(function(event) {
                                    //                            $("#extra_" + $(this).attr('id').substr(5)).slideToggle("slow");
                                    //                            event.preventDefault();
                                    //                        })
                                </script>



                                </tr>
                                </div>
                            </div>
                            <div th:if="${#lists.isEmpty(billsPayHeaders)}">
                                <tr>
                                    <td>No Data exists!</td>
                                </tr>
                            </div>

                            </tbody>

                        </table>

                        <div data-th-replace="fragments/pagination :: page-pagination">
                        </div>
                    <!--<div class="panel-footer">-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
