<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<div id="accresultsList" th:fragment="accresultsList" class="accresultsList">
    <div class="form-group col-sm-12">

        <div>
            <div>
                <div th:remove="tag" th:utext="${htmlTag}"></div>
                <!--<div th:utext="${htmlTag}"></div>-->

            </div>
            <nav aria-label="Pagination" th:if="${accCodeCombinitionses.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-medium">
                    <!--<div th:id="btnId+${pageNumber}">-->
                    <li class="page-item" th:classappend="${accCodeCombinitionses.number eq 0} ? 'disabled'">

                        <a class="page-link svg-icon"
                           aria-label="Previous"
                           title="Previous Page" rel="tooltip">
                            <span aria-hidden="true" class="glyphicon glyphicon-chevron-left" width="20"
                                  height="20"></span>
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${i eq accCodeCombinitionses.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( accCodeCombinitionses.number + 1,
                                    accCodeCombinitionses.totalPages > 10 + accCodeCombinitionses.number ? accCodeCombinitionses.number + 10 : accCodeCombinitionses.totalPages, 1)}">
                        <a class="page-link"
                           th:id="btnId+${i}"
                           th:text="${i}"
                           th:title="${'Page '+ i}"
                           rel="tooltip"></a>
                        <script th:inline="javascript">
                            document.getElementById([['btnId' +${i}]]).onclick =
                                    function () {
                                        var lBtn = [[${i}]];
//                                                    alert(lBtn+'  ??')
                                        searchCodeComb(lBtn);
//                                        getContent(lBtn);

                                    };
                            function getContent(btnId) {
//                                alert(btnId);
                                getContent(lBtn);
                            }

                            function getContent(btnId) {
                                var pNum = btnId;
                                //create url to request fragment
                                var mod = [[${mode}]];
                                var pId = [[${pageId}]];
                                var tId = [[${temltId}]];
                                var ksegId = [[${keySegHeaderId}]];


                                l_urlVal = '/AYE/Acc/addCodeCom/' + mod + '/' + pId + '/' + tId + '/' + ksegId + '/' + pNum;
                                var l_url = window.location.origin + l_urlVal;
//                                alert(l_url);

                                //load fragment and replace content
                                $('#replace_div').load(l_url);
                            }
                            ;

                        </script>
                    </li>
                    <li class="page-item"
                        th:classappend="${accCodeCombinitionses.number + 1 eq accCodeCombinitionses.totalPages} ? 'disabled'">
                        <a class="page-link svg-icon"
                           aria-label="Next"
                           title="Next Page" rel="tooltip">
                            <span aria-hidden="true" class="glyphicon glyphicon-chevron-right" width="20"
                                  height="20"></span>
                        </a>
                    </li>
                    <!--</div>-->
                </ul>

            </nav>


        </div>
    </div>
</div>

</html>