<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:insert="Account/AccScriptLink"/>
    <!--<link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>-->

    <!--<script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>-->
    <!--<script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>-->
    <script>
        function selectedobj (value,ind)
        {
            if(ind=='source')
            {

                sourcedobj (value);
            }else if (ind=='docnum')
            {
                docnumobj (value);
            }
        };

    </script>

</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Payment Search</div>
                <div class="panel-body">
                    <form action="'/AccPay/searchGlPay/'+${mode}+'/'+${pageId}+'/'+${temltId}"
                          th:action="@{'/AccPay/searchGlPay/'+${mode}+'/'+${pageId}+'/'+${temltId}}"
                          th:object="${glSearch}" th:method="post">

                        <!--<span style="color: #ed1c24;font-weight: bold" th:each="m :${msg}"><p th:text="${m.tag+' '+m.msg}"></p></span>-->
                        <div>
                            <input type="hidden" th:field="*{orgHierarchy}" name="orgHierarchy" id="inputorgHierarchy" />
                        </div>


                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputsourceName">Supplier Name</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control" type="text" id="inputsourceName"
                                       th:field="*{sourceName}" name="sourceName" />
                                <input type="hidden" th:field="*{sourceId}" name="sourceId" id="inputsourceId" />

                                <span class="help-block" th:if="${#fields.hasErrors('sourceName')}"
                                      th:errors="*{sourceName}">Name Error</span>
                            </div>
                            <script th:inline="javascript">
                                var orgIds= document.getElementById('inputorgHierarchy').value;
                                //                                alert('xx');

                                function sourcedobj (objparms){
                                    //          alert('B');
                                    var objparmV=objparms;
                                    $('#inputsourceId').val(objparmV.id).trigger("change");
                                    $('#inputsourceName').val(objparmV.name).trigger("change");
//                                    $('#inputglCategories').val(objparmV.glCategories).trigger("change");
                                };

                                var urlvals='/AYE/ACRC/SearchSource/AP/'+orgIds;
                                //                                alert(urlvals);
                                var displayfields='#inputsourceName';
                                var dbfields ='#inputsourceId';
                                var getvalues ='name';
                                var templates='siteName';
                                var indc='source';

                                autocomwithobject(urlvals, getvalues,displayfields, dbfields,templates,indc);

                            </script>
                        </div>


                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputdocumentNumber">Document Number</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control" type="text" id="inputdocumentNumber"
                                       th:field="*{documentNumber}" name="documentNumber" />

                                <span class="help-block" th:if="${#fields.hasErrors('documentNumber')}"
                                      th:errors="*{documentNumber}">Name Error</span>
                            </div>
                            <script th:inline="javascript">
                                var orgId= document.getElementById('inputorgHierarchy').value;
                                //                                alert('xx');

                                function docnumobj (objparm){
//                                    alert('A');
                                    var objparms=objparm;
                                    $('#inputdocumentNumber').val(objparms.documentNumber).trigger("change");
//                                    $('#inputglCategories').val(objparmV.glCategories).trigger("change");
                                };

                                var urlval='/AYE/ACRC/getPayDocNum/'+orgId;
                                var displayfield='#inputdocumentNumber';
                                var dbfield ='#inputdocumentNumber';
                                var getvalue='documentNumber';
                                var indcd='docnum';
                                autocomwithobject(urlval, getvalue,displayfield, dbfield,"",indcd);

                            </script>
                        </div>





                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputglCategories">Category & Module</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4 ">
                                <select class="form-control" type="text" id="inputglCategories"
                                        th:field="*{glCategories}" name="glCategories">
                                    <option value="">Please select One</option>
                                    <option th:each="catagories : ${glCategories}"
                                            th:text="${catagories.categoriesCode}"
                                            th:value="${catagories.id}"
                                            th:attr="data-source=${catagories.accountSource}">module
                                    </option>
                                </select>
                                <span class="help-block" th:if="${#fields.hasErrors('glCategories')}"
                                      th:errors="*{glCategories}">Category Error</span>
                            </div>
                            <div class="col-sm-4 ">
                                <select class="form-control" id="inputappModule"
                                        th:field="*{appModule}" name="appModule">
                                    <option value="">Please select One</option>
                                    <option th:each="am: ${appModules}"
                                            th:text="${am.moduleCode}"
                                            th:value="${am.id}">module
                                    </option>
                                </select>
                                <span class="help-block" th:if="${#fields.hasErrors('appModule')}"
                                      th:errors="*{appModule}">appModule Error</span>
                            </div>
                        </div>


                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputFromdate">Date</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>

                            <div class="col-sm-4  ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputFromdate"
                                       th:field="*{{fromDate}}"
                                       name="fromDate"/>
                                <span class="help-block" th:if="${#fields.hasErrors('fromDate')}"
                                      th:errors="*{fromDate}">Date Error</span>
                            </div>

                            <div class="col-sm-4  ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputtoDate"
                                       th:field="*{{toDate}}"
                                       name="toDate"/>
                                <span class="help-block" th:if="${#fields.hasErrors('toDate')}"
                                      th:errors="*{toDate}">Date Error</span>
                            </div>

                        </div>

                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputdocumentNumber">Status</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <select id="inputstatus" th:field="*{status}" name="status" class="form-control">
                               <option value="">Select One</option>
                                    <option th:each=" stts : ${T(com.aye.web.model.common.GlStatus).values()}"
                                            th:text="${stts.displayName}"
                                            th:value="${stts}">

                                    </option>
                                </select>
                                <!--<input class="form-control" type="text" id="inputstatus"-->
                                <!--th:field="*{status}" name="status" />-->
                                <!--<span class="help-block" th:if="${#fields.hasErrors('status')}"-->
                                <!--th:errors="*{status}">Status Error</span>-->
                            </div>
                        </div>

                        <div class="text-right Padding10px">
                            <!--<a  th:href="@{/InvItem/MasterItem/E/}+${pageId}+'/'+${temltId}"-->
                            <!--class="btn btn-default">Cancel</a>-->
                            <button type="submit" name="search" th:value="*{orgHierarchy.id}" class="btn btn-primary">
                                Find
                            </button>
                            <button type="submit" name="go" class="btn btn-primary">New
                            </button>

                            <span th:if = "${glHeaders !=null and #lists.size(glHeaders)>0}">
                                <button onclick="exportTableToExcel('tblDataLine')" class="btn btn-primary">Export</button>
                            </span>



                        </div>
                        <div>

                        </div>
                    </form>


                    <div class="form-group col-sm-12">
                        <table class="table table-bordered table-hover table-striped" id="tblDataLine">
                            <thead>

                            <th>Number</th>
                            <th>Category</th>
                            <th>Currency</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Action</th>

                            </thead>
                            <tbody>

                            <div>
                                <tr th:each="header : ${glHeaders}">
                                    <td th:text="${header.documentNumber}"></td>
                                    <td th:text="${header.glCategories.name}"></td>
                                    <td th:text="${header.currency.code}"></td>
                                    <td th:text="${header.date}"></td>
                                    <td th:text="${header.description}"></td>
                                    <td th:text="${header.status.displayName}"></td>
                                    <td>
                                        <!--<td>-->
                                        <!--<button type="submit" name="edit" th:value="${header.id}">Edit</button>-->
                                        <!--</td>-->

                                        <!--th:if="${x.segmenteColumn == T(com.aye.web.model.common.GlStatus).N}"-->
                                        <div class="btn-group" role="group" aria-label="..." name="edit">
                                            <a th:href="@{/AccPay/editGlPayment/U/}+ ${pageId}+'/'+${temltId}+'/'+${header.id}"
                                               class="btn btn-success"><span
                                                    class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                        </div>
                                        <!--<div class="btn-group" role="group" aria-label="..." name="edit"-->
                                        <!--th:if="${(header.status == T(com.aye.web.model.common.GlStatus).P)}"-->
                                        <!--onclick="return false">-->
                                        <!--<a th:href="@{/AccGL/editGlheader/}+ ${pageId}+'/'+${temltId}+'/'+${header.id}"-->
                                        <!--class="btn disabled"><span-->
                                        <!--class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>-->
                                        <!--</div>-->


                                    </td>


                                </tr>
                            </div>
                            <div th:if="${#lists.isEmpty(glHeaders)}">
                                <tr>
                                    <td>No Data exists!</td>
                                </tr>
                            </div>

                            </tbody>

                        </table>
                        <div th:if="${glHeaders.totalPages  > 0}" class="pagination"
                             th:each="pageNumber : ${pageNumbers}">
                            <a th:href="@{'/AccPay/searchGlPay/'+${mode}+'/'+ ${pageId}+'/'+${temltId}+'/'+
                                *{orgHierarchy.id}+'/'+${pageNumber+1}}"
                               th:text="${pageNumber}"
                               th:class="${pageNumber==glHeaders.number + 1} ? active"></a>
                        </div>
                    </div>



                </div>
                <div class="panel-footer">
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
