<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:insert="Account/AccScriptLink"/>
    <!--<link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>-->

    <!--<script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>-->
    <!--<script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>-->

    <script>
        var totDr=0;
        var totCr=0;
        function selectedobj(value, ind,pId) {
            if (ind == 'sourceName') {
                sourceNameobj(value);
            } else if (ind == 'lineSourceName') {
                lineSourceNameObj(value, pId);
            }
        } ;


        function calcRctAmt()
        {
            var sumcr = 0;
            var amtcr
            $('.combatcr').each(function () {
                document.getElementById('amtcr').val
                amtcr = parseFloat(this.value);
                if (isNaN(parseFloat(amtcr)))
                {
                    amtcr=0;
                }
                sumcr=sumcr+amtcr;
            });
            totCr = sumcr;
            $('.total-combatcr').html('<b>'+sumcr+'</b>');

            if (sumcr==0)
            {
                $('.postId').prop("disabled",true);
            }else
            {
                $('.postId').prop("disabled",false);
            }
        }

        function postBtnVisbly()
        {
            var pLidC = 0;
            var cLineId;
            $('.combatLineId').each(function () {
                cLineId = parseFloat(this.value);
                if (isNaN(parseFloat(cLineId))||cLineId==0)
                {
                    pLidC=pLidC+1;
                }

            });

            if (pLidC==0)
            {
                $('#postId').prop("disabled",false);
            }else
            {
                $('#postId').prop("disabled",true);
            }
        }

        function multipleFuncCall(param1)
        {
//            accsourcvalidation();
            prevDbClick(param1);
        }

    </script>


</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Receipt Entry</div>
                <div class="panel-body">
                    <form th:action="@{'/AccRct/addGlReceipt/'+${mode}+'/'+${pageId}+'/'+${temltId}}"
                          th:object="${glHeaderRct}" th:method="post">

                     <span style="font-weight: bold" th:each="m :${msg}">
                        <p th:style="${m.tag} ? 'color:#ed1c24;':'color:#4aa509;'">
                            <span th:if="${m.tag==null}" th:text="${m.msg}"> </span>
                            <span th:unless="${m.tag==null}" th:text="${m.tag+' '+m.msg}"></span>
                        </p>
                     </span>
                        <div class="submit-progress hidden">
                            <label th:style="'color:#4aa509;'">Please wait while Saving Data...</label>
                        </div>
                        <div class="form-group">
                            <!--<label for="inputSegment1">Name</label>-->
                            <input type="hidden" class="form-control" id="inputid" placeholder="id"
                                   th:field="*{id}" name="id"/>
                            <span class="help-block" th:if="${#fields.hasErrors('id')}"
                                  th:errors="*{id}">Name Error</span>
                        </div>


                        <div class="form-group col-sm-12">

                            <label class="col-sm-3 control-label " for="inputdocumentNumber">Document Number</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-5 ">
                                <input class="form-control" type="text" id="inputdocumentNumber"
                                       th:field="*{documentNumber}" name="documentNumber" readonly="readonly"/>
                                <span class="help-block" th:if="${#fields.hasErrors('documentNumber')}"
                                      th:errors="*{documentNumber}">Name Error</span>
                            </div>

                            <div class="col-sm-3 ">
                                <input class="form-control" type="hidden" id="inputstatus"
                                       th:value="*{status}" th:field="*{status}" name="status"/>
                                <span class="help-block" th:if="${#fields.hasErrors('status')}"
                                      th:errors="*{status}">Status Error</span>
                            </div>

                            <div class="col-sm-3 ">
                                <input class="form-control" type="text" id="inputstatusDesc"
                                       th:field="${glHeaderRct.status.displayName}" readonly="readonly"/>
                                <span class="help-block" th:if="${#fields.hasErrors('status')}"
                                      th:errors="*{status}">Status Error</span>
                            </div>

                        </div>

                        <div class="form-group required col-sm-12">

                            <label class="col-sm-3 control-label " for="inputcategory">Category</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>

                            <div class="col-sm-8 ">
                                <select class="form-control" required="required" type="text" id="inputcategory"
                                        th:field="*{category}" name="category"
                                        th:disabled="${(glHeaderRct.status == T(com.aye.web.model.common.GlStatus).P)}">
                                    <option value="">Please select One</option>
                                    <option th:each="catagories : ${glCategories}"
                                            th:text="${catagories.categoriesCode}"
                                            th:value="${catagories.id}"
                                            th:attr="data-source=${catagories.accountSource}">module
                                    </option>
                                </select>

                                <div>
                                    <input type="hidden" id="sourceLoc"
                                           th:field="*{category.accountSource}"
                                           class="form-control"/>
                                </div>
                                <span class="help-block" th:if="${#fields.hasErrors('category')}"
                                      th:errors="*{category}">Category Error</span>
                            </div>
                            <script th:inline="javascript">
                                $("#inputcategory").change(function () {
                                    var varSource = ($(this.options[this.selectedIndex]).attr('data-source'));
                                    $("#sourceLoc").val(varSource);
                                });
                            </script>
                        </div>


                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3 control-label " for="inputcurrency">Currency</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-8 ">
                                <select class="form-control" name="currency" id="inputcurrency"
                                        th:disabled="${(glHeaderRct.status == T(com.aye.web.model.common.GlStatus).P)}">
                                    <!--<option value="">Please select One</option>-->
                                    <option th:each="cur : ${currency}" th:value="${cur.id}" th:text="${cur.code}"
                                            th:field="*{currency}"
                                            >
                                    </option>
                                </select>

                                <span class="help-block" th:if="${#fields.hasErrors('currency')}"
                                      th:errors="*{currency}">Currency Error</span>
                            </div>


                        </div>

                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3 control-label " for="inputdate">Transaction</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>

                            <div class="col-sm-4  ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputdate"
                                       th:field="*{{date}}"
                                       name="date"
                                       th:readonly="${(glHeaderRct.status == T(com.aye.web.model.common.GlStatus).P)}"/>
                                <script th:inline="javascript">

                                    $("#inputdate").change(function () {
                                        var date = $('#inputdate').val();
                                        //alert(date);
                                        $("#inputaccDate").val(date);
                                        $("#inputperiodName").val(moment(date).format('MMM-YY'));
                                        //$("#inputcalendarDetail").val(date);
                                        $("#inputperiodNameD").val(moment(date).format('MMM-YY'));
                                    });

                                    $("#inputdate").ready(function () {

                                        var date = $('#inputdate').val();
                                        if (date != "") {

                                            $("#inputperiodNameD").val(moment(date).format('MMM-YY'));
                                        }
                                    });


                                </script>




                                <span class="help-block" th:if="${#fields.hasErrors('date')}"
                                      th:errors="*{date}">Date Error</span>
                            </div>

                            <div class="col-sm-4  ">
                                <input class="form-control" type="text" name="periodNametrns" id="inputperiodNameD"
                                       th:field="*{periodNametrns}" readonly="readonly"/>

                                <span class="help-block" th:if="${#fields.hasErrors('periodNametrns')}"
                                      th:errors="*{periodNametrns}">CalendarDetail Error</span>
                            </div>

                        </div>


                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3 control-label " for="inputcalendarDetail">GL Date</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>

                            <div class="col-sm-4  ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputaccDate"
                                       th:field="*{{accDate}}"
                                       name="accDate"
                                       th:readonly="${(glHeaderRct.status == T(com.aye.web.model.common.GlStatus).P)}"/>
                                <script>
                                    $("#inputaccDate").change(function () {
                                        var date = $('#inputaccDate').val();
                                        $("#inputperiodName").val(moment(date).format('MMM-YY'));
                                    });
                                    $("#inputaccDate").ready(function () {
                                        var date = $('#inputaccDate').val();
                                        if (date != "") {
                                            $("#inputperiodName").val(moment(date).format('MMM-YY'));
                                        }
                                    });

                                </script>




                                <span class="help-block" th:if="${#fields.hasErrors('accDate')}"
                                      th:errors="*{accDate}">Date Error</span>
                            </div>

                            <div class="col-sm-4  ">
                                <input class="form-control" type="text" name="periodName" id="inputperiodName"
                                       th:field="*{periodName}" readonly="readonly"/>

                                <span class="help-block" th:if="${#fields.hasErrors('periodName')}"
                                      th:errors="*{periodName}">CalendarDetail Error</span>
                            </div>


                            <!--th:each="cal : ${calendarHeader.calendarDetails}"-->
                            <div class="col-sm-4  ">
                                <input class="form-control" type="hidden" name="calendarDetail" id="inputcalendarDetail"
                                       th:field="*{calendarDetail}"/>

                                <span class="help-block" th:if="${#fields.hasErrors('calendarDetail')}"
                                      th:errors="*{calendarDetail}">CalendarDetail Error</span>
                            </div>
                        </div>


                        <div>

                            <div>
                                <input type="hidden" name="appModule" id="appModule"
                                       th:value="${module.id}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('appModule')}"
                                      th:errors="*{appModule}">appModule Error</span>
                            </div>
                        </div>

                        <div>

                            <div>
                                <input type="hidden" name="orgHierarchy" id="orgHierarchy"
                                       th:value="${orgHierarchy.id}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('orgHierarchy')}"
                                      th:errors="*{orgHierarchy}">appModule Error</span>
                            </div>
                        </div>


                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3 control-label " for="sourceName">Source DR. Acc.</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-8 ">
                                <input class="td form-control" type="text" required="required" id="sourceName"
                                       th:field="*{sourceName}"
                                       name="sourceName" placeholder="DR. Acc. Source"
                                       th:readonly="${(glHeaderRct.status == T(com.aye.web.model.common.GlStatus).P)}"/>

                                <input type="hidden" id="sourceIdH"
                                       th:field="*{sourceIdH}"
                                       name="sourceIdH"/>

                                <input type="hidden" th:field="*{accCodeCombinitionsH}" th:name="accCodeCombinitionsH"
                                       th:value="accCodeCombinitionsH"
                                       th:id="accCodeCombinitionsH"/>

                                <script th:inline="javascript">
                                    function sourceNameobj(objparm) {
                                        var objparmV = objparm;

                                        $('#sourceIdH').val(objparmV.id).trigger("change");
                                        $('#accCodeCombinitionsH').val(objparmV.accCodeCombinitions.id).trigger("change");
                                        if ($('#accCodeCombinitionsH').val()=='')
                                        {
                                            alert("Please Select Valid Bank Name");
                                        }
                                    }
                                    ;

                                    document.getElementById('sourceName').oninput = function () {

                                        myFunctionH()
                                    };

                                    function myFunctionH() {

                                        var myFuncVar = document.getElementById('sourceName').value;

                                        if (myFuncVar.length > 2) {
                                           // alert("pp");
                                            callAutoComHeader(myFuncVar);
                                            document.getElementById('sourceName').focus();
                                        }

                                    }


                                    function callAutoComHeader(itmHeader) {

                                        var org = [[${orgHierarchy.id}]];
                                        var urlval = '/AYE/ACRC/SearchSource/CM/' + org + '/' + itmHeader;
//                                        alert(urlval);
                                        var displayfield = '#sourceName';
                                        var dbfield = '#sourceIdH';
                                        var getvalue = 'name';
                                        var indc = 'sourceName';
                                        var opt = "accountNumber";
                                        autocomwithobject(urlval, getvalue, displayfield, dbfield, opt, indc);
                                    }

                                </script>


                            </div>


                        </div>

                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputreferenceType">Type And Reference</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-3 ">
                                <select class="form-control" name="referenceType" id="inputreferenceType"
                                        th:field="*{referenceType}"
                                        required="required"
                                        th:disabled="${(glHeaderRct.status == T(com.aye.web.model.common.GlStatus).P)}">
                                    <option value="">Select</option>
                                    <option value="TT">TT</option>
                                    <option value="DD">DD</option>
                                    <option value="ONLINE">Online</option>
                                    <option value="CHQ">Cheque</option>
                                </select>
                                <span class="help-block" th:if="${#fields.hasErrors('referenceType')}"
                                      th:errors="*{referenceType}">referenceNo Error</span>
                            </div>
                            <div class="col-sm-5 ">
                                <input class="form-control" type="text" id="inputreferenceNo"
                                       th:field="*{referenceNo}" name="referenceNo"
                                       th:readonly="${(glHeaderRct.status == T(com.aye.web.model.common.GlStatus).P)}"/>

                                <span class="help-block" th:if="${#fields.hasErrors('referenceNo')}"
                                      th:errors="*{referenceNo}">referenceNo Error</span>
                            </div>
                        </div>



                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputdescription">Description</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control" type="text" id="inputdescription"
                                       th:field="*{description}" name="description"
                                       th:readonly="${(glHeaderRct.status == T(com.aye.web.model.common.GlStatus).P)}"/>

                                <span class="help-block" th:if="${#fields.hasErrors('description')}"
                                      th:errors="*{description}">description Error</span>
                            </div>
                        </div>


                        <div class="form-group ">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumn" placeholder="column"
                                   th:field="*{column.createdBy}" name="column"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                                <span class="help-block" th:if="${#fields.hasErrors('column.createdBy')}"
                                      th:errors="*{column.createdBy}">User Name Error</span>
                        </div>

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="inputcolumnDate" placeholder="columnDate"
                                   th:field="*{column.creationDate}" name="columnDate"/>
                                <span class="help-block" th:if="${#fields.hasErrors('column.creationDate')}"
                                      th:errors="*{column.creationDate}">User Name Error</span>
                        </div>
                        <div>
                            <button type="button" data-toggle="modal" data-target="#modal-RecordHistory" th:id="btnIdHM"
                                    th:attr="data-target='#modal-RecordHistory'"  title="Record History" >
                                <span class="glyphicon glyphicon-record"></span>
                            </button>
                            <script th:inline="javascript">
                                document.getElementById('btnIdHM').onclick = function () {
                                    var obj = [[${glHeaderRct.column}]];
                                    histabledataset(obj);
                                };

                            </script>

                        </div>
                        <div data-th-replace="fragments/recordHistoryModal :: recordhis-modal"></div>


                        <div class="form-group  col-sm-12 text-right Padding10px">
                            <button type="submit" name="top" class="btn btn-primary">
                                Top
                            </button>
                            <a th:href="@{/AccRct/addGlReceipt/E/}+${pageId}+'/'+${temltId}"
                               class="btn btn-default">New</a>
                            <button type="submit" name="save" class="btn btn-primary" id="btSave"
                                    th:if="${(glHeaderRct.status == T(com.aye.web.model.common.GlStatus).N)}  and ${ADD} "
                                    th:onclick="return checkemptyfieldRcV(this.id)">
                                Save
                            </button>
                            <a th:href="@{/AccRct/searchGlRct/E/}+${pageId}+'/'+${temltId}+'/'+${orgHierarchy.id}"
                               class="btn btn-default">Search</a>
                            <button type="submit" name="last" class="btn btn-primary">Last</button>
                            <button type="submit" th:value="${pid}+1" name="Next" class="btn btn-primary">Next</button>
                            <button type="submit" th:value="${pid}-1" name="Privious" class="btn btn-primary">Privious</button>

                        </div>


                        <form class="form-horizontal">
                            <div class=" col-sm-12 table-responsive dist_view"
                                 th:if="${(glHeaderRct.documentNumber)!=null}">


                                <div class="col-sm-12 brder accgl-col">
                                    <div class="col-sm-1 accgl-col brderright" style="width: 20px">Id</div>
                                    <div class="col-sm-4 accgl-col brderright" align="center">Customer</div>
                                    <div class="col-sm-3 accgl-col brderright " align="center">Amount</div>
                                    <div class="col-sm-3 accgl-col brderright" align="center">Note</div>
                                    <div class="col-sm-1 accgl-col " align="center">Action</div>

                                </div>
                                <div class="col-sm-12 accgl-col brder " th:each="GlLines,rowStat  : *{glLinesList}"
                                     th:if="(*{glLinesList[__${rowStat.index}__].crAmount} ?
                                     *{glLinesList[__${rowStat.index}__].crAmount} : 1)-(*{glLinesList[__${rowStat.index}__].drAmount} ?
                                     *{glLinesList[__${rowStat.index}__].drAmount} : 0) gt 0 ">

                                    <div class="col-sm-1  accgl-col high_control top_marg brderright"
                                         th:text="${rowStat.count}" style="width: 20px">1
                                    </div>

                                    <div class="col-sm-4   accgl-col top_marg brderright">


                                        <input class="td form-control " th:type="hidden"
                                               th:field="*{glLinesList[__${rowStat.index}__].accCodeCombinitionsV.concatedSegment}"
                                               th:id="val+${rowStat.count}"
                                               height="2"/>

                                        <input type="hidden"
                                               th:field="*{glLinesList[__${rowStat.index}__].accCodeCombinitions}"
                                               th:value="accCodeCombinitions.id"
                                               th:id="id+${rowStat.count}"/>

                                        <input class="td form-control " th:type="text"
                                               th:field="*{glLinesList[__${rowStat.index}__].sourceName}"
                                               th:id="sourceName+${rowStat.count}" required="required"
                                               height="2"
                                               th:readonly="${(glHeaderRct.status == T(com.aye.web.model.common.GlStatus).P)}"/>

                                        <input type="hidden"
                                               th:field="*{glLinesList[__${rowStat.index}__].sourceId}"
                                               th:value="sourceId"
                                               th:id="sourceId+${rowStat.count}"/>

                                        <input class="form-control " th:type="hidden"
                                               th:field="*{glLinesList[__${rowStat.index}__].id}"
                                               th:value="id"/>
                                        <input th:type="hidden"
                                               th:field="*{glLinesList[__${rowStat.index}__].glHeader}"
                                               th:value="glHeader.id"/>
                                        <input th:type="hidden"
                                               th:field="*{glLinesList[__${rowStat.index}__].source}"
                                               th:id="source+${rowStat.count}"
                                               th:value="source"/>
                                        <input th:type="hidden"
                                               th:field="*{glLinesList[__${rowStat.index}__].accountType}"
                                               th:id="accountType+${rowStat.count}"
                                               th:value="accountType"/>

                                        <input th:type="hidden"
                                               th:field="*{glLinesList[__${rowStat.index}__].excgangeRate}"
                                               th:value="excgangeRate"/>
                                        <input th:type="hidden"
                                               th:field="*{glLinesList[__${rowStat.index}__].excDate}"
                                               th:value="excDate"/>
                                        <input th:type="hidden"
                                               th:field="*{glLinesList[__${rowStat.index}__].column.createdBy}"
                                               th:value="excDate"/>
                                        <input th:type="hidden"
                                               th:field="*{glLinesList[__${rowStat.index}__].column.creationDate}"
                                               th:value="excDate"/>
                                        <input class="form-control " th:type="hidden"
                                               th:field="*{glLinesList[__${rowStat.index}__].drAmount}"/>

                                    </div>

                                    <div class="col-sm-3 form-group accgl-col top_marg brderright ">
                                        <input class="form-control combatcr" th:type="text" align="left_col" id="amtcr"  required="required"
                                               th:field="*{glLinesList[__${rowStat.index}__].crAmount}"
                                               oninput="return calcRctAmt()"
                                               th:readonly="${(glHeaderRct.status == T(com.aye.web.model.common.GlStatus).P)}"/>
                                    </div>
                                    <div class="col-sm-3 form-group accgl-col top_marg brderright">
                                        <input class="form-control" th:type="text"
                                               th:field="*{glLinesList[__${rowStat.index}__].description}"
                                               th:readonly="${(glHeaderRct.status == T(com.aye.web.model.common.GlStatus).P)}"/>
                                    </div>
                                    <div class="col-sm-1 form-group accgl-col " align="center"
                                         style="text-align: center "
                                         th:if="${(glHeaderRct.status == T(com.aye.web.model.common.GlStatus).N)}">
                                        <button class="btn-danger" type="submit" name="removeRow"
                                                th:value="${rowStat.index}" style="font-size: 10px; margin-top: 4px;">
                                            Remove
                                        </button>
                                    </div>


                                    <script th:inline="javascript">

                                        function lineSourceNameObj(objparm, pId) {
                                            var lpId=pId;
                                            var objparmV = objparm;
                                            var fieldId='#sourceId'+lpId;

                                            $(fieldId).val(objparmV.id).trigger("change");
                                            $('#id' + lpId).val(objparmV.accCodeCombinitions.id).trigger("change");
                                            $('#source' + lpId).val(objparmV.accCodeCombinitions.accountSource).trigger("change");
                                            $('#accountType' + lpId).val(objparmV.accCodeCombinitions.accountSource).trigger("change");
                                        }
                                        ;


                                        document.getElementById('sourceName'+[[${rowStat.count}]]).oninput = function () {
                                            var lId=[[${rowStat.count}]];
                                            myFunction(lId)
                                        };


                                        function myFunction(pId) {
                                            // alert(pId);

                                            var innerVar = document.getElementById('sourceName'+pId).value;
                                            if (innerVar.length == 2) {
                                                callAutoCom(innerVar, pId);
                                                document.getElementById('sourceName'+pId).focus();
                                            }
                                        }
                                        function callAutoCom(param, pId) {
                                            //alert("xx"+pId);
                                            var indIdV = pId;
                                            var org = [[${orgHierarchy.id}]];
                                            var src = 'AR';
                                            var displayfields = '#sourceName' + indIdV;
//                                            var urlvals = '/AYE/ACRC/SearchSource/'+src+'/'+org;
                                            var urlvals = '/AYE/ACRC/SearchSource/' + src + '/' + org + '/' + param;
                                            var dbfields = '#sourceId' + indIdV;
                                            var getvalues = 'name';
                                            var template = 'siteName'
                                            var indc = 'lineSourceName'
                                            //alert(urlvals);
                                            autocomwithobject(urlvals, getvalues, displayfields, dbfields, template, indc, indIdV);
                                        }
                                        ;

                                    </script>

                                    <div>
                                    </div>
                                </div>

                                <div class="col-sm-12 accgl-col brder ">
                                    <div class="col-sm-1 accgl-col brderright" style="width: 20px"></div>
                                    <div class="col-sm-4 accgl-col brderright"><b>Total</b></div>
                                    <div class="col-sm-3 accgl-col brderright total-combatcr" style="padding-left: 10px !important;"></div>

                                    <div class="col-sm-4 accgl-col " align="center"></div>
                                </div>


                                <script>
                                    $(document).ready(function () {
                                       postBtnVisbly();
                                    });
                                    $(document).ready(function () {
                                        calcRctAmt();
                                    });

                                </script>


                                <div class="col-sm-12 brder btn_padd" align="right"
                                     th:if="${(glHeaderRct.status == T(com.aye.web.model.common.GlStatus).N)}">
                                    <button id="postId" type="submit" th:name="post" class="btn btn-primary postId" align="right"
                                            onclick="return prevDbClick(this.id)"
                                            th:if="${POST}">
                                        Post
                                    </button>

                                    <button type="submit" th:name="addRow" class="btn btn-primary ">Add Row
                                    </button>
                                    <span th:if="${#lists.size(glHeaderRct.glLinesList) &gt; 0}">
                                    <button type="submit" name="saveDetail" class="btn btn-success" id="btDetSave" onclick="return multipleFuncCall(this.id)"
                                            align="right">Save Lines
                                    </button></span>

                                </div>


                            </div>
                        </form>


                    </form>

                </div>
                <div class="panel-footer">
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
