<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<link th:href="@{/css/acc/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>
<link th:href="@{/css/acc/acccommon.css}" rel="stylesheet"/>

<script th:src="@{/js/acc/easyAutocomplete/accautocomplete.js}"></script>
<script th:src="@{/js/acc/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>
<script th:src="@{/js/acc/accvalidation.js}"></script>
<script th:src="@{/js/common.js}"></script>

</html>