<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:insert="Account/AccScriptLink"/>
    <!--</script>-->

    <script>

        function selectedobj(value, ind) {
            if (ind == 'prePayInvCat') {
                //alert('m');

                sourcedobj(value);
            }
        }
    </script>

</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Manage Journal Categories</div>
                <div class="panel-body">

                    <form th:action="@{'/Acc/glCategories/'+${mode}+'/'+${pageId}+'/'+${temltId}}"
                          th:object="${glCategories}" th:method="post">
                        <!--+${role.role}  +${role.role}-->
                        <span style="color: #ed1c24;font-weight: bold" th:text="${msg}"></span>


                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputid" placeholder="Id" th:field="*{id}"
                                   name="id"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">User Name Error</span>
                        </div>


                        <div th:class="${#fields.hasErrors('categoriesCode')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class="col-sm-3 control-label " for="inputcategoriesCode">Code</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-8 ">
                                <input type="text" id="inputcategoriesCode" placeholder="Code"
                                       name="categoriesCode" th:field="*{categoriesCode}" class="form-control"/>

                                <p th:errors="*{categoriesCode}" class="help-block"></p>
                            </div>
                        </div>

                        <div th:class="${#fields.hasErrors('accountSource')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class="col-sm-3 control-label " for="inputaccountSource">Source</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-8">
                            <select class="form-control" name="accountSource"
                                    id="inputaccountSource" th:field="*{accountSource}"
                                    required="required">
                                <option value="">Please select One</option>
                                <option th:each="module : ${T(com.aye.web.model.common.AccountSource).values()}"
                                        th:text="${module}"
                                        th:value="${module}">module
                                </option>
                            </select>
                            <!--<div class="col-sm-8 ">-->
                                <!--<input type="text" id="inputaccountSource" placeholder="Source"-->
                                       <!--name="accountSource" th:field="*{accountSource}" class="form-control"/>-->

                                <!--<p th:errors="*{accountSource}" class="help-block"></p>-->
                            </div>
                        </div>

                        <div th:class="${#fields.hasErrors('trnsType')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class="col-sm-3 control-label " for="inputtrnsType">Trnsactions Type</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-8">
                                <select class="form-control" name="trnsType"
                                        id="inputtrnsType" th:field="*{trnsType}"
                                        required="required">
                                    <option value="">Please select One</option>
                                    <option th:each="module : ${T(com.aye.web.model.gl.GlCategories.TrnsTypes).values()}"
                                            th:text="${module}"
                                            th:value="${module}">module
                                    </option>
                                </select>
                                <!--<div class="col-sm-8 ">-->
                                <!--<input type="text" id="inputaccountSource" placeholder="Source"-->
                                <!--name="accountSource" th:field="*{accountSource}" class="form-control"/>-->

                                <!--<p th:errors="*{accountSource}" class="help-block"></p>-->
                            </div>
                        </div>


                        <div th:class="${#fields.hasErrors('name')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class="col-sm-3 control-label " for="inputname">Name</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-8 ">
                                <input type="text" id="inputname" placeholder="Name"
                                       name="name" th:field="*{name}" class="form-control"/>

                                <p th:errors="*{name}" class="help-block"></p>
                            </div>
                        </div>

                        <div th:class="${#fields.hasErrors('prifix')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class="col-sm-3 control-label " for="inputprifix">Prifix</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-8 ">
                                <input type="text" id="inputprifix" placeholder="Prifix"
                                       name="prifix" th:field="*{prifix}" class="form-control"/>

                                <p th:errors="*{prifix}" class="help-block"></p>
                            </div>
                        </div>

                        <div th:class="${#fields.hasErrors('description')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">
                            <label class="col-sm-3 control-label " for="inputdescription">Description</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-8 ">
                                <input type="text" id="inputdescription" placeholder="Description"
                                       name="description" th:field="*{description}" class="form-control"/>

                                <p th:errors="*{description}" class="help-block"></p>
                            </div>
                        </div>


                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3 control-label " for="inputstartDates">Start Date</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <!--<input type="excDate" value="01-01-2019" class="form-control" id="inputStartDate" placeholder="yyyy-MM-dd" th:field="*{startDates}"-->
                                <!--name="startDates" />-->
                                <input class="form-control" type="date" value="01-01-2019" id="inputstartDates"
                                       placeholder="yyyy-MM-dd" th:field="*{{startDates}}" name="startDates"/>
                                <!--<input class="form-control" required="required"  type="excDate"  id="inputfromDate" placeholder="From Date"-->
                                <!--th:field= "*{fromDate}" th:value="*{fromDate}"-->
                                <!--name="fromDate" />-->
                                <span class="help-block" th:if="${#fields.hasErrors('startDates')}"
                                      th:errors="*{startDates}">From Date Error</span></div>
                        </div>


                        <div class="form-group required col-sm-12">
                            <label class="col-sm-3 control-label " for="inputendDates">End Date</label>

                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control" type="date" value="01-01-2019" id="inputendDates"
                                       placeholder="yyyy-MM-dd" th:field="*{{endDates}}" name="endDates"/>
                                <!--<input class="form-control" required="required"  type="excDate" value="01-01-2019" id="inputtoDate" placeholder="To Date" th:field="*{toDate}" name="toDate" />-->
                                <span class="help-block" th:if="${#fields.hasErrors('endDates')}"
                                      th:errors="*{endDates}">To Date Error</span></div>
                        </div>


                        <div th:class="${#fields.hasErrors('isPrePayment')} ? 'form-group has-error' :'form-group required col-sm-12 ' ">

                            <label class="col-sm-3 control-label " for="inputisPrePayment">PrePayment</label>

                            <div class="col-sm-1 "><b>:</b></div>
                            <div class="col-sm-2 ">

                                <select class="form-control" name="isPrePayment"
                                        id="inputisPrePayment" th:field="*{isPrePayment}"
                                        required="required">
                                    <option value="">select One</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>

                                </select>

                                <script th:inline="javascript">


                                    $("#inputisPrePayment").change(function () {
                                        var varSource = ($(this.options[this.selectedIndex]).val());
                                //alert(varSource);
                                        if(varSource==1) {
                                            document.getElementById("inputprePayInvCatCode").disabled = false;
                                        }
                                        else {

                                            document.getElementById("inputprePayInvCatCode").disabled = true;
                                            document.getElementById('inputprePayInvCatCode').value = ''
                                            document.getElementById('inputprePayInvCat').value = ''

                                        }
                                    });
                                </script>




                                <p th:errors="*{isPrePayment}" class="help-block"></p>
                            </div>

                            <label class="col-sm-2 control-label " for="inputprePayInvCat">Invoice Category</label>


                            <div class="col-sm-4 ">

                                <input type="text" id="inputprePayInvCatCode" placeholder="Pre Payment Invoice"
                                       class="form-control" th:field="*{prePayInvCatCode}" th:disabled="disabled"/>

                                <input type="hidden" id="inputprePayInvCat" placeholder="prePayInvCat"
                                       name="prePayInvCat" th:field="*{prePayInvCat}" class="form-control"/>
                                <script th:inline="javascript">
                                    var vmode = [[${mode}]];
                                    if (vmode=='U')
                                    {
                                        //alert(vmode);
                                        var varIsprepay =  document.getElementById("inputisPrePayment").value;

                                        if(varIsprepay==1) {
                                            //alert(varIsprepay);

                                            document.getElementById("inputprePayInvCatCode").disabled = false;
                                        }

                                    }
                                    </script>




                                <script th:inline="javascript">

                                    function sourcedobj(objparms) {


                                        var objparmV = objparms;

                                        var dbfield = '#inputprePayInvCat';

                                        $(dbfield).val(objparmV.id).trigger("change");



                                    }
                                    ;


                                    document.getElementById('inputprePayInvCatCode').oninput = function () {
                                        var gval = document.getElementById('inputprePayInvCatCode').value;

                                        //alert('xx'+gval);
                                        if (gval.length > 1) {
                                            // alert('YY');
                                            prePayInvCatAutocom();
                                            document.getElementById('inputprePayInvCatCode').focus();
                                        }
                                    }

                                    function prePayInvCatAutocom() {
                                        var urlval = '/AYE/ACRC/SearchPrePayInvCat';
//
                                        var displayfields = '#inputprePayInvCatCode';

                                        var dbfields = '#inputprePayInvCat';
                                        var getvalues = 'name';
                                        var templates = 'categoriesCode';
                                        var ind = 'prePayInvCat';


                                        autocomwithobject(urlval, getvalues, displayfields, dbfields, templates, ind);
                                    }
                                </script>

                            </div>
                        </div>


                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumn" placeholder="column"
                                   th:field="*{column.createdBy}" name="column"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('column.createdBy')}"
                                  th:errors="*{column.createdBy}">User Name Error</span>
                        </div>

                        <div class="form-group">
                            <!--<label for="inputid">Name</label>-->
                            <input type="hidden" class="form-control" id="inputcolumn" placeholder="column"
                                   th:field="*{column.creationDate}" name="column"/>
                            <!--<input type="text" class="form-control" id="inputinvtrnsName" placeholder="Inv Trns Name" th:field="*{transactionName}" name="transactionName"/>-->
                            <span class="help-block" th:if="${#fields.hasErrors('column.creationDate')}"
                                  th:errors="*{column.creationDate}">User Name Error</span>
                        </div>

                        <div class="text-right">
                            <a th:href="@{/Acc/glCategories/E/}+${pageId}+'/'+${temltId}"
                               class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>


                    </form>


                    <div class="form-group">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <!--User <a th:href="@{'/OM/segmentAdd/'}+ ${pageId}" class="btn btn-primary"><span-->
                                    <!--class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>-->
                                </div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Module</th>
                                        <th>Code</th>
                                        <th>Source</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                        <th>Start</th>
                                        <th>End</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <div th:if="!${#lists.isEmpty(allGlCategories)}">
                                        <tr th:each="cat : ${allGlCategories}">
                                            <td th:text="*{cat.categoriesCode}"></td>
                                            <td th:text="*{cat.name}"></td>
                                            <td th:text="*{cat.accountSource}"></td>
                                            <td th:text="*{cat.TrnsType}"></td>
                                            <td th:text="*{cat.description}"></td>
                                            <td th:text="*{{cat.startDates}}">01-01-2019</td>
                                            <td th:text="*{cat.endDates}"></td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="...">
                                                    <a th:href="@{/Acc/editGlCategories/U/} + ${pageId}+'/'+ ${temltId}+'/'+${cat.id}"
                                                       class="btn btn-success"><span
                                                            class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                                </div>
                                            </td>

                                        </tr>
                                    </div>
                                    <div th:if="${#lists.isEmpty(allGlCategories)}">
                                        <tr>
                                            <td>No Data exists!</td>
                                        </tr>
                                    </div>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
