<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/layout}">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}">

    <title>Ticket</title>

    <!-- Bootstrap -->
    <script th:src="@{/js/jqueryAutoComplete/jquery.easy-autocomplete.min.js}"></script>
    <script th:src="@{/js/jqueryAutoComplete/autocompleteEmployee.js}"></script>
    <script th:src="@{/js/ticket/addTicket.js}"></script>


</head>
<body>


<div class="right_col" role="main" data-layout-fragment="content">
    <div style="margin: auto;width: 70%" class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create Ticket</h3>
                    <div th:if="${message != null}"
                         style="width: 100%;margin:0 auto;margin-top: 10px;margin-bottom: 10px"
                         class="alert alert-info align-content-center" role="alert">
                        <span th:if="${message != null}" th:text="${message}"></span>
                    </div>
                    <div id="errorMessage" style="width: 100%;margin:0 auto;margin-top: 20px;margin-bottom: 5px;display: none" class="alert alert-info"></div>
                </div>
                <div class="panel-body">
                    <form th:object="${ticket}" th:action="@{/ticket/submit}" onsubmit="return validateForm()"  enctype="multipart/form-data" method="post">


                        <div class=" col-sm-12">
                            <div class="form-group">
                                <label for="summary">Summary:</label>
                                <input type="text" class="form-control" th:field="*{summary}" id="summary"
                                       placeholder="Enter Summary..."
                                       name="summary" >
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group required">
                                <label for="description">Description:</label>
                                <textarea class="form-control" th:field="*{description}" id="description"
                                       placeholder="Enter Description..."
                                          name="description"></textarea>
                            </div>
                        </div>


                        <input type="hidden" name="createdById" th:value="${userId}" id="createdById"/>

                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label for="department">Department:</label>
                                <input class="form-control" id="department" placeholder="Enter Department Name...">
                                <input type="hidden" name="departmentId" id="departmentId"/>
                            </div>
                        </div>
                        <div style="margin-top: 0%" class="col-sm-6">
                            <div class="form-group">
                                <label for="team">Team:</label>
                                <input type="text" class="form-control" id="team" placeholder="Enter Team..."
                                       name="team">
                                <input type="hidden" id="teamId" name="teamId">
                            </div>
                        </div>

                        <div class="col-sm-12" id="employeeList">
<!--                            <label for="assignedToUser">Assigned to:</label>-->
                        </div>
                        <br><br>

                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label for="ticketType">Ticket Type:</label>
                                <select class="form-control" name="ticketType" id="ticketType">
                                    <option value="Issue">Issue</option>
                                    <option value="CR">CR</option>

                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label for="priority">Priority:</label>
                                <select class="form-control" name="priority" id="priority">
                                    <option value="high">High</option>
                                    <option value="medium">Medium</option>
                                    <option value="low">Low</option>

                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label for="status">status:</label>
                                <select class="form-control" name="status" id="status">
                                    <option value="Pending">Pending</option>
                                    <option value="start">Start</option>
                                    <option value="end">End</option>

                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label for="targetResolutionDate">Target Resolution Date:</label>
                                <input type="date" class="form-control" th:field="*{targetResolutionDate}"
                                       id="targetResolutionDate"
                                       placeholder="Enter Target Resolution Date..."
                                       name="targetResolutionDate" >
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group required">
                                <label for="file">Attachment:</label>
                                <input type="file" id="file" name="file" accept=".jpg,.jpeg,.png" />
                            </div>
                        </div>



                        <div class="col-sm-12">
                            <button type="submit" value="submit" class="btn btn-success">Submit</button>
                            <a th:href="@{/ticket/}" class="btn btn-primary">New</a>
                        </div>

                    </form>

                    <div class="form-group col-sm-12" style="margin-top: 5%">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Summary</th>
                                <th scope="col">Description</th>
                                <th scope="col">Department</th>
                                <th scope="col">Assigned To</th>
                                <th scope="col">Target Date</th>
                                <th scope="col">Team</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="t, rowStat  : ${tickets}">
                                <th scope="row" th:text="${rowStat.index+1}"></th>
                                <td th:text="${t.summary}"></td>
                                <td th:text="${t.description}"></td>
                                <td th:text="${t.departmentName}"></td>
                                <td th:text="${t.assignedToName}"></td>
                                <td th:text="${t.targetResolutionDate}"></td>
                                <td th:text="${t.departmentName}"></td>
                                <td>
                                    <a th:href="@{'/ticket/view/' + ${t.id}}"><i class="fa fa-edit"></i>View</a>
<!--                                    <a th:href="@{'/ticket/edit/' + ${t.id}}"><i class="fa fa-edit"></i>Edit</a>-->
<!--                                    || <a th:href="@{'/ticket/delete/' + ${t.id}}"><i class="fa fa-remove"></i>Remove</a>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        function validateForm() {
            // Get references to the input fields
            var summary = document.getElementById('summary');
            var description = document.getElementById('description');
            var departmentId = document.getElementById('departmentId');
            var assignedToUser = $('input[name="assignedToUser"]:checked').val();
            console.log(assignedToUser);
            var ticketType = document.getElementById('ticketType');
            var priority = document.getElementById('priority');
            var status = document.getElementById('status');
            var targetResolutionDate = document.getElementById('targetResolutionDate');
            var errorMessage = document.getElementById('errorMessage');

            // Define error messages for each input field
            var errorMessages = {
                summary: 'Please enter a summary.',
                description: 'Please enter a description.',
                department: 'Please enter a department.',
                assignedTo: 'Please enter Assigned Employee.',
                ticketType: 'Please select a ticket type.',
                priority: 'Please select a priority.',
                status: 'Please select a status.',
                targetResolutionDate: 'Please enter a target resolution date.'
            };

            // Check if any of the required fields are empty or null
            if (summary.value.trim() === '') {
                showErrorMessage(errorMessages.summary);
                return false; // Prevent form submission
            }
            if (description.value.trim() === '') {
                showErrorMessage(errorMessages.description);
                return false;
            }
            if (departmentId.value.trim() === '') {
                showErrorMessage(errorMessages.department);
                return false;
            }

            if (assignedToUser === undefined) {
                showErrorMessage(errorMessages.assignedTo);
                return false;
            }
            if (ticketType.value.trim() === '') {
                showErrorMessage(errorMessages.ticketType);
                return false;
            }
            if (priority.value.trim() === '') {
                showErrorMessage(errorMessages.priority);
                return false;
            }
            if (status.value.trim() === '') {
                showErrorMessage(errorMessages.status);
                return false;
            }
            if (targetResolutionDate.value.trim() === '') {
                showErrorMessage(errorMessages.targetResolutionDate);
                return false;
            }

            // All fields are valid, hide the error message and allow form submission
            hideErrorMessage();
            return true;
        }

        function showErrorMessage(message) {
            var errorMessage = document.getElementById('errorMessage');
            errorMessage.innerText = message;
            errorMessage.style.display = 'block';
        }

        function hideErrorMessage() {
            var errorMessage = document.getElementById('errorMessage');
            errorMessage.style.display = 'none';
        }
    </script>


</div>


<!-- jQuery -->

</body>
</html>
