<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/layout}">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}">

    <title>Ticket</title>

    <!-- Bootstrap -->
    <script th:src="@{/js/jqueryAutoComplete/jquery.easy-autocomplete.min.js}"></script>
    <script th:src="@{/js/jqueryAutoComplete/autocompleteEmployee.js}"></script>
    <script th:src="@{/js/ticket/viewTicket.js}"></script>


</head>
<body>


<div class="right_col" role="main" data-layout-fragment="content">
    <div style="margin: auto;width: 70%" class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">View Ticket</h3>
                    <div th:if="${message != null}"
                         style="width: 100%;margin:0 auto;margin-top: 10px;margin-bottom: 10px"
                         class="alert alert-info align-content-center" role="alert">
                        <span th:if="${message != null}" th:text="${message}"></span>
                    </div>
                </div>
                <div class="panel-body">
                    <form th:object="${ticket}" th:action="@{/ticket/submit}" enctype="multipart/form-data"
                          method="post">


                        <div class=" col-sm-12">
                            <div class="form-group">
                                <label for="summary">Summary:</label>
                                <input class="form-control" th:field="*{summary}" id="summary"
                                       placeholder="Enter Summary..."
                                       name="summary" required readonly>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group required">
                                <label for="description">Description:</label>
                                <input type="text" class="form-control" th:field="*{description}" id="description"
                                       placeholder="Enter Description..."
                                       name="description" required readonly>
                            </div>
                        </div>


                        <input type="hidden" name="createdById" th:value="*{createdById}" id="createdById"/>

                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label for="department">Department:</label>
                                <input class="form-control" id="department" th:value="*{departmentName}"
                                       placeholder="Enter Department Name..."
                                       required readonly>
                                <input type="hidden" name="departmentId" id="departmentId"/>
                            </div>
                        </div>
                        <div style="margin-top: 0%" class="col-sm-6">
                            <div class="form-group">
                                <label for="team">Team:</label>
                                <input type="text" class="form-control" id="team" th:value="*{teamName}"
                                       placeholder="Enter Team..."
                                       name="team" readonly>
                                <input type="hidden" id="teamId" name="teamId">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label for="status">Assigned To :</label>
                                <input type="text" class="form-control" id="assignedToName" th:value="*{assignedToName}"
                                       placeholder="Enter assigned To..."
                                       name="assignedToName" readonly>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label for="status">Assigned By :</label>
                                <input type="text" class="form-control" id="assignedByName" th:value="*{assignedByName}"
                                       placeholder="Enter Team..."
                                       name="assignedByName" readonly>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label for="ticketType">Ticket Type:</label>
                                <input type="text" class="form-control" name="ticketType" th:value="*{ticketType}"
                                       id="ticketType" readonly>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label for="priority">Priority:</label>
                                <input type="text" class="form-control" name="priority" th:value="*{priority}"
                                       id="priority" readonly>
                                </input>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label for="status">status:</label>
                                <input type="text" class="form-control" name="status" th:value="*{status}" id="status"
                                       readonly>
                                </input>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label for="targetResolutionDate">Target Resolution Date:</label>
                                <input type="date" class="form-control" th:field="*{targetResolutionDate}"
                                       id="targetResolutionDate"
                                       placeholder="Enter Target Resolution Date..."
                                       name="targetResolutionDate" required readonly>
                            </div>
                        </div>

                        <div th:if="${ticket.fileId != null}" id="attachment" class="col-sm-6">
                            <div class="form-group required">
                                <label for="inputImageId">Attachment Name:</label><br>
                                <button type="button" id="inputImageId" class="btn btn-success">View Image</button>
                                <span style="font-weight: bold; margin-left: 2%; color: dimgrey; font-size: 14px;"
                                      th:text="*{filename}"></span>
                                <span hidden id="fileId" th:text="*{fileId}"></span>
                                <div id="imageContainer">
                                    <img id="imageElement">
                                </div>
                            </div>
                        </div>
                        <div th:if="${ticket.fileId == null}" class="col-sm-6">
                            <div class="form-group required">
                                <label for="file">Attachment Name:</label><br>
                                <span>No Image</span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <a th:href="@{/ticket/}" class="btn btn-primary">Back</a>
                        </div>


                        <!--            <div class="col-sm-12">-->
                        <!--              <button type="submit" value="submit" class="btn btn-primary">Submit</button>-->
                        <!--            </div>-->

                    </form>

                    <div class="form-group col-sm-12" style="margin-top: 5%">
                        <span style="font-weight: bold; font-size: 14px;">Ticket History : </span>
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Assigned By</th>
                                <th scope="col">Assigned To</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Last Status</th>
                                <!--                <th scope="col">Action</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="t, rowStat  : ${ticketHistory}">
                                <th scope="row" th:text="${rowStat.index+1}"></th>
                                <td th:text="${t.assignedByName}"></td>
                                <td th:text="${t.assignedToName}"></td>
                                <td th:text="${t.startDate}"></td>
                                <td th:text="${t.endDate}"></td>
                                <td th:text="${t.prevStatus}"></td>
                                <!--                <td>-->
                                <!--                  <a th:href="@{'/employee/edit/' + ${t.id}}"><i class="fa fa-edit"></i>Edit</a>-->
                                <!--                  || <a th:href="@{'/employee/delete/' + ${t.id}}"><i class="fa fa-remove"></i>Remove</a>-->
                                <!--                </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

    </script>


</div>


<!-- jQuery -->

</body>
</html>
