
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:insert="InvFin/InvFinScriptLink"/>
    <!--<link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>-->

    <!--<script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>-->
    <!--<script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>-->
    <!--<script>-->


    <!--</script>-->

</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->

                <div class="panel-heading">Inventory Financial Process</div>

                <div class="panel-body">

                    <form th:action="@{'/InvFin/process/'+${mode}+'/'+${pageId}+'/'+${temltId}}"
                          th:object="${invcstGroupDto}"  th:method="post">


                        <!--<button type="submit" name="rpt" th:value="Journal_voucher" class="btn btn-primary">Voucher</button>-->
                        <!--color: #ed1c24;-->
                        <span style="font-weight: bold" th:each="m :${msg}"><p
                                th:style="${m.tag} ? 'color:#ed1c24;':'color:#4aa509;'"
                                th:text="${m.tag} ? ${m.tag+' '+m.msg}: ${m.msg}"></p></span>

                        <!--<div class="form-group">-->
                            <!--&lt;!&ndash;<label for="inputSegment1">Name</label>&ndash;&gt;-->
                            <!--<input type="hidden" class="form-control" id="inputid"-->
                                   <!--th:field="*{id}" />-->
                            <!--<span class="help-block" th:if="${#fields.hasErrors('id')}"-->
                                  <!--th:errors="*{id}">Name Error</span>-->
                        <!--</div>-->
                        <div>
                            <input type="hidden" class="form-control" name="orgHierarchy" id="inputorgHierarchy" th:field="*{orgHierarchy}" required="required" />
                            <input type="hidden" class="form-control" name="invCstGroupId" id="inputinvCstGroupId" th:field="*{invCstGroupId}" required="required" />
                            <input type="hidden" class="form-control" name="name" id="inputname" th:field="*{name}" required="required" />
                            <input type="hidden" class="form-control" name="method" id="inputmethod" th:field="*{method}" required="required" />
                        </div>



                        <div class="form-group  col-sm-12" >
                            <div class="form-group col-sm-12">
                                <label class="col-sm-5 control-label "> </label>
                                <label class="col-sm-3 control-label "> Period </label>
                                <label class="col-sm-3 control-label "> Mode </label>
                                <!--<label class="col-sm-1       control-label "> Close Inventory Period </label>-->
                            </div>
                        </div>
                        <div class="form-group  col-sm-12" >
                            <div class="form-group col-sm-12">
                                <label class="col-sm-4 control-label "> Period </label>
                                <div class="col-sm-1 ">
                                    <b>:</b>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" id="inputcalendarDetail" th:field="*{calendarDetail}" name="calendarDetail" required>
                                        <option value="">Select</option>
                                        <option th:each="c :${calenders}" th:text="${c.periodName}" th:value="${c.id}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="inputcstStatus" th:field="*{cstStatus}" name="cstStatus" required>
                                        <option value="">Select</option>
                                        <option th:each="c : ${T(com.aye.web.model.Common.CstStatus).values()}" th:text="${c.displayName}" th:value="${c}">
                                        </option>
                                    </select>
                                </div>
                                <!--<div class="col-sm-1">-->
                                    <!--<input type="radio" class="form-control" name="invClosed" id="inputinvClosed" th:field="*{invClosed}" th:value="true"/>-->
                                <!--</div>-->

                            </div>
                        </div>


                        <!--<div class="form-group  col-sm-12" >-->
                            <!--<div class="form-group col-sm-12">-->
                                <!--<label class="col-sm-4 control-label ">Inventory Period </label>-->
                                <!--<div class="col-sm-1 ">-->
                                    <!--<b>:</b>-->
                                <!--</div>-->
                                <!--<div class="col-sm-1" >-->
                                <!--<input type="radio" class="form-control" name="invClosed" id="inputinvClosed" th:field="*{invClosed}" required="required" th:value="false"/>-->
                                    <!--<label th:for="inputinvClosed">Closed</label>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->


                        <div class="form-group  col-sm-12" >
                            <div class="form-group col-sm-12">
                                <label class="col-sm-4 control-label "> Schedule </label>
                                <div class="col-sm-1 ">
                                    <b>:</b>
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control" id="inpuSchedule" th:field="*{schedule}" name="schedule" >
                                        <option value="">Immediate</option>
                                        <option th:each="s :${scheduleList}" th:text="${s.name}" th:value="${s.id}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="col-sm-12 brder accgl-col">
                                <div class="col-sm-1 accgl-col brderright" style="width: 20px">SL</div>
                                <div class="col-sm-10 accgl-col brderright " align="center">Process Name</div>
                                <!--<div class="col-sm-3 accgl-col brderright" align="center">Supplier</div>-->
                                <!--<div class="col-sm-2 accgl-col brderright" align="center">Item</div>-->
                                <!--<div class="col-sm-2 accgl-col brderright" align="center">Sub & Locator</div>-->
                                <!--<div class="col-sm-1 accgl-col brderright" align="center">Quantity</div>-->
                                <div class="col-sm-1 accgl-col brderrigh" align="center">Select</div>
                            </div>
                            <div class="col-sm-12 accgl-col brder "
                                 th:each="lines,rowStat : *{invCstStepDtos}">
                                <div class="col-sm-1  form-group accgl-col high_control top_marg brderright"
                                     th:text="${rowStat.count}" style="width: 20px">1
                                </div>
                                <div class="col-sm-5 form-group accgl-col top_marg brderright">
                                    <input class="td form-control " th:type="hidden"
                                           th:field="*{invCstStepDtos[__${rowStat.index}__].invCstStepId}"
                                           height="2" readonly="readonly"/>
                                    <input class="td form-control " th:type="hidden"
                                           th:field="*{invCstStepDtos[__${rowStat.index}__].invCstGroup}"
                                           height="2" readonly="readonly"/>
                                    <input class="td form-control " th:type="hidden"
                                           th:field="*{invCstStepDtos[__${rowStat.index}__].glCategories}"
                                           height="2" readonly="readonly"/>
                                    <input class="td form-control " th:type="hidden"
                                           th:field="*{invCstStepDtos[__${rowStat.index}__].processList}"
                                           height="2" readonly="readonly"/>
                                    <!--<input class="td form-control " th:type="hidden"-->
                                           <!--th:field="*{invCstStepDtos[__${rowStat.index}__].invCstStepLinesDtos}"-->
                                           <!--height="2" readonly="readonly"/>-->
                                    <input class="td form-control " th:type="text"
                                           th:field="*{invCstStepDtos[__${rowStat.index}__].stapeName}"
                                           height="2" readonly="readonly"/>
                                </div>

                                <div class="col-sm-5 form-group accgl-col top_marg brderright">
                                    <input class="td form-control " th:type="text"
                                           th:field="*{invCstStepDtos[__${rowStat.index}__].actionName}"
                                           height="2" readonly="readonly"/>
                                </div>


                                <div class="col-sm-1 form-group accgl-col top_marg ">
                                    <input class="td form-control " type="checkbox"
                                           th:field="*{invCstStepDtos[__${rowStat.index}__].isProcess}"
                                           height="2" readonly="readonly"/>

                                </div>

                            </div>



                        </div>





                        <div class="form-group  col-sm-12 text-right Padding10px">
                            <a th:href="@{/Concurrent/getUserConc}+'/'+0+'/'+${temltId}"
                               class="btn btn-default">View Requests</a>
                                <button  type="submit" name="save" class="btn btn-primary">Save</button>
                        </div>


                    </form>

                    <!--<div >-->
                        <!--<div class="row">-->
                            <!--<table class="table table-bordered table-hover table-striped">-->
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th>Organization</th>-->
                                    <!--<th>Name</th>-->
                                    <!--<th>PO Prefix</th>-->
                                    <!--<th>Purchase Acc.</th>-->
                                    <!--<th>Edit</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                <!--<div th:if="!${#lists.isEmpty(trnsTypes)}">-->
                                    <!--<tr th:each="trns : ${trnsTypes}">-->
                                        <!--<td th:text="*{trns.orgHierarchy.name}"></td>-->
                                        <!--<td th:text="*{trns.name}"></td>-->
                                        <!--<td th:text="*{trns.poPrefix}"></td>-->
                                        <!--<td th:text="(*{trns.purchasingAccountV} ? *{trns.purchasingAccountV.concatedSegment}:'')"></td>-->
                                        <!--<td>-->
                                            <!--<div class="btn-group" role="group" aria-label="...">-->
                                                <!--<a th:href="@{/poTrnsType/addTrnsType/U/} + ${pageId}+'/'+${temltId}+'/'+${trns.id}"-->
                                                   <!--class="btn btn-success"><span-->
                                                        <!--class="glyphicon glyphicon-edit"-->
                                                        <!--aria-hidden="true">Edit</span></a>-->
                                            <!--</div>-->
                                            <!--<div class="btn-group" role="group" aria-label="...">-->
                                                <!--<a th:href="@{/poTrnsType/deleteTrnsType/U/} + ${pageId}+'/'+${temltId}+'/'+${trns.id}"-->
                                                   <!--class="btn btn-danger"><span-->
                                                        <!--class="glyphicon glyphicon-trash"-->
                                                        <!--aria-hidden="true">Delete</span></a>-->
                                            <!--</div>-->
                                        <!--</td>-->
                                    <!--</tr>-->

                                <!--</div>-->
                                <!--</tbody>-->
                                <!--</table>-->
                            <!--</div>-->
                        <!--</div>-->


                        </div>



                <div class="panel-footer">
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>

</body>
</html>
