<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:insert="InvFin/InvFinScriptLink"/>
    <!--<link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>-->

    <!--<script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>-->
    <!--<script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>-->

    <script th:inline="javascript">
        function selectedobj(value, ind) {
//            alert(ind);
            if(ind == 'CstItemSearch')
            {
                SearchCstItem(value);
            }
            if(ind == 'ItmCstPeriod')
            {
                SearchCstYear(value);
            }

        }
    </script>

</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Item Cost Adjestment Search</div>
                <div class="panel-body">
                    <form th:action="@{'/InvFin/ItemCostAdjSearch/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${invOrgId} }"
                          th:object="${search}" th:method="post">

                        <div class="form-group col-sm-12 ">
                            <label class="col-sm-3 control-label " for="inputinvCstComponent">Cost Component </label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <select class="form-control" name="invCstComponent"
                                        id="inputinvCstComponent" th:field="*{invCstComponent}" >
                                    <option value="">Please select One</option>
                                    <option th:each="compo : ${invCstComponents}" th:text="${compo.name}"
                                            th:value="${compo.id}"
                                            >
                                    </option>
                                </select>


                                <span class="help-block" th:if="${#fields.hasErrors('invCstComponent')}"
                                      th:errors="*{invCstComponent}">Name Error</span>
                            </div>
                        </div>



                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputItemCode">Item</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control" type="text" id="inputItemCode"
                                       th:field="*{ItemCode}" name="ItemCode" placeholder="Item" />

                                <input class="form-control" type="hidden" id="inputMasterItemId" th:field="*{masterItem.id.id}" />
                                <input class="form-control" type="hidden" id="inputMasterItemInvOrgId" th:field="*{masterItem.id.inventoryInformations.id}" />

                                <script th:inline="javascript">

                                    function SearchCstItem(objparms) {
                                        var objparmV = objparms;
                                        $('#inputItemCode').val(objparmV.itemCode).trigger("change");
                                        $('#inputMasterItemId').val(objparmV.id.id).trigger("change");
                                        $('#inputMasterItemInvOrgId').val(objparmV.id.inventoryInformations.id).trigger("change");
                                        $('#inputItemDesc').val(objparmV.description).trigger("change");
                                    }
                                    document.getElementById('inputItemCode').oninput = function () {

                                        var itmCode = document.getElementById('inputItemCode').value;
                                        if (itmCode.length > 1) {

                                            var  lInvOrg=document.getElementById('inputinvOrg').value;

                                            var itemUrl = '/AYE/ACRC/SearchOrgItemCode/' +lInvOrg+ '/' +  itmCode;
//                                            alert(itemUrl);
                                            autocomwithobject(itemUrl, 'itemCode', '#inputItemCode', null, 'description', 'CstItemSearch');
                                            document.getElementById('inputItemCode').focus();
                                        }else
                                        {
                                            $('#inputItemDesc').val('');
                                        }
                                    }

                                </script>
                                <input type="hidden" th:field="*{invOrg}" name="invOrg" id="inputinvOrg" />
                                <span class="help-block" th:if="${#fields.hasErrors('ItemCode')}"
                                      th:errors="*{ItemCode}">Name Error</span>
                            </div>
                            <!--<div class="col-sm-4  ">-->
                                <!--<input class="form-control" type="date" value="01-01-2019" id="inputcostDate"-->
                                       <!--th:field="*{{costDate}}"-->
                                       <!--name="fromDate"/>-->
                                <!--<span class="help-block" th:if="${#fields.hasErrors('costDate')}"-->
                                      <!--th:errors="*{costDate}">Date Error</span>-->
                            <!--</div>-->
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputperiodName"></label>
                            <div class="col-sm-1 ">

                            </div>
                            <div class="col-sm-8 ">

                                <input class="form-control" type="text" id="inputItemDesc"  th:field="*{masterItem.description}" placeholder="Description" readonly/>
                            </div>
                        </div>


                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputperiodName">Period</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="text" id="inputperiodName"  th:field="*{periodName}" placeholder="Period" />
                                <input class="form-control" type="hidden" id="calendarDetail"  th:field="*{calendarDetail}" />
                                <script th:inline="javascript">

                                    function SearchCstYear(objparms) {
                                        var objparmV = objparms;
                                        $('#inputperiodName').val(objparmV.periodName).trigger("change");
                                        $('#inputyear').val(objparmV.calendarDetail.year).trigger("change");
                                        $('#calendarDetail').val(objparmV.calendarDetail.id).trigger("change");
                                    }
                                    document.getElementById('inputperiodName').oninput = function () {
                                        myFunction();
                                    };
                                    function myFunction() {
                                        var innerVar = document.getElementById('inputperiodName').value;
                                        if (innerVar.length > 1) {
                                            var apmId = [[${appmoduleId}]];
                                            var varInvOrg = document.getElementById('inputinvOrg').value;
                                            var indcYear = 'ItmCstYear';
                                            var cstYearUrl = '/AYE/ACRC/SearchInvOrgCalenderControlStatusNot/' + varInvOrg + '/' + apmId+'/FREEZE' ;

//                                            alert(cstYearUrl);
                                            autocomwithobject(cstYearUrl, 'periodName', '#inputperiodName', null, 'status','ItmCstPeriod');
                                            document.getElementById('inputperiodName').focus();
                                        }
                                    }


                                </script>

                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="text" id="inputyear"  th:field="*{year}" placeholder="Year" readonly="readonly"/>

                            </div>

                        </div>



                        <div class="text-right Padding10px" align="right">
                            <!--<a  th:href="@{/InvItem/MasterItem/E/}+${pageId}+'/'+${temltId}"-->
                            <!--class="btn btn-default">Cancel</a>-->
                            <button type="submit" name="search"  class="btn btn-primary"> Find </button>

                            <a th:href="@{/InvFin/ItemCostAdj/E/}+${pageId}+'/'+${temltId}"
                               class="btn btn-primary">New</a>

                        </div>

                        <div>

                        </div>
                    </form>

                    <div class="form-group col-sm-12">

                        <table class="table table-bordered table-hover table-striped" id="tblDataLine">
                            <thead>

                            <th>Step Name</th>
                            <th>Cost Type</th>
                            <th>Item</th>
                            <th>Period</th>

                            <th>Cost</th>
                            <th>Action</th>
                            </thead>
                            <tbody>

                            <div>
                                <tr th:each="r : ${invItemStpCsts}">
                                    <td th:text="${r.stapeName}"></td>
                                    <td th:text="${r.stpCstType}"></td>
                                    <td th:text="${r.itemCode}"></td>
                                    <td th:text="${r.periodName}"></td>


                                    <td th:text="${r.cost}"></td>
                                    <td>

                                        <div class="btn-group" role="group" aria-label="..." name="edit">
                                            <a th:href="@{/InvFin/ItemCostAdj/U/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}+'/'+${r.headerId}"
                                               class="btn btn-success"><span
                                                    class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                        </div>

                                    </td>


                                </tr>
                            </div>
                            <div th:if="${#lists.isEmpty(invItemStpCsts)}">
                                <tr>
                                    <td>No Data exists!</td>
                                </tr>
                            </div>

                            </tbody>

                        </table>
                    </div>

                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
