<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="fragments/layout">
<head>
    <link th:insert="InvFin/InvFinScriptLink"/>
    <!--<link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>-->

    <!--<script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>-->
    <!--<script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>-->


</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Transaction Details</div>
                <div class="panel-body">
                    <form th:action="@{'/InvFin/ItemCost/'+${mode}+'/'+${pageId}+'/'+${temltId}+'/'+${invOrgId} }"
                          th:object="${invItemCst}" th:method="post">


                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputItemCode">Item</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8 ">
                                <input class="form-control" type="text" id="inputItemCode"
                                       th:field="*{ItemCode}" name="ItemCode" placeholder="Item" readonly="readonly" />

                                <input class="form-control" type="hidden" id="inputId" th:field="*{id}" />
                                <input class="form-control" type="hidden" id="inputMasterItemId" th:field="*{masterItem.id.id}" />
                                <input class="form-control" type="hidden" id="inputMasterItemInvOrgId" th:field="*{masterItem.id.inventoryInformations.id}" />

                                <span class="help-block" th:if="${#fields.hasErrors('ItemCode')}"
                                      th:errors="*{ItemCode}">Name Error</span>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputperiodName">Period</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="text" id="inputperiodName"  th:field="*{periodName}" placeholder="Period" readonly="readonly"/>
                                <input class="form-control" type="hidden" id="inputCalendarDetail"  th:field="*{calendarDetail}" />
                                <input class="form-control" type="hidden" id="costDate"  th:field="*{costDate}" />
                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="text" id="inputyear"  th:field="*{year}" placeholder="Year" readonly="readonly"/>

                            </div>

                        </div>

                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputperiodName">Cost</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="text" id="inputcost"  th:field="*{cost}"
                                       placeholder="cost" readonly="readonly"/>

                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="text" id="inputmasterItemUom"  th:field="*{masterItem.defaultUom.uomCode}"
                                       placeholder="cost" readonly="readonly"/>

                            </div>
                        </div>


                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label " for="inputperiodName">Prior Cost</label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="text" id="inputPriorcost"  th:field="${itmCstPrior.cost}"
                                       placeholder="Cost" readonly="readonly"/>

                            </div>
                            <div class="col-sm-4 ">
                                <input class="form-control" type="text" id="inputClsBalance"  th:field="${invClsBalancePrior.primaryQty}"
                                       placeholder="Closing" readonly="readonly"/>

                            </div>
                        </div>




                        <div class="text-right Padding10px" align="right">

                            <a  th:href="@{/InvFin/ItemCost/E/}+${pageId}+'/'+${temltId}+'/'+${invOrgId}"
                                class="btn btn-default">Search</a>
                            <a  th:href="@{${backUrl}}"class="btn btn-primary">Back</a>

                        </div>

                        <div>

                        </div>
                    </form>


                    <div class="form-group col-sm-14">

                        <table class="table table-hover table-bordered" id="tblDataLine">
                            <thead>
                            <tr class="tablhtop">
                                <th colspan="7" style="padding-top: 2px !important; padding-bottom: 2px !important; border-right-style:hidden !important;">TransactionsDetails </th>
                                <th  colspan="1" style=" text-align:right; padding-top: 2px !important; padding-bottom: 2px !important;" >

                                    <a onclick="exportTableToExcel('tblDataLine')" >
                                        <i class="fa fa-file-excel-o fa_custom_excell fa-1x" aria-hidden="true" title="File Export in Excell"></i>
                                    </a>

                                </th></tr>


                            <th>Type</th>
                            <th>Trns. Action</th>
                            <th>Ref. Number</th>
                            <th>Supplier</th>
                            <th>UOM</th>
                            <th>Qty</th>
                            <th>Cost</th>
                            <th>Amount</th>
                            <!--<th>Detail</th>-->
                            </thead>
                            <tbody>

                            <tr th:each="sc : ${result}">
                                <!--<div th:if="${sc.stpCstType == T(com.aye.web.model.Common.StpCstType).TRANSACTIONAL}">-->
                                <td th:text="${sc.action}"></td>
                                <td th:text="${sc.invRcvType}"></td>
                                <td th:text="${sc.refNumber}"></td>
                                <td th:text="${sc.supplierLine != null} ? ${sc.supplierLine.name} : ''"></td>
                                <!--<td th:text="${sc.invTrnsType.trnsCode}"></td>-->
                                <td th:text="${sc.uomCode}"></td>
                                <td class="combat1" th:text="${sc.primaryQty}"></td>
                                <td th:text="${sc.unitCost}"></td>
                                <td class="combat" th:text="${#numbers.formatDecimal(sc.amount,0, 3, 'POINT')}"></td>
                            </tr>
                            <tr class="font-weight-bold">
                                <td colspan="5" >Total </td>
                                <td class="total-combat1"></td>
                                <td colspan="1" ></td>
                                <td class="total-combat"></td>
                                <!--<td colspan="1"></td>-->
                            </tr>


                            </tbody>

                        </table>
                        <script>
                            $(document).ready(function () {
                                var sum = 0;
                                var sum1 = 0;
                                $('tr').find('.combat').each(function () {
                                    var combat = $(this).text();
                                    if (!isNaN(combat) && combat.length !== 0) {
                                        sum += parseFloat(combat);

                                    }
                                });
//alert(sum);
                                $('.total-combat').html(sum.toFixed(3));

                                $('tr').find('.combat1').each(function () {
                                    var combat = $(this).text();
                                    if (!isNaN(combat) && combat.length !== 0) {
                                        sum1+= parseFloat(combat);

                                    }
                                });
//alert(sum);
                                $('.total-combat1').html(sum1);
                            });
                        </script>

                        <div th:if="${#lists.isEmpty(result)}">
                            <tr>
                                <td>No Data exists!</td>
                            </tr>
                        </div>



                    </div>
                </div>
                <!--<div class="panel-footer">-->
                <!--</div>-->

            </div>
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>
