<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="executableParamList" th:fragment="executableParamList" class="executableParamList">
    <!--<div class="form-group col-sm-12">-->

    <div id="execParams" th:if="!${#lists.isEmpty(executableParamList.executableParameters)}">

        <div class="form-group col-sm-12 "
             th:classappend="${executableParamList.executableParameters[__${paramStat.index}__].isRequired}==true ? required "
             th:each="lParam , paramStat : ${executableParamList.executableParameters}">

            <!--<label class="col-sm-3 control-label " for="inputdocumentNumber">Document Number</label>-->
            <label class="col-sm-4 control-label  " th:text="${lParam.paraMeterName}"></label>

            <div>
                <input th:type="hidden" id="id" th:name="id"
                       th:field="${executableParamList.executableParameters[__${paramStat.index}__].id}"/>

                <input class="form-control" th:type="hidden" id="paraMeterName" th:name="paraMeterName"
                       th:field="${executableParamList.executableParameters[__${paramStat.index}__].paraMeterName}"
                       readonly="readonly"/>
                <input class="form-control" th:type="hidden" th:id="req+${paramStat.index}" th:name="isRequired"
                       th:field="${executableParamList.executableParameters[__${paramStat.index}__].isRequired}"
                       readonly="readonly"/>
                <input class="form-control" th:type="hidden" th:id="displayField+${paramStat.index}"
                       th:name="displayField"
                       th:field="${executableParamList.executableParameters[__${paramStat.index}__].displayField}"/>
            </div>

            <div class="col-sm-1 ">
                <b>:</b>
            </div>

            <div th:classappend="${executableParamList.executableParameters[__${paramStat.index}__].paramButtnSize}"
                 id="mainClild">

                <div th:if="${executableParamList.executableParameters[__${paramStat.index}__].displayField =='select'}">
                    <select
                            class="form-control autocomplete_rptinput"
                            th:id="value+${paramStat.index}"
                            th:name="paraMetervalue"
                            th:field="${executableParamList.executableParameters[__${paramStat.index}__].paraMetervalue}">
                        <option value="">Select one</option>
                        <option th:each="o :${executableParamList.executableParameters[__${paramStat.index}__].dataSetJsonList}"
                                th:text="${o.value}"
                                th:value="${o.id}" th:attr="data-OptionId=${o.id}">Select one
                        </option>

                        <script th:inline="javascript">
                            var lsOp = '#value' + [[${paramStat.index}]];
                            //                                alert(lsOp);

                            //                                "id+${paramStat.count}"
                            $(lsOp).change(function () {
                                        var lsOpId = 'id' + [[${paramStat.index}]];
                                        var lindx = $(this.options[this.selectedIndex]).index();


                                        var varopIdr = ($(this.options[this.selectedIndex]).attr('data-OptionId'));
//                                            alert(varopIdr+"  "+lsOpId+"  "+lindx);

                                        if (lindx == 0) {
                                            document.getElementById(lsOpId).value = "";

                                        } else {

                                            document.getElementById(lsOpId).value = varopIdr;
                                        }
                                    }
                            )

                        </script>

                    </select>

                </div>
                <div th:if="${executableParamList.executableParameters[__${paramStat.index}__].displayField !='select'}">

                    <input class="form-control autocomplete_rptinput"
                           th:type="${executableParamList.executableParameters[__${paramStat.index}__].displayField}"
                           th:id="value+${paramStat.index}"
                           th:name="paraMetervalue"
                           th:field="${executableParamList.executableParameters[__${paramStat.index}__].paraMetervalue}"
                           th:required="${executableParamList.executableParameters[__${paramStat.index}__].isRequired}"
                           th:readonly="${executableParamList.executableParameters[__${paramStat.index}__].isReadOnly}"/>
                                    <span th:hidden="span"
                                          th:text="${executableParamList.executableParameters[__${paramStat.index}__].dataSet?.id}"></span>
                </div>


                <input th:type="hidden"
                       th:id="id+${paramStat.index}"
                       th:name="paraMeterId"
                       th:class="${executableParamList.executableParameters[__${paramStat.index}__].parameterToken}"
                       th:field="${executableParamList.executableParameters[__${paramStat.index}__].paraMeterId}"/>

                <input th:type="hidden" th:id="dataSet+${paramStat.index}" th:name="dataSet"
                       th:field="${executableParamList.executableParameters[__${paramStat.index}__].dataSet}"/>
                <input th:type="hidden" id="parameterToken" th:name="parameterToken"
                       th:field="${executableParamList.executableParameters[__${paramStat.index}__].parameterToken}"/>
                <input th:type="hidden" th:id="dataType+${paramStat.index}" th:name="dataType"
                       th:field="${executableParamList.executableParameters[__${paramStat.index}__].dataType}"/>
                <input th:type="hidden" id="executables" th:name="executables"
                       th:field="${executableParamList.executableParameters[__${paramStat.index}__].executables}"/>


                <script th:inline="javascript">

                    var a;
                    var tmpId = [[${temltId}]];
                    var bg = 'value' + [[${paramStat.index}]];

                    document.getElementById([[value +${paramStat.index}]]).oninput = function () {
                        var dvalue = 'value' + [[${paramStat.index}]];
                        var dId = 'id' + [[${paramStat.index}]];
                        var dset = 'dataSet' + [[${paramStat.index}]];
                        var dispf = '#value' + [[${paramStat.index}]];
                        //alert(dispf);
                        var dbf = '#id' + [[${paramStat.index}]];
                        // alert(dbf);
                        // alert('a');
                        var pVal = document.getElementById([[value +${paramStat.index}]]).value;

                        myFunction(dvalue, dset, dispf, dbf, dId)
                    };

                    function myFunction(dvalue, dset, dispf, dbf, dId) {
                        var innerVar = document.getElementById(dvalue).value;
                        var dset = document.getElementById(dset).value;
                        //alert(parav);
                        var dispf = dispf;
                        var dbf = dbf;

                        // alert(innerVar)
                        if (innerVar.length > 1) {
                            callAutoCom(innerVar, dset, dispf, dbf);
                            document.getElementById(dvalue).focus();
//
                        } else {
                            document.getElementById(dId).value = '';
                            document.getElementById(dvalue).focus();
                        }
                    }

                    function callAutoCom(itm, dset, dispf, dbf) {
//alert("in")
                        var param1 = dset;
                        var dbfld = dbf;
                        var getvalue = 'value';
                        var urlval = '/AYE/DataSet/Get/' + param1 + '/' + tmpId;
                        var dbfieldvar = dbf;//[['#id'+${paramStat.count}]];
                        var displayfieldvar = dispf;//[['#value'+${paramStat.count}]];
//                                        alert(urlval);
                        autocom(urlval, getvalue, displayfieldvar, dbfieldvar);
//                                            autocomwithtemplate (urlval, getvalue ,displayfieldvar, dbfieldvar, template)
                    }
                    ;

                </script>

            </div>

            <div>
                <span th:id="${paramStat.index}"
                      th:utext="${executableParamList.executableParameters[__${paramStat.index}__].modalBtn}"></span>
                <script th:inline="javascript">
                    var mbExec = '#' + [[${paramStat.index}]];
                    $(mbExec).click(function () {
//                            alert(mbExec);
                        getExecmodatbtnid([[${paramStat.index}]]);
                    });
                </script>

            </div>
                <span th:if="${executableParamList.executableParameters[__${paramStat.index}__].defaultModal}">
                <div data-th-replace="fragments/accModalDataExec :: account-modal"></div>
</span>
        </div>


        <script th:inline="javascript">
            function setFromConcSearch(obj) {
                var xx = [[${lModalBtn}]];
                var lobj = obj;
                for (let p = 0; p < lobj.length; p++) {

                    var lCls = lobj[p][0];
                    var ldocu = document.getElementsByClassName(lCls);
//                        var curValId='value'+(p+1);


                    if (lobj[p][2] == 'Date') {
                        alert('x');
                        var d = lobj[p][1];

                        var now1 = new Date(d);
                        var now = moment(d, 'DD/MM/YYYY').format('YYYY-MM-DD');
                        ldocu[0].value = now;

                    } else {
                        ldocu[0].value = lobj[p][1];
                    }

                }

            }
            ;

        </script>
    </div>

</div>
<!--</div>-->
</body>
</html>