<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      layout:decorator="fragments/layout">

<head>

    <link th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}" rel="stylesheet"/>

    <script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>
    <script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>
    <style>
        .easy-autocomplete input{
            width: 100%;
        }
    </style>
</head>
<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row  col-sm-12" >
        <div class="col-sm-2  " >
        </div>
        <div class="col-sm-8 " >
            <div class="panel panel-default bottom_padding100px" >
                <!-- Default panel contents -->
                <div class="panel-heading">Report Parameters</div>
                <div class="panel-body">

                    <form th:action="@{'/Report/export/'+${rtpName}+'/'+${rptType}+'/'+${pageId}+'/'+${temltId}}"
                          th:object="${executableParamList}" th:method="post">
                        <!--<form action="/Report//Test" // th:target="_blank"-->
                        <!--th:action="@{/Report/Test}"  th:object="${reportParamList}" th:method="post">-->
                        <!--th:object="reportParam" th:object="${reportParamList}"-->

                        <!--<form action="/executable/export/UserRespRpt" th:action="@{/executable/export/UserRespRpt}"-->
                        <!--th:method="post">-->

                        <!--<p th:text="${reportParamList.getId()}"></p>-->

                        <div class="form-group col-sm-12" th:if="!${#lists.isEmpty(executableParamList.executableParameters)}">
                            <div class="form-group col-sm-12" th:each="lParam , paramStat : ${executableParamList.executableParameters}">

                                <!--<label class="col-sm-3 control-label " for="inputdocumentNumber">Document Number</label>-->
                                <label class="col-sm-4 control-label " th:text="${lParam.paraMeterName}"></label>
                                <div>
                                <input th:type="hidden" id="id" th:name="id"
                                       th:field="${executableParamList.executableParameters[__${paramStat.index}__].id}"/>

                                <input class="form-control" th:type="hidden" id="paraMeterName" th:name="paraMeterName"
                                       th:field="${executableParamList.executableParameters[__${paramStat.index}__].paraMeterName}"
                                       readonly="readonly"/>
                                </div>

                                <div class="col-sm-1 ">
                                    <b>:</b>
                                </div>
                                <div class="col-sm-7 ">
                                    <!--<input class="form-control" type="text" id="inputdocumentNumber"-->
                                    <!--name="documentNumber" />-->
                                    <!--<span th:text="value+${paramStat.count}"></span>-->
                                    <input class="form-control autocomplete_rptinput"
                                           th:type="${executableParamList.executableParameters[__${paramStat.index}__].displayField}"
                                           th:id="value+${paramStat.count}"
                                           th:name="paraMetervalue"
                                           th:field="${executableParamList.executableParameters[__${paramStat.index}__].paraMetervalue}"/>
                                    <span th:hidden="span"
                                          th:text="${executableParamList.executableParameters[__${paramStat.index}__].dataSet.id}"></span>

                                    <input th:type="hidden"
                                           th:id="id+${paramStat.count}"
                                           th:name="paraMeterId"
                                           th:field="${executableParamList.executableParameters[__${paramStat.index}__].paraMeterId}" />

                                    <input th:type="hidden" th:id="dataSet+${paramStat.count}" th:name="dataSet"
                                           th:field="${executableParamList.executableParameters[__${paramStat.index}__].dataSet}"/>
                                    <input th:type="hidden" id="parameterToken" th:name="parameterToken"
                                           th:field="${executableParamList.executableParameters[__${paramStat.index}__].parameterToken}"/>
                                    <input th:type="hidden" id="dataType" th:name="dataType"
                                           th:field="${executableParamList.executableParameters[__${paramStat.index}__].dataType}"/>
                                    <input th:type="hidden" id="executables" th:name="executables"
                                           th:field="${executableParamList.executableParameters[__${paramStat.index}__].executables}"/>


                                    <script th:inline="javascript">
                                        //                                    alert('p');
                                        var a;
                                        var tmpId = [[${temltId}]];
                                        //                                    alert('PPP'+tmpId);
                                        //
                                        var bg='value'+[[${paramStat.count}]];

                                        //alert(bg);




                                        document.getElementById([[value+${paramStat.count}]]).oninput = function () {
                                            var dvalue='value'+[[${paramStat.count}]];
                                            var dset='dataSet'+[[${paramStat.count}]];
                                            var dispf='#value'+[[${paramStat.count}]];
                                            //alert(dispf);
                                            var dbf='#id'+[[${paramStat.count}]];
                                            // alert(dbf);
                                            // alert('a');
                                            myFunction(dvalue, dset, dispf, dbf)
                                        };

                                        function myFunction(dvalue, dset,dispf, dbf) {
                                            var innerVar =document.getElementById(dvalue).value;
                                            var dset =document.getElementById(dset).value;
                                            //alert(parav);
                                            var dispf=dispf;
                                            var dbf=dbf;

                                            // alert(innerVar)
                                            if (innerVar.length >1)
                                            {
                                                //  alert("xxYY")


                                                callAutoCom(innerVar, dset, dispf, dbf);
                                                document.getElementById(dvalue).focus();
//                                                    alert("The value of the input field was changed.");


                                            }
                                        }



                                        function callAutoCom(itm, dset, dispf,dbf){
//alert("in")
                                            var param1 =dset;
                                            var dbfld =dbf;//document.getElementById([[id+${paramStat.count}]]).value;

                                            //alert(param1);
                                            var getvalue = 'value';
                                            var urlval = '/AYE/DataSet/Get/'+ param1 + '/' + tmpId;
                                            var dbfieldvar = dbf;//[['#id'+${paramStat.count}]];
                                            var displayfieldvar = dispf;//[['#value'+${paramStat.count}]];
//                                        alert(urlval);
                                            autocom (urlval, getvalue ,displayfieldvar, dbfieldvar);
//                                            autocomwithtemplate (urlval, getvalue ,displayfieldvar, dbfieldvar, template)
                                        };


                                    </script>

                                </div>
                            </div>
                        </div>

                        <div class="form-group  col-sm-12" >
                            <div class="form-group col-sm-12">
                            <label class="col-sm-4 control-label "> Schedule </label>
                            <div class="col-sm-1 ">
                                <b>:</b>
                            </div>
                            <div class="col-sm-7">
                                <select class="form-control" id="inpuSchedule"
                                        th:field="*{schedule}" name="schedule" >
                                    <option value="">Immediate</option>
                                    <option th:each="s :${scheduleList}"
                                            th:text="${s.name}"
                                            th:value="${s.id}">
                                    </option>
                                </select>
                            </div>
                            </div>
                        </div>

                        <div class="form-group  col-sm-12 text-right  Padding10px " style="padding-right: 30px;">
                            <a th:href="@{/Concurrent/getUserConc}+'/'+${rtpName}+'/'+${rptType}+'/'+${pageId}+'/'+${temltId}"
                               class="btn btn-default">View Requests</a>
                            <!--<button type="submit" class="btn btn-primary">Save</button>-->
                            <!--<button type="submit" th:name="submt" class="btn btn-primary " >Add Row-->
                            <!--</button>-->

                            <button type="submit" name="save" class="btn btn-primary">Submit</button>
                            <!--<a th:href="@{/Concurrent/getUserConc}" class="btn btn-default">Find</a>-->
                        </div>


                    </form>

                </div>
            </div>
            <div class="col-sm-2  " >
            </div>
        </div>
    </div>
</div>

<!--<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>-->

</body>
</html>